body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:709px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1763 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  opacity:0.800000011920929;
}
#u1764 {
  position:absolute;
  left:2px;
  top:504px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1765 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
}
#u1766 {
  position:absolute;
  left:2px;
  top:22px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:238px;
}
#u1767 {
  position:absolute;
  left:257px;
  top:230px;
  width:206px;
  height:238px;
}
#u1768 {
  position:absolute;
  left:2px;
  top:111px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:238px;
}
#u1769 {
  position:absolute;
  left:491px;
  top:230px;
  width:206px;
  height:238px;
}
#u1770 {
  position:absolute;
  left:2px;
  top:111px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:238px;
}
#u1771 {
  position:absolute;
  left:24px;
  top:495px;
  width:206px;
  height:238px;
}
#u1772 {
  position:absolute;
  left:2px;
  top:111px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:238px;
}
#u1773 {
  position:absolute;
  left:257px;
  top:495px;
  width:206px;
  height:238px;
}
#u1774 {
  position:absolute;
  left:2px;
  top:111px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:238px;
}
#u1775 {
  position:absolute;
  left:491px;
  top:495px;
  width:206px;
  height:238px;
}
#u1776 {
  position:absolute;
  left:2px;
  top:111px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1777 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1778 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u1779 {
  position:absolute;
  left:317px;
  top:294px;
  width:90px;
  height:90px;
}
#u1780 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#6B6B6B;
}
#u1781 {
  position:absolute;
  left:364px;
  top:358px;
  width:40px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#6B6B6B;
}
#u1782 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u1783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#6B6B6B;
}
#u1783 {
  position:absolute;
  left:307px;
  top:236px;
  width:111px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#6B6B6B;
}
#u1784 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u1785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:64px;
}
#u1785 {
  position:absolute;
  left:275px;
  top:404px;
  width:80px;
  height:64px;
}
#u1786 {
  position:absolute;
  left:2px;
  top:24px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#868686;
}
#u1787 {
  position:absolute;
  left:360px;
  top:423px;
  width:49px;
  height:26px;
  font-size:22px;
  color:#868686;
}
#u1788 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:2px;
}
#u1789 {
  position:absolute;
  left:275px;
  top:268px;
  width:170px;
  height:1px;
}
#u1790 {
  position:absolute;
  left:2px;
  top:-8px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1791 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1792 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u1793 {
  position:absolute;
  left:551px;
  top:294px;
  width:90px;
  height:90px;
}
#u1794 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#6B6B6B;
}
#u1795 {
  position:absolute;
  left:598px;
  top:358px;
  width:40px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#6B6B6B;
}
#u1796 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u1797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#6B6B6B;
}
#u1797 {
  position:absolute;
  left:541px;
  top:236px;
  width:111px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#6B6B6B;
}
#u1798 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u1799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:64px;
}
#u1799 {
  position:absolute;
  left:509px;
  top:404px;
  width:80px;
  height:64px;
}
#u1800 {
  position:absolute;
  left:2px;
  top:24px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#868686;
}
#u1801 {
  position:absolute;
  left:594px;
  top:423px;
  width:49px;
  height:26px;
  font-size:22px;
  color:#868686;
}
#u1802 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:2px;
}
#u1803 {
  position:absolute;
  left:509px;
  top:268px;
  width:170px;
  height:1px;
}
#u1804 {
  position:absolute;
  left:2px;
  top:-8px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1805 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1806 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u1807 {
  position:absolute;
  left:84px;
  top:561px;
  width:90px;
  height:90px;
}
#u1808 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#6B6B6B;
}
#u1809 {
  position:absolute;
  left:131px;
  top:625px;
  width:40px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#6B6B6B;
}
#u1810 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u1811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#6B6B6B;
}
#u1811 {
  position:absolute;
  left:74px;
  top:503px;
  width:111px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#6B6B6B;
}
#u1812 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u1813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:64px;
}
#u1813 {
  position:absolute;
  left:42px;
  top:671px;
  width:80px;
  height:64px;
}
#u1814 {
  position:absolute;
  left:2px;
  top:24px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#868686;
}
#u1815 {
  position:absolute;
  left:127px;
  top:690px;
  width:49px;
  height:26px;
  font-size:22px;
  color:#868686;
}
#u1816 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:2px;
}
#u1817 {
  position:absolute;
  left:42px;
  top:535px;
  width:170px;
  height:1px;
}
#u1818 {
  position:absolute;
  left:2px;
  top:-8px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1819 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1820 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u1821 {
  position:absolute;
  left:317px;
  top:561px;
  width:90px;
  height:90px;
}
#u1822 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#6B6B6B;
}
#u1823 {
  position:absolute;
  left:364px;
  top:625px;
  width:40px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#6B6B6B;
}
#u1824 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u1825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#6B6B6B;
}
#u1825 {
  position:absolute;
  left:307px;
  top:503px;
  width:111px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#6B6B6B;
}
#u1826 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u1827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:64px;
}
#u1827 {
  position:absolute;
  left:275px;
  top:671px;
  width:80px;
  height:64px;
}
#u1828 {
  position:absolute;
  left:2px;
  top:24px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#868686;
}
#u1829 {
  position:absolute;
  left:360px;
  top:690px;
  width:49px;
  height:26px;
  font-size:22px;
  color:#868686;
}
#u1830 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:2px;
}
#u1831 {
  position:absolute;
  left:275px;
  top:535px;
  width:170px;
  height:1px;
}
#u1832 {
  position:absolute;
  left:2px;
  top:-8px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1833 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1834 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u1835 {
  position:absolute;
  left:551px;
  top:561px;
  width:90px;
  height:90px;
}
#u1836 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#6B6B6B;
}
#u1837 {
  position:absolute;
  left:598px;
  top:625px;
  width:40px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#6B6B6B;
}
#u1838 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u1839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#6B6B6B;
}
#u1839 {
  position:absolute;
  left:541px;
  top:503px;
  width:111px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#6B6B6B;
}
#u1840 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u1841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:64px;
}
#u1841 {
  position:absolute;
  left:509px;
  top:671px;
  width:80px;
  height:64px;
}
#u1842 {
  position:absolute;
  left:2px;
  top:24px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#868686;
}
#u1843 {
  position:absolute;
  left:594px;
  top:690px;
  width:49px;
  height:26px;
  font-size:22px;
  color:#868686;
}
#u1844 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:2px;
}
#u1845 {
  position:absolute;
  left:509px;
  top:535px;
  width:170px;
  height:1px;
}
#u1846 {
  position:absolute;
  left:2px;
  top:-8px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:38px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1847 {
  position:absolute;
  left:236px;
  top:11px;
  width:136px;
  height:38px;
}
#u1848 {
  position:absolute;
  left:2px;
  top:11px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1849 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:38px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1850 {
  position:absolute;
  left:402px;
  top:11px;
  width:144px;
  height:38px;
}
#u1851 {
  position:absolute;
  left:2px;
  top:11px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u1852 {
  position:absolute;
  left:275px;
  top:19px;
  width:59px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u1853 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:39px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1854 {
  position:absolute;
  left:579px;
  top:11px;
  width:132px;
  height:39px;
}
#u1855 {
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u1856 {
  position:absolute;
  left:460px;
  top:19px;
  width:39px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u1857 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u1858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u1858 {
  position:absolute;
  left:620px;
  top:19px;
  width:51px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u1859 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u1860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u1860 {
  position:absolute;
  left:213px;
  top:4px;
  width:52px;
  height:52px;
}
#u1861 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u1862 {
  position:absolute;
  left:387px;
  top:4px;
  width:52px;
  height:52px;
}
#u1863 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:38px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1864 {
  position:absolute;
  left:64px;
  top:11px;
  width:139px;
  height:38px;
}
#u1865 {
  position:absolute;
  left:2px;
  top:11px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1866 {
  position:absolute;
  left:65px;
  top:12px;
  width:105px;
  height:36px;
}
#u1867 {
  position:absolute;
  left:2px;
  top:10px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:52px;
}
#u1868 {
  position:absolute;
  left:9px;
  top:4px;
  width:66px;
  height:52px;
}
#u1869 {
  position:absolute;
  left:2px;
  top:18px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#BCBCBC;
}
#u1870 {
  position:absolute;
  left:25px;
  top:14px;
  width:33px;
  height:33px;
  font-size:28px;
  color:#BCBCBC;
}
#u1871 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:126px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1873 {
  position:absolute;
  left:0px;
  top:898px;
  width:720px;
  height:126px;
}
#u1874 {
  position:absolute;
  left:2px;
  top:55px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u1875 {
  position:absolute;
  left:135px;
  top:906px;
  width:116px;
  height:116px;
}
#u1876 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:116px;
}
#u1877 {
  position:absolute;
  left:505px;
  top:906px;
  width:212px;
  height:116px;
}
#u1878 {
  position:absolute;
  left:2px;
  top:50px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u1879 {
  position:absolute;
  left:385px;
  top:907px;
  width:116px;
  height:116px;
}
#u1880 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u1881 {
  position:absolute;
  left:261px;
  top:906px;
  width:116px;
  height:116px;
}
#u1882 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1883 {
  position:absolute;
  left:172px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u1884 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1885 {
  position:absolute;
  left:592px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u1886 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1887 {
  position:absolute;
  left:426px;
  top:995px;
  width:49px;
  height:28px;
  color:#999999;
}
#u1888 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1889 {
  position:absolute;
  left:302px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u1890 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u1891 {
  position:absolute;
  left:9px;
  top:906px;
  width:116px;
  height:116px;
}
#u1892 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1893 {
  position:absolute;
  left:48px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u1894 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1895 {
  position:absolute;
  left:135px;
  top:906px;
  width:116px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1896 {
  position:absolute;
  left:388px;
  top:906px;
  width:116px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1897 {
  position:absolute;
  left:511px;
  top:906px;
  width:201px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1898 {
  position:absolute;
  left:261px;
  top:906px;
  width:117px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1899 {
  position:absolute;
  left:9px;
  top:906px;
  width:116px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:98px;
}
#u1901 {
  position:absolute;
  left:1px;
  top:800px;
  width:718px;
  height:98px;
}
#u1902 {
  position:absolute;
  left:2px;
  top:41px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:62px;
}
#u1903 {
  position:absolute;
  left:21px;
  top:818px;
  width:100px;
  height:62px;
}
#u1904 {
  position:absolute;
  left:2px;
  top:23px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u1905 {
  position:absolute;
  left:35px;
  top:817px;
  width:64px;
  height:64px;
}
#u1906 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u1907 {
  position:absolute;
  left:558px;
  top:4px;
  width:52px;
  height:52px;
}
#u1908 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1909 {
  position:absolute;
  left:15px;
  top:816px;
  width:107px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:62px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1910 {
  position:absolute;
  left:260px;
  top:818px;
  width:200px;
  height:62px;
  font-size:20px;
  color:#FFFFFF;
}
#u1911 {
  position:absolute;
  left:2px;
  top:19px;
  width:196px;
  word-wrap:break-word;
}
#u1912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#A1A1A1;
}
#u1912 {
  position:absolute;
  left:483px;
  top:837px;
  width:169px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#A1A1A1;
}
#u1913 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u1914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:208px;
}
#u1914 {
  position:absolute;
  left:-11px;
  top:47px;
  width:293px;
  height:208px;
}
#u1915 {
  position:absolute;
  left:2px;
  top:96px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:102px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1916 {
  position:absolute;
  left:270px;
  top:91px;
  width:338px;
  height:102px;
}
#u1917 {
  position:absolute;
  left:2px;
  top:43px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#A1A1A1;
}
#u1918 {
  position:absolute;
  left:292px;
  top:106px;
  width:241px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#A1A1A1;
}
#u1919 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u1920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:238px;
}
#u1920 {
  position:absolute;
  left:24px;
  top:230px;
  width:206px;
  height:238px;
}
#u1921 {
  position:absolute;
  left:2px;
  top:111px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1922 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1923 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u1924 {
  position:absolute;
  left:84px;
  top:294px;
  width:90px;
  height:90px;
}
#u1925 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#6B6B6B;
}
#u1926 {
  position:absolute;
  left:131px;
  top:358px;
  width:40px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#6B6B6B;
}
#u1927 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u1928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#6B6B6B;
}
#u1928 {
  position:absolute;
  left:74px;
  top:236px;
  width:111px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#6B6B6B;
}
#u1929 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u1930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:64px;
}
#u1930 {
  position:absolute;
  left:42px;
  top:404px;
  width:80px;
  height:64px;
}
#u1931 {
  position:absolute;
  left:2px;
  top:24px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#868686;
}
#u1932 {
  position:absolute;
  left:127px;
  top:423px;
  width:49px;
  height:26px;
  font-size:22px;
  color:#868686;
}
#u1933 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:2px;
}
#u1934 {
  position:absolute;
  left:42px;
  top:268px;
  width:170px;
  height:1px;
}
#u1935 {
  position:absolute;
  left:2px;
  top:-8px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1936 {
  position:absolute;
  left:24px;
  top:236px;
  width:206px;
  height:232px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1937_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1937 {
  position:absolute;
  left:204px;
  top:225px;
  width:30px;
  height:30px;
}
#u1938 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1939 {
  position:absolute;
  left:0px;
  top:0px;
  visibility:hidden;
}
#u1939_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1939_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1940 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  opacity:0.800000011920929;
}
#u1941 {
  position:absolute;
  left:2px;
  top:504px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:168px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1942 {
  position:absolute;
  left:115px;
  top:367px;
  width:579px;
  height:168px;
}
#u1943 {
  position:absolute;
  left:2px;
  top:76px;
  width:575px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u1944 {
  position:absolute;
  left:297px;
  top:385px;
  width:351px;
  height:28px;
  font-size:24px;
}
#u1945 {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  white-space:nowrap;
}
#u1946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1946 {
  position:absolute;
  left:424px;
  top:462px;
  width:150px;
  height:62px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1947 {
  position:absolute;
  left:2px;
  top:19px;
  width:146px;
  word-wrap:break-word;
}
#u1948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:294px;
}
#u1948 {
  position:absolute;
  left:12px;
  top:274px;
  width:341px;
  height:294px;
}
#u1949 {
  position:absolute;
  left:2px;
  top:139px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1950 {
  position:absolute;
  left:634px;
  top:316px;
  width:60px;
  height:60px;
}
#u1951 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1952 {
  position:absolute;
  left:610px;
  top:296px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1953 {
  position:absolute;
  left:423px;
  top:462px;
  width:151px;
  height:62px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
