body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7770 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  opacity:0.800000011920929;
}
#u7771 {
  position:absolute;
  left:2px;
  top:504px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7772 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
}
#u7773 {
  position:absolute;
  left:2px;
  top:22px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:673px;
}
#u7774 {
  position:absolute;
  left:8px;
  top:122px;
  width:704px;
  height:673px;
}
#u7775 {
  position:absolute;
  left:2px;
  top:328px;
  width:700px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:703px;
  height:141px;
}
#u7776 {
  position:absolute;
  left:9px;
  top:649px;
  width:703px;
  height:141px;
}
#u7777 {
  position:absolute;
  left:2px;
  top:62px;
  width:699px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u7778 {
  position:absolute;
  left:43px;
  top:690px;
  width:90px;
  height:90px;
}
#u7779 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u7780 {
  position:absolute;
  left:143px;
  top:753px;
  width:117px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u7781 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u7782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#999999;
}
#u7782 {
  position:absolute;
  left:143px;
  top:690px;
  width:85px;
  height:33px;
  font-size:28px;
  color:#999999;
}
#u7783 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u7784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:2px;
}
#u7784 {
  position:absolute;
  left:-5px;
  top:676px;
  width:118px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7785 {
  position:absolute;
  left:60px;
  top:-8px;
  width:1px;
  visibility:hidden;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:-1px 8.5px;
  -ms-transform-origin:-1px 8.5px;
  -moz-transform-origin:-1px 8.5px;
  -webkit-transform-origin:-1px 8.5px;
}
#u7786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:219px;
}
#u7786 {
  position:absolute;
  left:8px;
  top:240px;
  width:308px;
  height:219px;
}
#u7787 {
  position:absolute;
  left:2px;
  top:102px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:225px;
}
#u7788 {
  position:absolute;
  left:381px;
  top:240px;
  width:316px;
  height:225px;
}
#u7789 {
  position:absolute;
  left:2px;
  top:104px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:37px;
}
#u7790 {
  position:absolute;
  left:35px;
  top:163px;
  width:281px;
  height:37px;
}
#u7791 {
  position:absolute;
  left:2px;
  top:10px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7792_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u7792 {
  position:absolute;
  left:71px;
  top:169px;
  width:182px;
  height:24px;
  font-size:20px;
  color:#999999;
}
#u7793 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u7794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:37px;
}
#u7794 {
  position:absolute;
  left:409px;
  top:163px;
  width:281px;
  height:37px;
}
#u7795 {
  position:absolute;
  left:2px;
  top:10px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u7796 {
  position:absolute;
  left:459px;
  top:169px;
  width:182px;
  height:24px;
  font-size:20px;
  color:#999999;
}
#u7797 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u7798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:89px;
}
#u7798 {
  position:absolute;
  left:316px;
  top:273px;
  width:88px;
  height:89px;
  opacity:0.5;
}
#u7799 {
  position:absolute;
  left:2px;
  top:36px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:54px;
}
#u7800 {
  position:absolute;
  left:333px;
  top:568px;
  width:53px;
  height:54px;
  opacity:0.5;
}
#u7801 {
  position:absolute;
  left:2px;
  top:19px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7802 {
  position:absolute;
  left:67px;
  top:507px;
  width:201px;
  height:28px;
}
#u7803 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u7804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:33px;
}
#u7804 {
  position:absolute;
  left:414px;
  top:465px;
  width:271px;
  height:33px;
}
#u7805 {
  position:absolute;
  left:2px;
  top:8px;
  width:267px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u7806 {
  position:absolute;
  left:468px;
  top:469px;
  width:164px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u7807 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u7808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u7808 {
  position:absolute;
  left:397px;
  top:509px;
  width:313px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u7809 {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  white-space:nowrap;
}
#u7810 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u7811 {
  position:absolute;
  left:43px;
  top:564px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u7812 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u7813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7813 {
  position:absolute;
  left:93px;
  top:562px;
  width:66px;
  height:28px;
  color:#999999;
}
#u7814 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u7815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u7815 {
  position:absolute;
  left:193px;
  top:566px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u7816 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u7817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7817 {
  position:absolute;
  left:243px;
  top:564px;
  width:66px;
  height:28px;
  color:#999999;
}
#u7818 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u7819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u7819 {
  position:absolute;
  left:43px;
  top:600px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u7820 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u7821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7821 {
  position:absolute;
  left:93px;
  top:598px;
  width:53px;
  height:28px;
  color:#999999;
}
#u7822 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u7823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u7823 {
  position:absolute;
  left:193px;
  top:600px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u7824 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u7825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7825 {
  position:absolute;
  left:243px;
  top:598px;
  width:40px;
  height:28px;
  color:#999999;
}
#u7826 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u7827 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u7828 {
  position:absolute;
  left:416px;
  top:564px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u7829 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u7830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7FBA00;
}
#u7830 {
  position:absolute;
  left:466px;
  top:562px;
  width:66px;
  height:28px;
  color:#7FBA00;
}
#u7831 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u7832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u7832 {
  position:absolute;
  left:566px;
  top:566px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u7833 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u7834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7FBA00;
}
#u7834 {
  position:absolute;
  left:616px;
  top:564px;
  width:66px;
  height:28px;
  color:#7FBA00;
}
#u7835 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u7836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u7836 {
  position:absolute;
  left:416px;
  top:600px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u7837 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u7838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7FBA00;
}
#u7838 {
  position:absolute;
  left:466px;
  top:598px;
  width:53px;
  height:28px;
  color:#7FBA00;
}
#u7839 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u7840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u7840 {
  position:absolute;
  left:566px;
  top:600px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u7841 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u7842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7FBA00;
}
#u7842 {
  position:absolute;
  left:616px;
  top:598px;
  width:40px;
  height:28px;
  color:#7FBA00;
}
#u7843 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u7844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u7844 {
  position:absolute;
  left:304px;
  top:690px;
  width:90px;
  height:90px;
}
#u7845 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u7846 {
  position:absolute;
  left:408px;
  top:753px;
  width:48px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u7847 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u7848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#999999;
}
#u7848 {
  position:absolute;
  left:404px;
  top:690px;
  width:57px;
  height:33px;
  font-size:28px;
  color:#999999;
}
#u7849 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:38px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7851 {
  position:absolute;
  left:236px;
  top:11px;
  width:136px;
  height:38px;
}
#u7852 {
  position:absolute;
  left:2px;
  top:11px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7853 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:38px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7854 {
  position:absolute;
  left:402px;
  top:11px;
  width:144px;
  height:38px;
}
#u7855 {
  position:absolute;
  left:2px;
  top:11px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u7856 {
  position:absolute;
  left:275px;
  top:19px;
  width:59px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u7857 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u7858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:39px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7858 {
  position:absolute;
  left:579px;
  top:11px;
  width:132px;
  height:39px;
}
#u7859 {
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u7860 {
  position:absolute;
  left:460px;
  top:19px;
  width:39px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u7861 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u7862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u7862 {
  position:absolute;
  left:620px;
  top:19px;
  width:66px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u7863 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u7864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u7864 {
  position:absolute;
  left:213px;
  top:4px;
  width:52px;
  height:52px;
}
#u7865 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:47px;
}
#u7866 {
  position:absolute;
  left:569px;
  top:7px;
  width:34px;
  height:47px;
}
#u7867 {
  position:absolute;
  left:2px;
  top:16px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u7868 {
  position:absolute;
  left:387px;
  top:4px;
  width:52px;
  height:52px;
}
#u7869 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:38px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7870 {
  position:absolute;
  left:64px;
  top:11px;
  width:139px;
  height:38px;
}
#u7871 {
  position:absolute;
  left:2px;
  top:11px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7872 {
  position:absolute;
  left:65px;
  top:12px;
  width:105px;
  height:36px;
}
#u7873 {
  position:absolute;
  left:2px;
  top:10px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:52px;
}
#u7874 {
  position:absolute;
  left:9px;
  top:4px;
  width:66px;
  height:52px;
}
#u7875 {
  position:absolute;
  left:2px;
  top:18px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#BCBCBC;
}
#u7876 {
  position:absolute;
  left:25px;
  top:14px;
  width:33px;
  height:33px;
  font-size:28px;
  color:#BCBCBC;
}
#u7877 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u7879 {
  position:absolute;
  left:21px;
  top:66px;
  width:678px;
  height:60px;
  overflow:hidden;
  touch-action:none;
}
#u7879_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:678px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7879_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7880 {
  position:absolute;
  left:0px;
  top:0px;
}
#u7880_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u7880_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:56px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7881 {
  position:absolute;
  left:162px;
  top:0px;
  width:150px;
  height:56px;
}
#u7882 {
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:56px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7883 {
  position:absolute;
  left:314px;
  top:0px;
  width:150px;
  height:56px;
}
#u7884 {
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:56px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7885 {
  position:absolute;
  left:618px;
  top:0px;
  width:150px;
  height:56px;
}
#u7886 {
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7887 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
}
#u7888 {
  position:absolute;
  left:2px;
  top:22px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:56px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7889 {
  position:absolute;
  left:466px;
  top:0px;
  width:150px;
  height:56px;
}
#u7890 {
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u7891 {
  position:absolute;
  left:48px;
  top:16px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u7892 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u7893 {
  position:absolute;
  left:204px;
  top:16px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u7894 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u7895 {
  position:absolute;
  left:360px;
  top:16px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u7896 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u7897 {
  position:absolute;
  left:512px;
  top:16px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u7898 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u7899 {
  position:absolute;
  left:669px;
  top:16px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u7900 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:56px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7901 {
  position:absolute;
  left:770px;
  top:0px;
  width:150px;
  height:56px;
}
#u7902 {
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u7903 {
  position:absolute;
  left:821px;
  top:16px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u7904 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7905 {
  position:absolute;
  left:162px;
  top:0px;
  width:150px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7906 {
  position:absolute;
  left:314px;
  top:0px;
  width:150px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7907 {
  position:absolute;
  left:466px;
  top:0px;
  width:150px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7908 {
  position:absolute;
  left:-1px;
  top:1px;
  width:160px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7909 {
  position:absolute;
  left:618px;
  top:0px;
  width:150px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:126px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7911 {
  position:absolute;
  left:0px;
  top:898px;
  width:720px;
  height:126px;
}
#u7912 {
  position:absolute;
  left:2px;
  top:55px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u7913 {
  position:absolute;
  left:135px;
  top:906px;
  width:116px;
  height:116px;
}
#u7914 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:116px;
}
#u7915 {
  position:absolute;
  left:505px;
  top:906px;
  width:212px;
  height:116px;
}
#u7916 {
  position:absolute;
  left:2px;
  top:50px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u7917 {
  position:absolute;
  left:385px;
  top:907px;
  width:116px;
  height:116px;
}
#u7918 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u7919 {
  position:absolute;
  left:261px;
  top:906px;
  width:116px;
  height:116px;
}
#u7920 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7921 {
  position:absolute;
  left:172px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u7922 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7923 {
  position:absolute;
  left:592px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u7924 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7925 {
  position:absolute;
  left:426px;
  top:995px;
  width:49px;
  height:28px;
  color:#999999;
}
#u7926 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7927 {
  position:absolute;
  left:302px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u7928 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u7929 {
  position:absolute;
  left:9px;
  top:906px;
  width:116px;
  height:116px;
}
#u7930 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7931 {
  position:absolute;
  left:48px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u7932 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7933 {
  position:absolute;
  left:135px;
  top:906px;
  width:116px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7934 {
  position:absolute;
  left:388px;
  top:906px;
  width:116px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7935 {
  position:absolute;
  left:511px;
  top:906px;
  width:201px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7936 {
  position:absolute;
  left:261px;
  top:906px;
  width:117px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7937 {
  position:absolute;
  left:9px;
  top:906px;
  width:116px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:98px;
}
#u7939 {
  position:absolute;
  left:1px;
  top:800px;
  width:718px;
  height:98px;
}
#u7940 {
  position:absolute;
  left:2px;
  top:41px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:62px;
}
#u7941 {
  position:absolute;
  left:21px;
  top:818px;
  width:100px;
  height:62px;
}
#u7942 {
  position:absolute;
  left:2px;
  top:23px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u7943 {
  position:absolute;
  left:35px;
  top:817px;
  width:64px;
  height:64px;
}
#u7944 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7945 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:62px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u7946 {
  position:absolute;
  left:249px;
  top:818px;
  width:200px;
  height:62px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u7947 {
  position:absolute;
  left:2px;
  top:23px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u7948 {
  position:absolute;
  left:360px;
  top:835px;
  width:79px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u7949 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u7950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u7950 {
  position:absolute;
  left:269px;
  top:837px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u7951 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u7952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u7952 {
  position:absolute;
  left:320px;
  top:829px;
  width:40px;
  height:40px;
}
#u7953 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:703px;
  height:38px;
}
#u7954 {
  position:absolute;
  left:9px;
  top:637px;
  width:703px;
  height:38px;
}
#u7955 {
  position:absolute;
  left:2px;
  top:11px;
  width:699px;
  word-wrap:break-word;
}
#u7956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
}
#u7956 {
  position:absolute;
  left:43px;
  top:642px;
  width:97px;
  height:28px;
  font-size:24px;
  color:#FFFFFF;
}
#u7957 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
