body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10148 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  opacity:0.800000011920929;
}
#u10149 {
  position:absolute;
  left:2px;
  top:504px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10150 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
}
#u10151 {
  position:absolute;
  left:2px;
  top:22px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:673px;
}
#u10152 {
  position:absolute;
  left:8px;
  top:122px;
  width:704px;
  height:673px;
}
#u10153 {
  position:absolute;
  left:2px;
  top:328px;
  width:700px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:703px;
  height:141px;
}
#u10154 {
  position:absolute;
  left:9px;
  top:649px;
  width:703px;
  height:141px;
}
#u10155 {
  position:absolute;
  left:2px;
  top:62px;
  width:699px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u10156 {
  position:absolute;
  left:43px;
  top:690px;
  width:90px;
  height:90px;
}
#u10157 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u10158 {
  position:absolute;
  left:143px;
  top:753px;
  width:117px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u10159 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u10160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#999999;
}
#u10160 {
  position:absolute;
  left:143px;
  top:690px;
  width:85px;
  height:33px;
  font-size:28px;
  color:#999999;
}
#u10161 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u10162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:2px;
}
#u10162 {
  position:absolute;
  left:-5px;
  top:676px;
  width:118px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u10163 {
  position:absolute;
  left:60px;
  top:-8px;
  width:1px;
  visibility:hidden;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:-1px 8.5px;
  -ms-transform-origin:-1px 8.5px;
  -moz-transform-origin:-1px 8.5px;
  -webkit-transform-origin:-1px 8.5px;
}
#u10164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:219px;
}
#u10164 {
  position:absolute;
  left:8px;
  top:240px;
  width:308px;
  height:219px;
}
#u10165 {
  position:absolute;
  left:2px;
  top:102px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:225px;
}
#u10166 {
  position:absolute;
  left:381px;
  top:240px;
  width:316px;
  height:225px;
}
#u10167 {
  position:absolute;
  left:2px;
  top:104px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:37px;
}
#u10168 {
  position:absolute;
  left:35px;
  top:163px;
  width:281px;
  height:37px;
}
#u10169 {
  position:absolute;
  left:2px;
  top:10px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u10170 {
  position:absolute;
  left:71px;
  top:169px;
  width:182px;
  height:24px;
  font-size:20px;
  color:#999999;
}
#u10171 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u10172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:37px;
}
#u10172 {
  position:absolute;
  left:409px;
  top:163px;
  width:281px;
  height:37px;
}
#u10173 {
  position:absolute;
  left:2px;
  top:10px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u10174 {
  position:absolute;
  left:459px;
  top:169px;
  width:182px;
  height:24px;
  font-size:20px;
  color:#999999;
}
#u10175 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u10176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:89px;
}
#u10176 {
  position:absolute;
  left:316px;
  top:273px;
  width:88px;
  height:89px;
  opacity:0.5;
}
#u10177 {
  position:absolute;
  left:2px;
  top:36px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:54px;
}
#u10178 {
  position:absolute;
  left:333px;
  top:568px;
  width:53px;
  height:54px;
  opacity:0.5;
}
#u10179 {
  position:absolute;
  left:2px;
  top:19px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10180 {
  position:absolute;
  left:67px;
  top:507px;
  width:201px;
  height:28px;
}
#u10181 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u10182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:33px;
}
#u10182 {
  position:absolute;
  left:414px;
  top:465px;
  width:271px;
  height:33px;
}
#u10183 {
  position:absolute;
  left:2px;
  top:8px;
  width:267px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u10184 {
  position:absolute;
  left:468px;
  top:469px;
  width:164px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u10185 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u10186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u10186 {
  position:absolute;
  left:397px;
  top:509px;
  width:313px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u10187 {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  white-space:nowrap;
}
#u10188 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u10189 {
  position:absolute;
  left:43px;
  top:564px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u10190 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u10191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u10191 {
  position:absolute;
  left:93px;
  top:562px;
  width:66px;
  height:28px;
  color:#999999;
}
#u10192 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u10193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u10193 {
  position:absolute;
  left:193px;
  top:566px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u10194 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u10195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u10195 {
  position:absolute;
  left:243px;
  top:564px;
  width:66px;
  height:28px;
  color:#999999;
}
#u10196 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u10197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u10197 {
  position:absolute;
  left:43px;
  top:600px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u10198 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u10199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u10199 {
  position:absolute;
  left:93px;
  top:598px;
  width:53px;
  height:28px;
  color:#999999;
}
#u10200 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u10201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u10201 {
  position:absolute;
  left:193px;
  top:600px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u10202 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u10203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u10203 {
  position:absolute;
  left:243px;
  top:598px;
  width:40px;
  height:28px;
  color:#999999;
}
#u10204 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u10205 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u10206 {
  position:absolute;
  left:416px;
  top:564px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u10207 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u10208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7FBA00;
}
#u10208 {
  position:absolute;
  left:466px;
  top:562px;
  width:66px;
  height:28px;
  color:#7FBA00;
}
#u10209 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u10210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u10210 {
  position:absolute;
  left:566px;
  top:566px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u10211 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u10212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7FBA00;
}
#u10212 {
  position:absolute;
  left:616px;
  top:564px;
  width:66px;
  height:28px;
  color:#7FBA00;
}
#u10213 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u10214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u10214 {
  position:absolute;
  left:416px;
  top:600px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u10215 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u10216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7FBA00;
}
#u10216 {
  position:absolute;
  left:466px;
  top:598px;
  width:53px;
  height:28px;
  color:#7FBA00;
}
#u10217 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u10218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u10218 {
  position:absolute;
  left:566px;
  top:600px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u10219 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u10220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7FBA00;
}
#u10220 {
  position:absolute;
  left:616px;
  top:598px;
  width:40px;
  height:28px;
  color:#7FBA00;
}
#u10221 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u10222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u10222 {
  position:absolute;
  left:304px;
  top:690px;
  width:90px;
  height:90px;
}
#u10223 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u10224 {
  position:absolute;
  left:408px;
  top:753px;
  width:48px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u10225 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u10226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#999999;
}
#u10226 {
  position:absolute;
  left:404px;
  top:690px;
  width:57px;
  height:33px;
  font-size:28px;
  color:#999999;
}
#u10227 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:38px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10229 {
  position:absolute;
  left:236px;
  top:11px;
  width:136px;
  height:38px;
}
#u10230 {
  position:absolute;
  left:2px;
  top:11px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10231 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:38px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10232 {
  position:absolute;
  left:402px;
  top:11px;
  width:144px;
  height:38px;
}
#u10233 {
  position:absolute;
  left:2px;
  top:11px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u10234 {
  position:absolute;
  left:275px;
  top:19px;
  width:59px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u10235 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u10236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:39px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10236 {
  position:absolute;
  left:579px;
  top:11px;
  width:132px;
  height:39px;
}
#u10237 {
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u10238 {
  position:absolute;
  left:460px;
  top:19px;
  width:39px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u10239 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u10240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u10240 {
  position:absolute;
  left:620px;
  top:19px;
  width:66px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u10241 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u10242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u10242 {
  position:absolute;
  left:213px;
  top:4px;
  width:52px;
  height:52px;
}
#u10243 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:47px;
}
#u10244 {
  position:absolute;
  left:569px;
  top:7px;
  width:34px;
  height:47px;
}
#u10245 {
  position:absolute;
  left:2px;
  top:16px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u10246 {
  position:absolute;
  left:387px;
  top:4px;
  width:52px;
  height:52px;
}
#u10247 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:38px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10248 {
  position:absolute;
  left:64px;
  top:11px;
  width:139px;
  height:38px;
}
#u10249 {
  position:absolute;
  left:2px;
  top:11px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10250 {
  position:absolute;
  left:65px;
  top:12px;
  width:105px;
  height:36px;
}
#u10251 {
  position:absolute;
  left:2px;
  top:10px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:52px;
}
#u10252 {
  position:absolute;
  left:9px;
  top:4px;
  width:66px;
  height:52px;
}
#u10253 {
  position:absolute;
  left:2px;
  top:18px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#BCBCBC;
}
#u10254 {
  position:absolute;
  left:25px;
  top:14px;
  width:33px;
  height:33px;
  font-size:28px;
  color:#BCBCBC;
}
#u10255 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u10257 {
  position:absolute;
  left:21px;
  top:66px;
  width:678px;
  height:60px;
  overflow:hidden;
  touch-action:none;
}
#u10257_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:678px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u10257_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10258 {
  position:absolute;
  left:0px;
  top:0px;
}
#u10258_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u10258_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:56px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10259 {
  position:absolute;
  left:162px;
  top:0px;
  width:150px;
  height:56px;
}
#u10260 {
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:56px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10261 {
  position:absolute;
  left:314px;
  top:0px;
  width:150px;
  height:56px;
}
#u10262 {
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:56px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10263 {
  position:absolute;
  left:618px;
  top:0px;
  width:150px;
  height:56px;
}
#u10264 {
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10265 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
}
#u10266 {
  position:absolute;
  left:2px;
  top:22px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:56px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10267 {
  position:absolute;
  left:466px;
  top:0px;
  width:150px;
  height:56px;
}
#u10268 {
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u10269 {
  position:absolute;
  left:48px;
  top:16px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u10270 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u10271 {
  position:absolute;
  left:204px;
  top:16px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u10272 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u10273 {
  position:absolute;
  left:360px;
  top:16px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u10274 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u10275 {
  position:absolute;
  left:512px;
  top:16px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u10276 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u10277 {
  position:absolute;
  left:669px;
  top:16px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u10278 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:56px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10279 {
  position:absolute;
  left:770px;
  top:0px;
  width:150px;
  height:56px;
}
#u10280 {
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u10281 {
  position:absolute;
  left:821px;
  top:16px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u10282 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10283 {
  position:absolute;
  left:162px;
  top:0px;
  width:150px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10284 {
  position:absolute;
  left:314px;
  top:0px;
  width:150px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10285 {
  position:absolute;
  left:466px;
  top:0px;
  width:150px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10286 {
  position:absolute;
  left:-1px;
  top:1px;
  width:160px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10287 {
  position:absolute;
  left:618px;
  top:0px;
  width:150px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:126px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10289 {
  position:absolute;
  left:0px;
  top:898px;
  width:720px;
  height:126px;
}
#u10290 {
  position:absolute;
  left:2px;
  top:55px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u10291 {
  position:absolute;
  left:135px;
  top:906px;
  width:116px;
  height:116px;
}
#u10292 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:116px;
}
#u10293 {
  position:absolute;
  left:505px;
  top:906px;
  width:212px;
  height:116px;
}
#u10294 {
  position:absolute;
  left:2px;
  top:50px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u10295 {
  position:absolute;
  left:385px;
  top:907px;
  width:116px;
  height:116px;
}
#u10296 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u10297 {
  position:absolute;
  left:261px;
  top:906px;
  width:116px;
  height:116px;
}
#u10298 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u10299 {
  position:absolute;
  left:172px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u10300 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u10301 {
  position:absolute;
  left:592px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u10302 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u10303 {
  position:absolute;
  left:426px;
  top:995px;
  width:49px;
  height:28px;
  color:#999999;
}
#u10304 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u10305 {
  position:absolute;
  left:302px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u10306 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u10307 {
  position:absolute;
  left:9px;
  top:906px;
  width:116px;
  height:116px;
}
#u10308 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u10309 {
  position:absolute;
  left:48px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u10310 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10311 {
  position:absolute;
  left:135px;
  top:906px;
  width:116px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10312 {
  position:absolute;
  left:388px;
  top:906px;
  width:116px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10313 {
  position:absolute;
  left:511px;
  top:906px;
  width:201px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10314 {
  position:absolute;
  left:261px;
  top:906px;
  width:117px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10315 {
  position:absolute;
  left:9px;
  top:906px;
  width:116px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:98px;
}
#u10317 {
  position:absolute;
  left:1px;
  top:800px;
  width:718px;
  height:98px;
}
#u10318 {
  position:absolute;
  left:2px;
  top:41px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:62px;
}
#u10319 {
  position:absolute;
  left:21px;
  top:818px;
  width:100px;
  height:62px;
}
#u10320 {
  position:absolute;
  left:2px;
  top:23px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u10321 {
  position:absolute;
  left:35px;
  top:817px;
  width:64px;
  height:64px;
}
#u10322 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10323 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:62px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u10324 {
  position:absolute;
  left:249px;
  top:818px;
  width:200px;
  height:62px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u10325 {
  position:absolute;
  left:2px;
  top:23px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10326 {
  position:absolute;
  left:360px;
  top:835px;
  width:79px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10327 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u10328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u10328 {
  position:absolute;
  left:269px;
  top:837px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u10329 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u10330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u10330 {
  position:absolute;
  left:320px;
  top:829px;
  width:40px;
  height:40px;
}
#u10331 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:703px;
  height:38px;
}
#u10332 {
  position:absolute;
  left:9px;
  top:637px;
  width:703px;
  height:38px;
}
#u10333 {
  position:absolute;
  left:2px;
  top:11px;
  width:699px;
  word-wrap:break-word;
}
#u10334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
}
#u10334 {
  position:absolute;
  left:43px;
  top:642px;
  width:97px;
  height:28px;
  font-size:24px;
  color:#FFFFFF;
}
#u10335 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
