body {
  margin:0px;
  background-color:rgba(242, 242, 242, 0.988235294117647);
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12842 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  opacity:0.800000011920929;
}
#u12843 {
  position:absolute;
  left:2px;
  top:504px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12844 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
}
#u12845 {
  position:absolute;
  left:2px;
  top:22px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:158px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12846 {
  position:absolute;
  left:0px;
  top:866px;
  width:720px;
  height:158px;
}
#u12847 {
  position:absolute;
  left:2px;
  top:71px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u12848 {
  position:absolute;
  left:141px;
  top:906px;
  width:116px;
  height:116px;
}
#u12849 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:152px;
}
#u12850 {
  position:absolute;
  left:522px;
  top:870px;
  width:190px;
  height:152px;
}
#u12851 {
  position:absolute;
  left:2px;
  top:68px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u12852 {
  position:absolute;
  left:392px;
  top:907px;
  width:116px;
  height:116px;
}
#u12853 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u12854 {
  position:absolute;
  left:267px;
  top:906px;
  width:116px;
  height:116px;
}
#u12855 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12856 {
  position:absolute;
  left:171px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u12857 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12858 {
  position:absolute;
  left:592px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u12859 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12860 {
  position:absolute;
  left:426px;
  top:995px;
  width:49px;
  height:28px;
  color:#999999;
}
#u12861 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12862 {
  position:absolute;
  left:301px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u12863 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u12864 {
  position:absolute;
  left:15px;
  top:906px;
  width:116px;
  height:116px;
}
#u12865 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12866 {
  position:absolute;
  left:47px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u12867 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:97px;
}
#u12868 {
  position:absolute;
  left:1px;
  top:769px;
  width:718px;
  height:97px;
}
#u12869 {
  position:absolute;
  left:2px;
  top:40px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12870 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
}
#u12871 {
  position:absolute;
  left:30px;
  top:787px;
  width:150px;
  height:62px;
}
#u12872 {
  position:absolute;
  left:2px;
  top:23px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u12873 {
  position:absolute;
  left:24px;
  top:786px;
  width:64px;
  height:64px;
}
#u12874 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12875 {
  position:absolute;
  left:94px;
  top:805px;
  width:49px;
  height:28px;
  color:#FFFFFF;
}
#u12876 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#999999;
}
#u12877 {
  position:absolute;
  left:19px;
  top:874px;
  width:419px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#999999;
}
#u12878 {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  white-space:nowrap;
}
#u12879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:62px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12879 {
  position:absolute;
  left:480px;
  top:786px;
  width:200px;
  height:62px;
  font-size:20px;
  color:#FFFFFF;
}
#u12880 {
  position:absolute;
  left:2px;
  top:23px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12881 {
  position:absolute;
  left:556px;
  top:805px;
  width:49px;
  height:28px;
  color:#FFFFFF;
}
#u12882 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u12883 {
  position:absolute;
  left:444px;
  top:769px;
  width:90px;
  height:90px;
}
#u12884 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:56px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12885 {
  position:absolute;
  left:23px;
  top:67px;
  width:150px;
  height:56px;
}
#u12886 {
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12887 {
  position:absolute;
  left:174px;
  top:65px;
  width:160px;
  height:60px;
}
#u12888 {
  position:absolute;
  left:2px;
  top:22px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u12889 {
  position:absolute;
  left:74px;
  top:81px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u12890 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u12891 {
  position:absolute;
  left:206px;
  top:81px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u12892 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u12893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:699px;
  height:635px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12893 {
  position:absolute;
  left:10px;
  top:125px;
  width:699px;
  height:635px;
}
#u12894 {
  position:absolute;
  left:2px;
  top:310px;
  width:695px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12895 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:664px;
  height:126px;
}
#u12896 {
  position:absolute;
  left:28px;
  top:141px;
  width:664px;
  height:126px;
}
#u12897 {
  position:absolute;
  left:2px;
  top:55px;
  width:660px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12898 {
  position:absolute;
  left:530px;
  top:197px;
  width:150px;
  height:62px;
  font-size:20px;
  color:#FFFFFF;
}
#u12899 {
  position:absolute;
  left:2px;
  top:19px;
  width:146px;
  word-wrap:break-word;
}
#u12900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u12900 {
  position:absolute;
  left:186px;
  top:157px;
  width:121px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u12901 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u12902 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u12903 {
  position:absolute;
  left:56px;
  top:154px;
  width:100px;
  height:100px;
}
#u12904 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:97px;
}
#u12905 {
  position:absolute;
  left:54px;
  top:156px;
  width:105px;
  height:97px;
}
#u12906 {
  position:absolute;
  left:2px;
  top:40px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:60px;
}
#u12907 {
  position:absolute;
  left:168px;
  top:195px;
  width:347px;
  height:60px;
}
#u12908 {
  position:absolute;
  left:2px;
  top:22px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u12909 {
  position:absolute;
  left:374px;
  top:208px;
  width:145px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u12910 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u12911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u12911 {
  position:absolute;
  left:186px;
  top:210px;
  width:132px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u12912 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u12913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u12913 {
  position:absolute;
  left:442px;
  top:157px;
  width:73px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u12914 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u12915 {
  position:absolute;
  left:568px;
  top:157px;
  width:89px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u12916 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u12917 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:664px;
  height:126px;
}
#u12918 {
  position:absolute;
  left:28px;
  top:277px;
  width:664px;
  height:126px;
}
#u12919 {
  position:absolute;
  left:2px;
  top:55px;
  width:660px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12920 {
  position:absolute;
  left:530px;
  top:333px;
  width:150px;
  height:62px;
  font-size:20px;
  color:#FFFFFF;
}
#u12921 {
  position:absolute;
  left:2px;
  top:19px;
  width:146px;
  word-wrap:break-word;
}
#u12922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u12922 {
  position:absolute;
  left:186px;
  top:293px;
  width:121px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u12923 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u12924 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u12925 {
  position:absolute;
  left:56px;
  top:290px;
  width:100px;
  height:100px;
}
#u12926 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:97px;
}
#u12927 {
  position:absolute;
  left:54px;
  top:292px;
  width:105px;
  height:97px;
}
#u12928 {
  position:absolute;
  left:2px;
  top:40px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:60px;
}
#u12929 {
  position:absolute;
  left:168px;
  top:331px;
  width:347px;
  height:60px;
}
#u12930 {
  position:absolute;
  left:2px;
  top:22px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u12931 {
  position:absolute;
  left:374px;
  top:344px;
  width:145px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u12932 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u12933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u12933 {
  position:absolute;
  left:186px;
  top:346px;
  width:132px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u12934 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u12935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u12935 {
  position:absolute;
  left:442px;
  top:293px;
  width:73px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u12936 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u12937 {
  position:absolute;
  left:568px;
  top:293px;
  width:89px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u12938 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u12939 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:664px;
  height:126px;
}
#u12940 {
  position:absolute;
  left:28px;
  top:413px;
  width:664px;
  height:126px;
}
#u12941 {
  position:absolute;
  left:2px;
  top:55px;
  width:660px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12942 {
  position:absolute;
  left:530px;
  top:469px;
  width:150px;
  height:62px;
  font-size:20px;
  color:#FFFFFF;
}
#u12943 {
  position:absolute;
  left:2px;
  top:19px;
  width:146px;
  word-wrap:break-word;
}
#u12944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u12944 {
  position:absolute;
  left:186px;
  top:429px;
  width:121px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u12945 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u12946 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u12947 {
  position:absolute;
  left:56px;
  top:426px;
  width:100px;
  height:100px;
}
#u12948 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:97px;
}
#u12949 {
  position:absolute;
  left:54px;
  top:428px;
  width:105px;
  height:97px;
}
#u12950 {
  position:absolute;
  left:2px;
  top:40px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:60px;
}
#u12951 {
  position:absolute;
  left:168px;
  top:467px;
  width:347px;
  height:60px;
}
#u12952 {
  position:absolute;
  left:2px;
  top:22px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u12953 {
  position:absolute;
  left:374px;
  top:480px;
  width:145px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u12954 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u12955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u12955 {
  position:absolute;
  left:186px;
  top:482px;
  width:132px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u12956 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u12957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u12957 {
  position:absolute;
  left:442px;
  top:429px;
  width:73px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u12958 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u12959 {
  position:absolute;
  left:568px;
  top:429px;
  width:89px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u12960 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u12961 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:664px;
  height:126px;
}
#u12962 {
  position:absolute;
  left:28px;
  top:549px;
  width:664px;
  height:126px;
}
#u12963 {
  position:absolute;
  left:2px;
  top:55px;
  width:660px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12964 {
  position:absolute;
  left:530px;
  top:605px;
  width:150px;
  height:62px;
  font-size:20px;
  color:#FFFFFF;
}
#u12965 {
  position:absolute;
  left:2px;
  top:19px;
  width:146px;
  word-wrap:break-word;
}
#u12966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u12966 {
  position:absolute;
  left:186px;
  top:565px;
  width:121px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u12967 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u12968 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u12969 {
  position:absolute;
  left:56px;
  top:562px;
  width:100px;
  height:100px;
}
#u12970 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:97px;
}
#u12971 {
  position:absolute;
  left:54px;
  top:564px;
  width:105px;
  height:97px;
}
#u12972 {
  position:absolute;
  left:2px;
  top:40px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:60px;
}
#u12973 {
  position:absolute;
  left:168px;
  top:603px;
  width:347px;
  height:60px;
}
#u12974 {
  position:absolute;
  left:2px;
  top:22px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u12975 {
  position:absolute;
  left:374px;
  top:616px;
  width:145px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u12976 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u12977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u12977 {
  position:absolute;
  left:186px;
  top:618px;
  width:132px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u12978 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u12979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u12979 {
  position:absolute;
  left:442px;
  top:565px;
  width:73px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u12980 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u12981 {
  position:absolute;
  left:568px;
  top:565px;
  width:89px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u12982 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u12983 {
  position:absolute;
  left:30px;
  top:786px;
  width:150px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12984 {
  position:absolute;
  left:23px;
  top:67px;
  width:150px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12985 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12986 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:26px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12987 {
  position:absolute;
  left:263px;
  top:18px;
  width:114px;
  height:26px;
}
#u12988 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12989 {
  position:absolute;
  left:303px;
  top:20px;
  width:71px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12990 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12991 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:26px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12992 {
  position:absolute;
  left:430px;
  top:18px;
  width:114px;
  height:26px;
}
#u12993 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12994 {
  position:absolute;
  left:475px;
  top:20px;
  width:59px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12995 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u12996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:26px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12996 {
  position:absolute;
  left:601px;
  top:18px;
  width:114px;
  height:26px;
}
#u12997 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12998 {
  position:absolute;
  left:665px;
  top:20px;
  width:39px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12999 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u13000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u13000 {
  position:absolute;
  left:402px;
  top:5px;
  width:52px;
  height:52px;
}
#u13001 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u13002 {
  position:absolute;
  left:579px;
  top:5px;
  width:52px;
  height:52px;
}
#u13003 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u13004 {
  position:absolute;
  left:237px;
  top:11px;
  width:57px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u13005 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13006 {
  position:absolute;
  left:12px;
  top:18px;
  width:51px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13007 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u13008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:26px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13008 {
  position:absolute;
  left:73px;
  top:19px;
  width:149px;
  height:26px;
}
#u13009 {
  position:absolute;
  left:2px;
  top:5px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13010 {
  position:absolute;
  left:74px;
  top:20px;
  width:78px;
  height:24px;
}
#u13011 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
