body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11938 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  opacity:0.800000011920929;
}
#u11939 {
  position:absolute;
  left:2px;
  top:504px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11940 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
}
#u11941 {
  position:absolute;
  left:2px;
  top:22px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:158px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11942 {
  position:absolute;
  left:0px;
  top:866px;
  width:720px;
  height:158px;
}
#u11943 {
  position:absolute;
  left:2px;
  top:71px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u11944 {
  position:absolute;
  left:141px;
  top:906px;
  width:116px;
  height:116px;
}
#u11945 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:152px;
}
#u11946 {
  position:absolute;
  left:522px;
  top:870px;
  width:190px;
  height:152px;
}
#u11947 {
  position:absolute;
  left:2px;
  top:68px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u11948 {
  position:absolute;
  left:392px;
  top:907px;
  width:116px;
  height:116px;
}
#u11949 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u11950 {
  position:absolute;
  left:267px;
  top:906px;
  width:116px;
  height:116px;
}
#u11951 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u11952 {
  position:absolute;
  left:171px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u11953 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u11954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u11954 {
  position:absolute;
  left:592px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u11955 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u11956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u11956 {
  position:absolute;
  left:426px;
  top:995px;
  width:49px;
  height:28px;
  color:#999999;
}
#u11957 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u11958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u11958 {
  position:absolute;
  left:301px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u11959 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u11960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u11960 {
  position:absolute;
  left:15px;
  top:906px;
  width:116px;
  height:116px;
}
#u11961 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u11962 {
  position:absolute;
  left:47px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u11963 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u11964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:97px;
}
#u11964 {
  position:absolute;
  left:1px;
  top:769px;
  width:718px;
  height:97px;
}
#u11965 {
  position:absolute;
  left:2px;
  top:40px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11966 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
}
#u11967 {
  position:absolute;
  left:30px;
  top:787px;
  width:150px;
  height:62px;
}
#u11968 {
  position:absolute;
  left:2px;
  top:23px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u11969 {
  position:absolute;
  left:24px;
  top:786px;
  width:64px;
  height:64px;
}
#u11970 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11971 {
  position:absolute;
  left:94px;
  top:805px;
  width:49px;
  height:28px;
  color:#FFFFFF;
}
#u11972 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u11973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#999999;
}
#u11973 {
  position:absolute;
  left:19px;
  top:874px;
  width:419px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#999999;
}
#u11974 {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  white-space:nowrap;
}
#u11975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:62px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u11975 {
  position:absolute;
  left:480px;
  top:786px;
  width:200px;
  height:62px;
  font-size:20px;
  color:#FFFFFF;
}
#u11976 {
  position:absolute;
  left:2px;
  top:23px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11977 {
  position:absolute;
  left:556px;
  top:805px;
  width:49px;
  height:28px;
  color:#FFFFFF;
}
#u11978 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u11979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u11979 {
  position:absolute;
  left:444px;
  top:769px;
  width:90px;
  height:90px;
}
#u11980 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:56px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11981 {
  position:absolute;
  left:179px;
  top:67px;
  width:150px;
  height:56px;
}
#u11982 {
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11983 {
  position:absolute;
  left:17px;
  top:65px;
  width:160px;
  height:60px;
}
#u11984 {
  position:absolute;
  left:2px;
  top:22px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u11985 {
  position:absolute;
  left:73px;
  top:81px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u11986 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u11987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u11987 {
  position:absolute;
  left:205px;
  top:81px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u11988 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u11989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:699px;
  height:645px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11989 {
  position:absolute;
  left:9px;
  top:125px;
  width:699px;
  height:645px;
}
#u11990 {
  position:absolute;
  left:2px;
  top:314px;
  width:695px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:664px;
  height:166px;
}
#u11991 {
  position:absolute;
  left:28px;
  top:141px;
  width:664px;
  height:166px;
}
#u11992 {
  position:absolute;
  left:2px;
  top:75px;
  width:660px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u11993 {
  position:absolute;
  left:186px;
  top:153px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u11994 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u11995 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u11996 {
  position:absolute;
  left:56px;
  top:154px;
  width:100px;
  height:100px;
}
#u11997 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:97px;
}
#u11998 {
  position:absolute;
  left:54px;
  top:156px;
  width:105px;
  height:97px;
}
#u11999 {
  position:absolute;
  left:2px;
  top:40px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:117px;
}
#u12000 {
  position:absolute;
  left:168px;
  top:183px;
  width:347px;
  height:117px;
}
#u12001 {
  position:absolute;
  left:2px;
  top:50px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u12002 {
  position:absolute;
  left:186px;
  top:192px;
  width:92px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u12003 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u12004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u12004 {
  position:absolute;
  left:442px;
  top:153px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u12005 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u12006 {
  position:absolute;
  left:82px;
  top:264px;
  width:45px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u12007 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u12008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u12008 {
  position:absolute;
  left:186px;
  top:219px;
  width:103px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u12009 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u12010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:63px;
}
#u12010 {
  position:absolute;
  left:579px;
  top:210px;
  width:65px;
  height:63px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u12011 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:664px;
  height:166px;
}
#u12012 {
  position:absolute;
  left:28px;
  top:317px;
  width:664px;
  height:166px;
}
#u12013 {
  position:absolute;
  left:2px;
  top:75px;
  width:660px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u12014 {
  position:absolute;
  left:186px;
  top:329px;
  width:169px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u12015 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u12016 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u12017 {
  position:absolute;
  left:56px;
  top:330px;
  width:100px;
  height:100px;
}
#u12018 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:97px;
}
#u12019 {
  position:absolute;
  left:54px;
  top:332px;
  width:105px;
  height:97px;
}
#u12020 {
  position:absolute;
  left:2px;
  top:40px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:117px;
}
#u12021 {
  position:absolute;
  left:168px;
  top:359px;
  width:347px;
  height:117px;
}
#u12022 {
  position:absolute;
  left:2px;
  top:50px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u12023 {
  position:absolute;
  left:442px;
  top:329px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u12024 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u12025 {
  position:absolute;
  left:82px;
  top:440px;
  width:58px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u12026 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u12027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:63px;
}
#u12027 {
  position:absolute;
  left:579px;
  top:386px;
  width:65px;
  height:63px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u12028 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:664px;
  height:166px;
}
#u12029 {
  position:absolute;
  left:28px;
  top:493px;
  width:664px;
  height:166px;
}
#u12030 {
  position:absolute;
  left:2px;
  top:75px;
  width:660px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u12031 {
  position:absolute;
  left:186px;
  top:505px;
  width:73px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u12032 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12033 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u12034 {
  position:absolute;
  left:56px;
  top:506px;
  width:100px;
  height:100px;
}
#u12035 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:97px;
}
#u12036 {
  position:absolute;
  left:54px;
  top:508px;
  width:105px;
  height:97px;
}
#u12037 {
  position:absolute;
  left:2px;
  top:40px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:117px;
}
#u12038 {
  position:absolute;
  left:168px;
  top:535px;
  width:347px;
  height:117px;
}
#u12039 {
  position:absolute;
  left:2px;
  top:50px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u12040 {
  position:absolute;
  left:442px;
  top:505px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u12041 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u12042 {
  position:absolute;
  left:82px;
  top:616px;
  width:58px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u12043 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u12044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:63px;
}
#u12044 {
  position:absolute;
  left:579px;
  top:562px;
  width:65px;
  height:63px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u12045 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:664px;
  height:108px;
}
#u12046 {
  position:absolute;
  left:28px;
  top:661px;
  width:664px;
  height:108px;
}
#u12047 {
  position:absolute;
  left:2px;
  top:46px;
  width:660px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u12048 {
  position:absolute;
  left:375px;
  top:668px;
  width:76px;
  height:76px;
}
#u12049 {
  position:absolute;
  left:2px;
  top:30px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u12050 {
  position:absolute;
  left:480px;
  top:668px;
  width:76px;
  height:76px;
}
#u12051 {
  position:absolute;
  left:2px;
  top:30px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u12052 {
  position:absolute;
  left:585px;
  top:668px;
  width:76px;
  height:76px;
}
#u12053 {
  position:absolute;
  left:2px;
  top:30px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u12054 {
  position:absolute;
  left:477px;
  top:744px;
  width:83px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u12055 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u12056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u12056 {
  position:absolute;
  left:581px;
  top:744px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u12057 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u12058 {
  position:absolute;
  left:389px;
  top:692px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u12059 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u12060 {
  position:absolute;
  left:493px;
  top:692px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u12061 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u12062 {
  position:absolute;
  left:599px;
  top:692px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u12063 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:41px;
}
#u12064 {
  position:absolute;
  left:442px;
  top:76px;
  width:248px;
  height:41px;
  opacity:0.600000023841858;
}
#u12065 {
  position:absolute;
  left:2px;
  top:12px;
  width:244px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12066 {
  position:absolute;
  left:451px;
  top:84px;
  width:191px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12067 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u12068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
  color:#7FBA00;
}
#u12068 {
  position:absolute;
  left:655px;
  top:66px;
  width:29px;
  height:57px;
  font-size:48px;
  color:#7FBA00;
}
#u12069 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u12070 {
  position:absolute;
  left:186px;
  top:367px;
  width:92px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u12071 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u12072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u12072 {
  position:absolute;
  left:186px;
  top:394px;
  width:103px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u12073 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u12074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u12074 {
  position:absolute;
  left:186px;
  top:543px;
  width:92px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u12075 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u12076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u12076 {
  position:absolute;
  left:186px;
  top:570px;
  width:103px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u12077 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u12078 {
  position:absolute;
  left:30px;
  top:786px;
  width:150px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12079 {
  position:absolute;
  left:179px;
  top:67px;
  width:150px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12080 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12081 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:26px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12082 {
  position:absolute;
  left:263px;
  top:18px;
  width:114px;
  height:26px;
}
#u12083 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12084 {
  position:absolute;
  left:303px;
  top:20px;
  width:71px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12085 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12086 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:26px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12087 {
  position:absolute;
  left:430px;
  top:18px;
  width:114px;
  height:26px;
}
#u12088 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12089 {
  position:absolute;
  left:475px;
  top:20px;
  width:59px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12090 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u12091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:26px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12091 {
  position:absolute;
  left:601px;
  top:18px;
  width:114px;
  height:26px;
}
#u12092 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12093 {
  position:absolute;
  left:665px;
  top:20px;
  width:39px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12094 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u12095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u12095 {
  position:absolute;
  left:402px;
  top:5px;
  width:52px;
  height:52px;
}
#u12096 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u12097 {
  position:absolute;
  left:579px;
  top:5px;
  width:52px;
  height:52px;
}
#u12098 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u12099 {
  position:absolute;
  left:237px;
  top:11px;
  width:57px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u12100 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12101 {
  position:absolute;
  left:12px;
  top:18px;
  width:51px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12102 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u12103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:26px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12103 {
  position:absolute;
  left:73px;
  top:19px;
  width:149px;
  height:26px;
}
#u12104 {
  position:absolute;
  left:2px;
  top:5px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12105 {
  position:absolute;
  left:74px;
  top:20px;
  width:78px;
  height:24px;
}
#u12106 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
