body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6120 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  opacity:0.800000011920929;
}
#u6121 {
  position:absolute;
  left:2px;
  top:504px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6122 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
}
#u6123 {
  position:absolute;
  left:2px;
  top:22px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:124px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6124 {
  position:absolute;
  left:0px;
  top:901px;
  width:720px;
  height:124px;
}
#u6125 {
  position:absolute;
  left:2px;
  top:54px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u6126 {
  position:absolute;
  left:142px;
  top:907px;
  width:116px;
  height:116px;
}
#u6127 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:115px;
}
#u6128 {
  position:absolute;
  left:522px;
  top:908px;
  width:190px;
  height:115px;
}
#u6129 {
  position:absolute;
  left:2px;
  top:50px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u6130 {
  position:absolute;
  left:392px;
  top:908px;
  width:116px;
  height:116px;
}
#u6131 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u6132 {
  position:absolute;
  left:268px;
  top:907px;
  width:116px;
  height:116px;
}
#u6133 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6134 {
  position:absolute;
  left:172px;
  top:995px;
  width:49px;
  height:28px;
  color:#999999;
}
#u6135 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6136 {
  position:absolute;
  left:592px;
  top:995px;
  width:49px;
  height:28px;
  color:#999999;
}
#u6137 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6138 {
  position:absolute;
  left:426px;
  top:996px;
  width:49px;
  height:28px;
  color:#999999;
}
#u6139 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6140 {
  position:absolute;
  left:302px;
  top:995px;
  width:49px;
  height:28px;
  color:#999999;
}
#u6141 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u6142 {
  position:absolute;
  left:16px;
  top:907px;
  width:116px;
  height:116px;
}
#u6143 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6144 {
  position:absolute;
  left:48px;
  top:995px;
  width:49px;
  height:28px;
  color:#999999;
}
#u6145 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6146 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:38px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6147 {
  position:absolute;
  left:220px;
  top:11px;
  width:148px;
  height:38px;
}
#u6148 {
  position:absolute;
  left:2px;
  top:11px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6149 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:38px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6150 {
  position:absolute;
  left:402px;
  top:11px;
  width:144px;
  height:38px;
}
#u6151 {
  position:absolute;
  left:2px;
  top:11px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#5E5E5E;
}
#u6152 {
  position:absolute;
  left:262px;
  top:19px;
  width:59px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#5E5E5E;
}
#u6153 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u6154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:39px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6154 {
  position:absolute;
  left:576px;
  top:11px;
  width:132px;
  height:39px;
}
#u6155 {
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#5E5E5E;
}
#u6156 {
  position:absolute;
  left:449px;
  top:19px;
  width:39px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#5E5E5E;
}
#u6157 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u6158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#5E5E5E;
}
#u6158 {
  position:absolute;
  left:618px;
  top:19px;
  width:51px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#5E5E5E;
}
#u6159 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u6160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u6160 {
  position:absolute;
  left:200px;
  top:4px;
  width:52px;
  height:52px;
}
#u6161 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u6162 {
  position:absolute;
  left:381px;
  top:4px;
  width:52px;
  height:52px;
}
#u6163 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:38px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6164 {
  position:absolute;
  left:54px;
  top:11px;
  width:139px;
  height:38px;
}
#u6165 {
  position:absolute;
  left:2px;
  top:11px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6166 {
  position:absolute;
  left:55px;
  top:12px;
  width:105px;
  height:36px;
}
#u6167 {
  position:absolute;
  left:2px;
  top:10px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:52px;
}
#u6168 {
  position:absolute;
  left:13px;
  top:4px;
  width:66px;
  height:52px;
}
#u6169 {
  position:absolute;
  left:2px;
  top:18px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#BCBCBC;
}
#u6170 {
  position:absolute;
  left:38px;
  top:14px;
  width:17px;
  height:33px;
  font-size:28px;
  color:#BCBCBC;
}
#u6171 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u6172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u6172 {
  position:absolute;
  left:556px;
  top:4px;
  width:52px;
  height:52px;
}
#u6173 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6174 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:154px;
}
#u6175 {
  position:absolute;
  left:365px;
  top:245px;
  width:335px;
  height:154px;
}
#u6176 {
  position:absolute;
  left:2px;
  top:69px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:126px;
}
#u6177 {
  position:absolute;
  left:404px;
  top:273px;
  width:296px;
  height:126px;
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  transform:rotate(360deg);
}
#u6178 {
  position:absolute;
  left:2px;
  top:55px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#999999;
}
#u6179 {
  position:absolute;
  left:387px;
  top:257px;
  width:73px;
  height:42px;
  font-size:36px;
  color:#999999;
}
#u6180 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u6181 {
  position:absolute;
  left:387px;
  top:300px;
  width:58px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u6182 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u6183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u6183 {
  position:absolute;
  left:598px;
  top:306px;
  width:90px;
  height:85px;
}
#u6184 {
  position:absolute;
  left:2px;
  top:34px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6185 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:154px;
}
#u6186 {
  position:absolute;
  left:20px;
  top:409px;
  width:335px;
  height:154px;
}
#u6187 {
  position:absolute;
  left:2px;
  top:69px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:126px;
}
#u6188 {
  position:absolute;
  left:59px;
  top:437px;
  width:296px;
  height:126px;
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  transform:rotate(360deg);
}
#u6189 {
  position:absolute;
  left:2px;
  top:55px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#999999;
}
#u6190 {
  position:absolute;
  left:42px;
  top:421px;
  width:73px;
  height:42px;
  font-size:36px;
  color:#999999;
}
#u6191 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u6192 {
  position:absolute;
  left:42px;
  top:464px;
  width:58px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u6193 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u6194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u6194 {
  position:absolute;
  left:253px;
  top:470px;
  width:90px;
  height:85px;
}
#u6195 {
  position:absolute;
  left:2px;
  top:34px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6196 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:154px;
}
#u6197 {
  position:absolute;
  left:365px;
  top:409px;
  width:335px;
  height:154px;
}
#u6198 {
  position:absolute;
  left:2px;
  top:69px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:126px;
}
#u6199 {
  position:absolute;
  left:404px;
  top:437px;
  width:296px;
  height:126px;
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  transform:rotate(360deg);
}
#u6200 {
  position:absolute;
  left:2px;
  top:55px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#999999;
}
#u6201 {
  position:absolute;
  left:387px;
  top:421px;
  width:73px;
  height:42px;
  font-size:36px;
  color:#999999;
}
#u6202 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u6203 {
  position:absolute;
  left:387px;
  top:464px;
  width:58px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u6204 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u6205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u6205 {
  position:absolute;
  left:598px;
  top:470px;
  width:90px;
  height:85px;
}
#u6206 {
  position:absolute;
  left:2px;
  top:34px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6207 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:154px;
}
#u6208 {
  position:absolute;
  left:20px;
  top:573px;
  width:335px;
  height:154px;
}
#u6209 {
  position:absolute;
  left:2px;
  top:69px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:126px;
}
#u6210 {
  position:absolute;
  left:59px;
  top:601px;
  width:296px;
  height:126px;
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  transform:rotate(360deg);
}
#u6211 {
  position:absolute;
  left:2px;
  top:55px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#999999;
}
#u6212 {
  position:absolute;
  left:42px;
  top:585px;
  width:73px;
  height:42px;
  font-size:36px;
  color:#999999;
}
#u6213 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u6214 {
  position:absolute;
  left:42px;
  top:628px;
  width:58px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u6215 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u6216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u6216 {
  position:absolute;
  left:253px;
  top:634px;
  width:90px;
  height:85px;
}
#u6217 {
  position:absolute;
  left:2px;
  top:34px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6218 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:154px;
}
#u6219 {
  position:absolute;
  left:365px;
  top:573px;
  width:335px;
  height:154px;
}
#u6220 {
  position:absolute;
  left:2px;
  top:69px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:126px;
}
#u6221 {
  position:absolute;
  left:404px;
  top:601px;
  width:296px;
  height:126px;
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  transform:rotate(360deg);
}
#u6222 {
  position:absolute;
  left:2px;
  top:55px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#999999;
}
#u6223 {
  position:absolute;
  left:387px;
  top:585px;
  width:73px;
  height:42px;
  font-size:36px;
  color:#999999;
}
#u6224 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u6225 {
  position:absolute;
  left:387px;
  top:628px;
  width:58px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u6226 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u6227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u6227 {
  position:absolute;
  left:598px;
  top:634px;
  width:90px;
  height:85px;
}
#u6228 {
  position:absolute;
  left:2px;
  top:34px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6229 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:154px;
}
#u6230 {
  position:absolute;
  left:20px;
  top:737px;
  width:335px;
  height:154px;
}
#u6231 {
  position:absolute;
  left:2px;
  top:69px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:126px;
}
#u6232 {
  position:absolute;
  left:59px;
  top:765px;
  width:296px;
  height:126px;
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  transform:rotate(360deg);
}
#u6233 {
  position:absolute;
  left:2px;
  top:55px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#999999;
}
#u6234 {
  position:absolute;
  left:42px;
  top:749px;
  width:73px;
  height:42px;
  font-size:36px;
  color:#999999;
}
#u6235 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u6236 {
  position:absolute;
  left:42px;
  top:792px;
  width:58px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u6237 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u6238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u6238 {
  position:absolute;
  left:253px;
  top:798px;
  width:90px;
  height:85px;
}
#u6239 {
  position:absolute;
  left:2px;
  top:34px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6240 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:154px;
}
#u6241 {
  position:absolute;
  left:365px;
  top:737px;
  width:335px;
  height:154px;
}
#u6242 {
  position:absolute;
  left:2px;
  top:69px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:126px;
}
#u6243 {
  position:absolute;
  left:404px;
  top:765px;
  width:296px;
  height:126px;
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  transform:rotate(360deg);
}
#u6244 {
  position:absolute;
  left:2px;
  top:55px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#999999;
}
#u6245 {
  position:absolute;
  left:387px;
  top:749px;
  width:73px;
  height:42px;
  font-size:36px;
  color:#999999;
}
#u6246 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u6247 {
  position:absolute;
  left:387px;
  top:792px;
  width:58px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u6248 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u6249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u6249 {
  position:absolute;
  left:598px;
  top:798px;
  width:90px;
  height:85px;
}
#u6250 {
  position:absolute;
  left:2px;
  top:34px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6251 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:62px;
}
#u6252 {
  position:absolute;
  left:16px;
  top:824px;
  width:105px;
  height:62px;
}
#u6253 {
  position:absolute;
  left:2px;
  top:23px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u6254 {
  position:absolute;
  left:34px;
  top:823px;
  width:64px;
  height:64px;
}
#u6255 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:239px;
}
#u6256 {
  position:absolute;
  left:7px;
  top:66px;
  width:285px;
  height:239px;
}
#u6257 {
  position:absolute;
  left:2px;
  top:112px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6258 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:154px;
}
#u6259 {
  position:absolute;
  left:20px;
  top:245px;
  width:335px;
  height:154px;
}
#u6260 {
  position:absolute;
  left:2px;
  top:69px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:126px;
}
#u6261 {
  position:absolute;
  left:59px;
  top:273px;
  width:296px;
  height:126px;
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  transform:rotate(360deg);
}
#u6262 {
  position:absolute;
  left:2px;
  top:55px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#999999;
}
#u6263 {
  position:absolute;
  left:42px;
  top:257px;
  width:73px;
  height:42px;
  font-size:36px;
  color:#999999;
}
#u6264 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u6265 {
  position:absolute;
  left:42px;
  top:300px;
  width:58px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u6266 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u6267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u6267 {
  position:absolute;
  left:253px;
  top:306px;
  width:90px;
  height:85px;
}
#u6268 {
  position:absolute;
  left:2px;
  top:34px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:102px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6269 {
  position:absolute;
  left:247px;
  top:78px;
  width:338px;
  height:102px;
}
#u6270 {
  position:absolute;
  left:2px;
  top:43px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#A1A1A1;
}
#u6271 {
  position:absolute;
  left:269px;
  top:93px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#A1A1A1;
}
#u6272 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6273 {
  position:absolute;
  left:17px;
  top:820px;
  width:102px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6274 {
  position:absolute;
  left:34px;
  top:262px;
  width:309px;
  height:137px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6275_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u6275 {
  position:absolute;
  left:325px;
  top:245px;
  width:30px;
  height:30px;
}
#u6276 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6277 {
  position:absolute;
  left:0px;
  top:-1px;
  visibility:hidden;
}
#u6277_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u6277_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6278 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  opacity:0.800000011920929;
}
#u6279 {
  position:absolute;
  left:2px;
  top:504px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:625px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6280 {
  position:absolute;
  left:20px;
  top:164px;
  width:680px;
  height:625px;
}
#u6281 {
  position:absolute;
  left:2px;
  top:304px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6282 {
  position:absolute;
  left:20px;
  top:164px;
  width:680px;
  height:40px;
}
#u6283 {
  position:absolute;
  left:2px;
  top:12px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
}
#u6284 {
  position:absolute;
  left:311px;
  top:170px;
  width:97px;
  height:28px;
  font-size:24px;
  color:#FFFFFF;
}
#u6285 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u6286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u6286 {
  position:absolute;
  left:654px;
  top:161px;
  width:46px;
  height:46px;
  opacity:0.800000011920929;
}
#u6287 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:97px;
}
#u6288 {
  position:absolute;
  left:20px;
  top:692px;
  width:680px;
  height:97px;
}
#u6289 {
  position:absolute;
  left:2px;
  top:40px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:62px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u6290 {
  position:absolute;
  left:260px;
  top:710px;
  width:200px;
  height:62px;
  font-size:20px;
  color:#FFFFFF;
}
#u6291 {
  position:absolute;
  left:2px;
  top:23px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6292 {
  position:absolute;
  left:270px;
  top:729px;
  width:49px;
  height:28px;
  color:#FFFFFF;
}
#u6293 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u6294 {
  position:absolute;
  left:329px;
  top:725px;
  width:81px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u6295 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u6296 {
  position:absolute;
  left:408px;
  top:720px;
  width:42px;
  height:42px;
}
#u6297 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:145px;
}
#u6298 {
  position:absolute;
  left:283px;
  top:291px;
  width:154px;
  height:145px;
}
#u6299 {
  position:absolute;
  left:2px;
  top:64px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6300 {
  position:absolute;
  left:191px;
  top:226px;
  width:338px;
  height:42px;
}
#u6301 {
  position:absolute;
  left:2px;
  top:13px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#999999;
}
#u6302 {
  position:absolute;
  left:324px;
  top:226px;
  width:73px;
  height:42px;
  font-size:36px;
  color:#999999;
}
#u6303 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:56px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6304 {
  position:absolute;
  left:50px;
  top:489px;
  width:620px;
  height:56px;
}
#u6305 {
  position:absolute;
  left:2px;
  top:20px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u6306 {
  position:absolute;
  left:60px;
  top:495px;
  width:109px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u6307 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u6308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#999999;
}
#u6308 {
  position:absolute;
  left:425px;
  top:496px;
  width:21px;
  height:42px;
  font-size:36px;
  color:#999999;
}
#u6309 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u6310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:63px;
}
#u6310 {
  position:absolute;
  left:486px;
  top:485px;
  width:65px;
  height:63px;
  opacity:0.6;
}
#u6311 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#7FBA00;
}
#u6312 {
  position:absolute;
  left:584px;
  top:496px;
  width:21px;
  height:42px;
  font-size:36px;
  color:#7FBA00;
}
#u6313 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u6314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:62px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6314 {
  position:absolute;
  left:50px;
  top:566px;
  width:620px;
  height:62px;
}
#u6315 {
  position:absolute;
  left:2px;
  top:23px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u6316 {
  position:absolute;
  left:60px;
  top:573px;
  width:181px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u6317 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u6318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#999999;
}
#u6318 {
  position:absolute;
  left:405px;
  top:576px;
  width:62px;
  height:42px;
  font-size:36px;
  color:#999999;
}
#u6319 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u6320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:63px;
}
#u6320 {
  position:absolute;
  left:486px;
  top:565px;
  width:65px;
  height:63px;
  opacity:0.6;
}
#u6321 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#7FBA00;
}
#u6322 {
  position:absolute;
  left:564px;
  top:576px;
  width:62px;
  height:42px;
  font-size:36px;
  color:#7FBA00;
}
#u6323 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u6324 {
  position:absolute;
  left:654px;
  top:161px;
  width:43px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
