body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
}
#u3865 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  opacity:0.800000011920929;
}
#u3866 {
  position:absolute;
  left:2px;
  top:504px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
}
#u3867 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
}
#u3868 {
  position:absolute;
  left:2px;
  top:22px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:158px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
}
#u3869 {
  position:absolute;
  left:0px;
  top:866px;
  width:720px;
  height:158px;
}
#u3870 {
  position:absolute;
  left:2px;
  top:71px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u3871 {
  position:absolute;
  left:140px;
  top:906px;
  width:116px;
  height:116px;
}
#u3872 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:152px;
}
#u3873 {
  position:absolute;
  left:522px;
  top:870px;
  width:190px;
  height:152px;
}
#u3874 {
  position:absolute;
  left:2px;
  top:68px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u3875 {
  position:absolute;
  left:392px;
  top:907px;
  width:116px;
  height:116px;
}
#u3876 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u3877 {
  position:absolute;
  left:266px;
  top:906px;
  width:116px;
  height:116px;
}
#u3878 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u3879 {
  position:absolute;
  left:170px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u3880 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u3881 {
  position:absolute;
  left:592px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u3882 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u3883 {
  position:absolute;
  left:426px;
  top:995px;
  width:49px;
  height:28px;
  color:#999999;
}
#u3884 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u3885 {
  position:absolute;
  left:300px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u3886 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u3887 {
  position:absolute;
  left:14px;
  top:906px;
  width:116px;
  height:116px;
}
#u3888 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u3889 {
  position:absolute;
  left:46px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u3890 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#999999;
}
#u3891 {
  position:absolute;
  left:14px;
  top:874px;
  width:133px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#999999;
}
#u3892 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u3893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:137px;
}
#u3893 {
  position:absolute;
  left:0px;
  top:60px;
  width:720px;
  height:137px;
}
#u3894 {
  position:absolute;
  left:2px;
  top:61px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
}
#u3895 {
  position:absolute;
  left:20px;
  top:73px;
  width:116px;
  height:116px;
}
#u3896 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u3897 {
  position:absolute;
  left:151px;
  top:73px;
  width:116px;
  height:116px;
}
#u3898 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u3899 {
  position:absolute;
  left:282px;
  top:73px;
  width:116px;
  height:116px;
}
#u3900 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u3901 {
  position:absolute;
  left:413px;
  top:73px;
  width:116px;
  height:116px;
}
#u3902 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u3903 {
  position:absolute;
  left:544px;
  top:73px;
  width:116px;
  height:116px;
}
#u3904 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:116px;
}
#u3905 {
  position:absolute;
  left:675px;
  top:73px;
  width:37px;
  height:116px;
}
#u3906 {
  position:absolute;
  left:2px;
  top:50px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:414px;
}
#u3907 {
  position:absolute;
  left:161px;
  top:299px;
  width:414px;
  height:414px;
}
#u3908 {
  position:absolute;
  left:2px;
  top:199px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
}
#u3909 {
  position:absolute;
  left:310px;
  top:234px;
  width:116px;
  height:116px;
}
#u3910 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
}
#u3911 {
  position:absolute;
  left:120px;
  top:594px;
  width:116px;
  height:116px;
}
#u3912 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
}
#u3913 {
  position:absolute;
  left:504px;
  top:594px;
  width:116px;
  height:116px;
}
#u3914 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:130px;
}
#u3915 {
  position:absolute;
  left:303px;
  top:440px;
  width:130px;
  height:130px;
}
#u3916 {
  position:absolute;
  left:2px;
  top:57px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u3917 {
  position:absolute;
  left:310px;
  top:448px;
  width:116px;
  height:116px;
}
#u3918 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#949494;
}
#u3919 {
  position:absolute;
  left:320px;
  top:594px;
  width:97px;
  height:28px;
  color:#949494;
}
#u3920 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u3921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:64px;
}
#u3921 {
  position:absolute;
  left:610px;
  top:216px;
  width:80px;
  height:64px;
}
#u3922 {
  position:absolute;
  left:2px;
  top:24px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#949494;
}
#u3923 {
  position:absolute;
  left:626px;
  top:290px;
  width:49px;
  height:28px;
  color:#949494;
}
#u3924 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:65px;
}
#u3925 {
  position:absolute;
  left:670px;
  top:498px;
  width:64px;
  height:65px;
  opacity:0.5;
}
#u3926 {
  position:absolute;
  left:2px;
  top:25px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:65px;
}
#u3927 {
  position:absolute;
  left:0px;
  top:498px;
  width:64px;
  height:65px;
  opacity:0.5;
}
#u3928 {
  position:absolute;
  left:2px;
  top:25px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3929 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
}
#u3930 {
  position:absolute;
  left:20px;
  top:787px;
  width:150px;
  height:62px;
}
#u3931 {
  position:absolute;
  left:2px;
  top:23px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u3932 {
  position:absolute;
  left:14px;
  top:786px;
  width:64px;
  height:64px;
}
#u3933 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#FFFFFF;
}
#u3934 {
  position:absolute;
  left:84px;
  top:805px;
  width:49px;
  height:28px;
  color:#FFFFFF;
}
#u3935 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:62px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  font-size:20px;
  color:#FFFFFF;
}
#u3936 {
  position:absolute;
  left:268px;
  top:786px;
  width:200px;
  height:62px;
  font-size:20px;
  color:#FFFFFF;
}
#u3937 {
  position:absolute;
  left:2px;
  top:23px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#FFFFFF;
}
#u3938 {
  position:absolute;
  left:343px;
  top:805px;
  width:49px;
  height:28px;
  color:#FFFFFF;
}
#u3939 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  font-size:20px;
  color:#FFFFFF;
}
#u3940 {
  position:absolute;
  left:546px;
  top:786px;
  width:150px;
  height:62px;
  font-size:20px;
  color:#FFFFFF;
}
#u3941 {
  position:absolute;
  left:2px;
  top:23px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#FFFFFF;
}
#u3942 {
  position:absolute;
  left:572px;
  top:805px;
  width:97px;
  height:28px;
  color:#FFFFFF;
}
#u3943 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u3944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
}
#u3944 {
  position:absolute;
  left:860px;
  top:0px;
  width:720px;
  height:1024px;
  opacity:0.800000011920929;
}
#u3945 {
  position:absolute;
  left:2px;
  top:504px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
}
#u3946 {
  position:absolute;
  left:860px;
  top:0px;
  width:720px;
  height:60px;
}
#u3947 {
  position:absolute;
  left:2px;
  top:22px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:158px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
}
#u3948 {
  position:absolute;
  left:860px;
  top:866px;
  width:720px;
  height:158px;
}
#u3949 {
  position:absolute;
  left:2px;
  top:71px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u3950 {
  position:absolute;
  left:1000px;
  top:906px;
  width:116px;
  height:116px;
}
#u3951 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:152px;
}
#u3952 {
  position:absolute;
  left:1382px;
  top:870px;
  width:190px;
  height:152px;
}
#u3953 {
  position:absolute;
  left:2px;
  top:68px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u3954 {
  position:absolute;
  left:1252px;
  top:907px;
  width:116px;
  height:116px;
}
#u3955 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u3956 {
  position:absolute;
  left:1126px;
  top:906px;
  width:116px;
  height:116px;
}
#u3957 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u3958 {
  position:absolute;
  left:1030px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u3959 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u3960 {
  position:absolute;
  left:1452px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u3961 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u3962 {
  position:absolute;
  left:1286px;
  top:995px;
  width:49px;
  height:28px;
  color:#999999;
}
#u3963 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u3964 {
  position:absolute;
  left:1160px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u3965 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u3966 {
  position:absolute;
  left:874px;
  top:906px;
  width:116px;
  height:116px;
}
#u3967 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u3968 {
  position:absolute;
  left:906px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u3969 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#999999;
}
#u3970 {
  position:absolute;
  left:874px;
  top:874px;
  width:133px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#999999;
}
#u3971 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u3972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:97px;
}
#u3972 {
  position:absolute;
  left:862px;
  top:769px;
  width:718px;
  height:97px;
}
#u3973 {
  position:absolute;
  left:2px;
  top:41px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3974 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
}
#u3975 {
  position:absolute;
  left:890px;
  top:787px;
  width:150px;
  height:62px;
}
#u3976 {
  position:absolute;
  left:2px;
  top:23px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u3977 {
  position:absolute;
  left:884px;
  top:786px;
  width:64px;
  height:64px;
}
#u3978 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#FFFFFF;
}
#u3979 {
  position:absolute;
  left:954px;
  top:805px;
  width:49px;
  height:28px;
  color:#FFFFFF;
}
#u3980 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
  background:inherit;
  background-color:rgba(204, 153, 0, 1);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3981 {
  position:absolute;
  left:1400px;
  top:787px;
  width:150px;
  height:62px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3982 {
  position:absolute;
  left:2px;
  top:19px;
  width:146px;
  word-wrap:break-word;
}
#u3983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u3983 {
  position:absolute;
  left:1126px;
  top:803px;
  width:244px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u3984 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  white-space:nowrap;
}
#u3985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u3985 {
  position:absolute;
  left:884px;
  top:74px;
  width:116px;
  height:116px;
}
#u3986 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u3987 {
  position:absolute;
  left:1460px;
  top:92px;
  width:90px;
  height:90px;
}
#u3988 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#FFFFFF;
}
#u3989 {
  position:absolute;
  left:1474px;
  top:123px;
  width:62px;
  height:28px;
  color:#FFFFFF;
}
#u3990 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u3991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u3991 {
  position:absolute;
  left:1020px;
  top:89px;
  width:169px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u3992 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u3993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u3993 {
  position:absolute;
  left:1220px;
  top:118px;
  width:73px;
  height:28px;
  color:#999999;
}
#u3994 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u3995 {
  position:absolute;
  left:1020px;
  top:144px;
  width:58px;
  height:28px;
  color:#999999;
}
#u3996 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u3997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:2px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3997 {
  position:absolute;
  left:880px;
  top:210px;
  width:680px;
  height:2px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3998 {
  position:absolute;
  left:2px;
  top:-7px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u3999 {
  position:absolute;
  left:884px;
  top:234px;
  width:116px;
  height:116px;
}
#u4000 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u4001 {
  position:absolute;
  left:1460px;
  top:252px;
  width:90px;
  height:90px;
}
#u4002 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#FFFFFF;
}
#u4003 {
  position:absolute;
  left:1474px;
  top:283px;
  width:62px;
  height:28px;
  color:#FFFFFF;
}
#u4004 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u4005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4005 {
  position:absolute;
  left:1020px;
  top:249px;
  width:169px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4006 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u4007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u4007 {
  position:absolute;
  left:1220px;
  top:284px;
  width:73px;
  height:28px;
  color:#999999;
}
#u4008 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u4009 {
  position:absolute;
  left:1020px;
  top:304px;
  width:58px;
  height:28px;
  color:#999999;
}
#u4010 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u4011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:2px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4011 {
  position:absolute;
  left:880px;
  top:370px;
  width:680px;
  height:2px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4012 {
  position:absolute;
  left:2px;
  top:-7px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u4013 {
  position:absolute;
  left:1350px;
  top:252px;
  width:90px;
  height:90px;
}
#u4014 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#FFFFFF;
}
#u4015 {
  position:absolute;
  left:1364px;
  top:283px;
  width:62px;
  height:28px;
  color:#FFFFFF;
}
#u4016 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u4017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u4017 {
  position:absolute;
  left:884px;
  top:395px;
  width:116px;
  height:116px;
}
#u4018 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u4019 {
  position:absolute;
  left:1460px;
  top:413px;
  width:90px;
  height:90px;
}
#u4020 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#FFFFFF;
}
#u4021 {
  position:absolute;
  left:1474px;
  top:444px;
  width:62px;
  height:28px;
  color:#FFFFFF;
}
#u4022 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u4023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4023 {
  position:absolute;
  left:1020px;
  top:410px;
  width:169px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4024 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u4025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u4025 {
  position:absolute;
  left:1220px;
  top:445px;
  width:73px;
  height:28px;
  color:#999999;
}
#u4026 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u4027 {
  position:absolute;
  left:1020px;
  top:465px;
  width:58px;
  height:28px;
  color:#999999;
}
#u4028 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u4029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:2px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4029 {
  position:absolute;
  left:880px;
  top:531px;
  width:680px;
  height:2px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4030 {
  position:absolute;
  left:2px;
  top:-7px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u4031 {
  position:absolute;
  left:1350px;
  top:413px;
  width:90px;
  height:90px;
}
#u4032 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#FFFFFF;
}
#u4033 {
  position:absolute;
  left:1364px;
  top:444px;
  width:62px;
  height:28px;
  color:#FFFFFF;
}
#u4034 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u4035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u4035 {
  position:absolute;
  left:884px;
  top:554px;
  width:116px;
  height:116px;
}
#u4036 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u4037 {
  position:absolute;
  left:1460px;
  top:572px;
  width:90px;
  height:90px;
}
#u4038 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#FFFFFF;
}
#u4039 {
  position:absolute;
  left:1474px;
  top:603px;
  width:62px;
  height:28px;
  color:#FFFFFF;
}
#u4040 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u4041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4041 {
  position:absolute;
  left:1020px;
  top:569px;
  width:169px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4042 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u4043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u4043 {
  position:absolute;
  left:1220px;
  top:604px;
  width:73px;
  height:28px;
  color:#999999;
}
#u4044 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u4045 {
  position:absolute;
  left:1020px;
  top:624px;
  width:58px;
  height:28px;
  color:#999999;
}
#u4046 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u4047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u4047 {
  position:absolute;
  left:1350px;
  top:572px;
  width:90px;
  height:90px;
}
#u4048 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#FFFFFF;
}
#u4049 {
  position:absolute;
  left:1364px;
  top:603px;
  width:62px;
  height:28px;
  color:#FFFFFF;
}
#u4050 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u4051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:2px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4051 {
  position:absolute;
  left:880px;
  top:688px;
  width:680px;
  height:2px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4052 {
  position:absolute;
  left:2px;
  top:-7px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:58px;
}
#u4053 {
  position:absolute;
  left:884px;
  top:712px;
  width:116px;
  height:58px;
}
#u4054 {
  position:absolute;
  left:2px;
  top:21px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4055 {
  position:absolute;
  left:1020px;
  top:727px;
  width:169px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4056 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u4057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u4057 {
  position:absolute;
  left:1710px;
  top:0px;
  width:720px;
  height:1024px;
  opacity:0.800000011920929;
}
#u4058 {
  position:absolute;
  left:2px;
  top:504px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:928px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
}
#u4059 {
  position:absolute;
  left:1716px;
  top:40px;
  width:707px;
  height:928px;
}
#u4060 {
  position:absolute;
  left:2px;
  top:456px;
  width:703px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
}
#u4061 {
  position:absolute;
  left:1716px;
  top:40px;
  width:707px;
  height:40px;
}
#u4062 {
  position:absolute;
  left:2px;
  top:12px;
  width:703px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:28px;
  color:#5E5E5E;
}
#u4063 {
  position:absolute;
  left:2013px;
  top:43px;
  width:113px;
  height:33px;
  font-size:28px;
  color:#5E5E5E;
}
#u4064 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u4065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u4065 {
  position:absolute;
  left:2378px;
  top:36px;
  width:46px;
  height:46px;
  opacity:0.800000011920929;
}
#u4066 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:114px;
}
#u4067 {
  position:absolute;
  left:1716px;
  top:854px;
  width:707px;
  height:114px;
}
#u4068 {
  position:absolute;
  left:2px;
  top:49px;
  width:703px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
  background:inherit;
  background-color:rgba(204, 153, 0, 1);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4069 {
  position:absolute;
  left:1994px;
  top:880px;
  width:150px;
  height:62px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4070 {
  position:absolute;
  left:2px;
  top:19px;
  width:146px;
  word-wrap:break-word;
}
#u4071 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:138px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4072 {
  position:absolute;
  left:1730px;
  top:101px;
  width:680px;
  height:138px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4073 {
  position:absolute;
  left:2px;
  top:61px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:138px;
}
#u4074 {
  position:absolute;
  left:1730px;
  top:101px;
  width:90px;
  height:138px;
}
#u4075 {
  position:absolute;
  left:2px;
  top:61px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u4076 {
  position:absolute;
  left:2296px;
  top:125px;
  width:90px;
  height:90px;
}
#u4077 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u4078 {
  position:absolute;
  left:2343px;
  top:187px;
  width:37px;
  height:28px;
  color:#999999;
}
#u4079 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4080 {
  position:absolute;
  left:1737px;
  top:156px;
  width:76px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4081 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u4082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#BCBCBC;
}
#u4082 {
  position:absolute;
  left:1847px;
  top:125px;
  width:265px;
  height:28px;
  color:#BCBCBC;
}
#u4083 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
#u4084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#BCBCBC;
}
#u4084 {
  position:absolute;
  left:1904px;
  top:185px;
  width:81px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#BCBCBC;
}
#u4085 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#BCBCBC;
}
#u4086 {
  position:absolute;
  left:2099px;
  top:185px;
  width:81px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#BCBCBC;
}
#u4087 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:72px;
}
#u4088 {
  position:absolute;
  left:1840px;
  top:161px;
  width:60px;
  height:72px;
}
#u4089 {
  position:absolute;
  left:2px;
  top:28px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:70px;
}
#u4090 {
  position:absolute;
  left:2013px;
  top:166px;
  width:80px;
  height:70px;
}
#u4091 {
  position:absolute;
  left:2px;
  top:27px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4092 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:138px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4093 {
  position:absolute;
  left:1730px;
  top:696px;
  width:680px;
  height:138px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4094 {
  position:absolute;
  left:2px;
  top:61px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:138px;
}
#u4095 {
  position:absolute;
  left:1730px;
  top:696px;
  width:90px;
  height:138px;
}
#u4096 {
  position:absolute;
  left:2px;
  top:61px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u4097 {
  position:absolute;
  left:2296px;
  top:720px;
  width:90px;
  height:90px;
}
#u4098 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u4099 {
  position:absolute;
  left:2343px;
  top:782px;
  width:37px;
  height:28px;
  color:#999999;
}
#u4100 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4101 {
  position:absolute;
  left:1737px;
  top:751px;
  width:76px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4102 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u4103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u4103 {
  position:absolute;
  left:1847px;
  top:709px;
  width:309px;
  height:28px;
}
#u4104 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
#u4105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u4105 {
  position:absolute;
  left:1904px;
  top:769px;
  width:81px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u4106 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u4107 {
  position:absolute;
  left:2099px;
  top:769px;
  width:81px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u4108 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:72px;
}
#u4109 {
  position:absolute;
  left:1840px;
  top:745px;
  width:60px;
  height:72px;
}
#u4110 {
  position:absolute;
  left:2px;
  top:28px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:70px;
}
#u4111 {
  position:absolute;
  left:2013px;
  top:750px;
  width:80px;
  height:70px;
}
#u4112 {
  position:absolute;
  left:2px;
  top:27px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4113 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:138px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4114 {
  position:absolute;
  left:1730px;
  top:249px;
  width:680px;
  height:138px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4115 {
  position:absolute;
  left:2px;
  top:61px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:138px;
}
#u4116 {
  position:absolute;
  left:1730px;
  top:249px;
  width:90px;
  height:138px;
}
#u4117 {
  position:absolute;
  left:2px;
  top:61px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u4118 {
  position:absolute;
  left:2296px;
  top:273px;
  width:90px;
  height:90px;
}
#u4119 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u4120 {
  position:absolute;
  left:2343px;
  top:335px;
  width:37px;
  height:28px;
  color:#999999;
}
#u4121 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4122 {
  position:absolute;
  left:1737px;
  top:304px;
  width:76px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4123 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u4124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#BCBCBC;
}
#u4124 {
  position:absolute;
  left:1847px;
  top:273px;
  width:265px;
  height:28px;
  color:#BCBCBC;
}
#u4125 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
#u4126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#BCBCBC;
}
#u4126 {
  position:absolute;
  left:1904px;
  top:333px;
  width:81px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#BCBCBC;
}
#u4127 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#BCBCBC;
}
#u4128 {
  position:absolute;
  left:2099px;
  top:333px;
  width:81px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#BCBCBC;
}
#u4129 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:72px;
}
#u4130 {
  position:absolute;
  left:1840px;
  top:309px;
  width:60px;
  height:72px;
}
#u4131 {
  position:absolute;
  left:2px;
  top:28px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:70px;
}
#u4132 {
  position:absolute;
  left:2013px;
  top:314px;
  width:80px;
  height:70px;
}
#u4133 {
  position:absolute;
  left:2px;
  top:27px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4134 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:138px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4135 {
  position:absolute;
  left:1730px;
  top:397px;
  width:680px;
  height:138px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4136 {
  position:absolute;
  left:2px;
  top:61px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:138px;
}
#u4137 {
  position:absolute;
  left:1730px;
  top:397px;
  width:90px;
  height:138px;
}
#u4138 {
  position:absolute;
  left:2px;
  top:61px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u4139 {
  position:absolute;
  left:2296px;
  top:421px;
  width:90px;
  height:90px;
}
#u4140 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u4141 {
  position:absolute;
  left:2343px;
  top:483px;
  width:37px;
  height:28px;
  color:#999999;
}
#u4142 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4143 {
  position:absolute;
  left:1737px;
  top:452px;
  width:76px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4144 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u4145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#BCBCBC;
}
#u4145 {
  position:absolute;
  left:1847px;
  top:421px;
  width:265px;
  height:28px;
  color:#BCBCBC;
}
#u4146 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
#u4147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#BCBCBC;
}
#u4147 {
  position:absolute;
  left:1904px;
  top:481px;
  width:81px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#BCBCBC;
}
#u4148 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#BCBCBC;
}
#u4149 {
  position:absolute;
  left:2099px;
  top:481px;
  width:81px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#BCBCBC;
}
#u4150 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:72px;
}
#u4151 {
  position:absolute;
  left:1840px;
  top:457px;
  width:60px;
  height:72px;
}
#u4152 {
  position:absolute;
  left:2px;
  top:28px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:70px;
}
#u4153 {
  position:absolute;
  left:2013px;
  top:462px;
  width:80px;
  height:70px;
}
#u4154 {
  position:absolute;
  left:2px;
  top:27px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4155 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:138px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4156 {
  position:absolute;
  left:1730px;
  top:548px;
  width:680px;
  height:138px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4157 {
  position:absolute;
  left:2px;
  top:61px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:138px;
}
#u4158 {
  position:absolute;
  left:1730px;
  top:548px;
  width:90px;
  height:138px;
}
#u4159 {
  position:absolute;
  left:2px;
  top:61px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u4160 {
  position:absolute;
  left:2296px;
  top:572px;
  width:90px;
  height:90px;
}
#u4161 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u4162 {
  position:absolute;
  left:2343px;
  top:634px;
  width:37px;
  height:28px;
  color:#999999;
}
#u4163 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4164 {
  position:absolute;
  left:1737px;
  top:603px;
  width:76px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4165 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u4166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#BCBCBC;
}
#u4166 {
  position:absolute;
  left:1847px;
  top:572px;
  width:265px;
  height:28px;
  color:#BCBCBC;
}
#u4167 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
#u4168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#BCBCBC;
}
#u4168 {
  position:absolute;
  left:1904px;
  top:632px;
  width:81px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#BCBCBC;
}
#u4169 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#BCBCBC;
}
#u4170 {
  position:absolute;
  left:2099px;
  top:632px;
  width:81px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#BCBCBC;
}
#u4171 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:72px;
}
#u4172 {
  position:absolute;
  left:1840px;
  top:608px;
  width:60px;
  height:72px;
}
#u4173 {
  position:absolute;
  left:2px;
  top:28px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:70px;
}
#u4174 {
  position:absolute;
  left:2013px;
  top:613px;
  width:80px;
  height:70px;
}
#u4175 {
  position:absolute;
  left:2px;
  top:27px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4176 {
  position:absolute;
  left:14px;
  top:786px;
  width:150px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
