body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:723px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12171 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  opacity:0.800000011920929;
}
#u12172 {
  position:absolute;
  left:2px;
  top:504px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12173 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
}
#u12174 {
  position:absolute;
  left:2px;
  top:22px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:137px;
}
#u12175 {
  position:absolute;
  left:0px;
  top:60px;
  width:720px;
  height:137px;
}
#u12176 {
  position:absolute;
  left:2px;
  top:60px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12177 {
  position:absolute;
  left:20px;
  top:73px;
  width:116px;
  height:116px;
}
#u12178 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u12179 {
  position:absolute;
  left:151px;
  top:73px;
  width:116px;
  height:116px;
}
#u12180 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u12181 {
  position:absolute;
  left:282px;
  top:73px;
  width:116px;
  height:116px;
}
#u12182 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u12183 {
  position:absolute;
  left:413px;
  top:73px;
  width:116px;
  height:116px;
}
#u12184 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u12185 {
  position:absolute;
  left:544px;
  top:73px;
  width:116px;
  height:116px;
}
#u12186 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:116px;
}
#u12187 {
  position:absolute;
  left:675px;
  top:73px;
  width:37px;
  height:116px;
}
#u12188 {
  position:absolute;
  left:2px;
  top:50px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:414px;
}
#u12189 {
  position:absolute;
  left:161px;
  top:299px;
  width:414px;
  height:414px;
}
#u12190 {
  position:absolute;
  left:2px;
  top:199px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12191 {
  position:absolute;
  left:310px;
  top:234px;
  width:116px;
  height:116px;
}
#u12192 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12193 {
  position:absolute;
  left:120px;
  top:594px;
  width:116px;
  height:116px;
}
#u12194 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12195 {
  position:absolute;
  left:504px;
  top:594px;
  width:116px;
  height:116px;
}
#u12196 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:130px;
}
#u12197 {
  position:absolute;
  left:303px;
  top:440px;
  width:130px;
  height:130px;
}
#u12198 {
  position:absolute;
  left:2px;
  top:57px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u12199 {
  position:absolute;
  left:310px;
  top:448px;
  width:116px;
  height:116px;
}
#u12200 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u12201 {
  position:absolute;
  left:320px;
  top:594px;
  width:97px;
  height:28px;
  color:#949494;
}
#u12202 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u12203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:64px;
}
#u12203 {
  position:absolute;
  left:610px;
  top:216px;
  width:80px;
  height:64px;
}
#u12204 {
  position:absolute;
  left:2px;
  top:24px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u12205 {
  position:absolute;
  left:626px;
  top:280px;
  width:49px;
  height:28px;
  color:#949494;
}
#u12206 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:65px;
}
#u12207 {
  position:absolute;
  left:670px;
  top:498px;
  width:64px;
  height:65px;
  opacity:0.5;
}
#u12208 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:65px;
}
#u12209 {
  position:absolute;
  left:0px;
  top:498px;
  width:64px;
  height:65px;
  opacity:0.5;
}
#u12210 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12211 {
  position:absolute;
  left:120px;
  top:594px;
  width:116px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12212 {
  position:absolute;
  left:504px;
  top:594px;
  width:116px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12213 {
  position:absolute;
  left:310px;
  top:234px;
  width:116px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:126px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12215 {
  position:absolute;
  left:0px;
  top:898px;
  width:720px;
  height:126px;
}
#u12216 {
  position:absolute;
  left:2px;
  top:55px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u12217 {
  position:absolute;
  left:135px;
  top:906px;
  width:116px;
  height:116px;
}
#u12218 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:116px;
}
#u12219 {
  position:absolute;
  left:505px;
  top:906px;
  width:212px;
  height:116px;
}
#u12220 {
  position:absolute;
  left:2px;
  top:50px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u12221 {
  position:absolute;
  left:385px;
  top:907px;
  width:116px;
  height:116px;
}
#u12222 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u12223 {
  position:absolute;
  left:261px;
  top:906px;
  width:116px;
  height:116px;
}
#u12224 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12225 {
  position:absolute;
  left:172px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u12226 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12227 {
  position:absolute;
  left:592px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u12228 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12229 {
  position:absolute;
  left:426px;
  top:995px;
  width:49px;
  height:28px;
  color:#999999;
}
#u12230 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12231 {
  position:absolute;
  left:302px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u12232 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u12233 {
  position:absolute;
  left:9px;
  top:906px;
  width:116px;
  height:116px;
}
#u12234 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12235 {
  position:absolute;
  left:48px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u12236 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12237 {
  position:absolute;
  left:135px;
  top:906px;
  width:116px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12238 {
  position:absolute;
  left:388px;
  top:906px;
  width:116px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12239 {
  position:absolute;
  left:511px;
  top:906px;
  width:201px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12240 {
  position:absolute;
  left:261px;
  top:906px;
  width:117px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12241 {
  position:absolute;
  left:9px;
  top:906px;
  width:116px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:98px;
}
#u12243 {
  position:absolute;
  left:0px;
  top:800px;
  width:718px;
  height:98px;
}
#u12244 {
  position:absolute;
  left:2px;
  top:41px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:62px;
}
#u12245 {
  position:absolute;
  left:20px;
  top:818px;
  width:100px;
  height:62px;
}
#u12246 {
  position:absolute;
  left:2px;
  top:23px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u12247 {
  position:absolute;
  left:34px;
  top:817px;
  width:64px;
  height:64px;
}
#u12248 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12249_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u12249 {
  position:absolute;
  left:206px;
  top:594px;
  width:30px;
  height:30px;
}
#u12250 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:62px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12251 {
  position:absolute;
  left:240px;
  top:818px;
  width:200px;
  height:62px;
  font-size:20px;
  color:#FFFFFF;
}
#u12252 {
  position:absolute;
  left:2px;
  top:23px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12253 {
  position:absolute;
  left:320px;
  top:837px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u12254 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u12255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12255 {
  position:absolute;
  left:525px;
  top:818px;
  width:150px;
  height:62px;
  font-size:20px;
  color:#FFFFFF;
}
#u12256 {
  position:absolute;
  left:2px;
  top:23px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12257 {
  position:absolute;
  left:560px;
  top:837px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u12258 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12259 {
  position:absolute;
  left:20px;
  top:818px;
  width:100px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12260_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u12260 {
  position:absolute;
  left:670px;
  top:216px;
  width:30px;
  height:30px;
}
#u12261 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12262 {
  position:absolute;
  left:600px;
  top:216px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:38px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12264 {
  position:absolute;
  left:216px;
  top:11px;
  width:136px;
  height:38px;
}
#u12265 {
  position:absolute;
  left:2px;
  top:11px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:38px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12266 {
  position:absolute;
  left:382px;
  top:11px;
  width:144px;
  height:38px;
}
#u12267 {
  position:absolute;
  left:2px;
  top:11px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u12268 {
  position:absolute;
  left:255px;
  top:19px;
  width:59px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u12269 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u12270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:39px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12270 {
  position:absolute;
  left:559px;
  top:11px;
  width:132px;
  height:39px;
}
#u12271 {
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u12272 {
  position:absolute;
  left:440px;
  top:19px;
  width:39px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u12273 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u12274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u12274 {
  position:absolute;
  left:600px;
  top:19px;
  width:66px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u12275 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u12276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u12276 {
  position:absolute;
  left:193px;
  top:4px;
  width:52px;
  height:52px;
}
#u12277 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u12278 {
  position:absolute;
  left:367px;
  top:4px;
  width:52px;
  height:52px;
}
#u12279 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:38px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12280 {
  position:absolute;
  left:44px;
  top:11px;
  width:139px;
  height:38px;
}
#u12281 {
  position:absolute;
  left:2px;
  top:11px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12282 {
  position:absolute;
  left:45px;
  top:12px;
  width:105px;
  height:36px;
}
#u12283 {
  position:absolute;
  left:2px;
  top:10px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:52px;
}
#u12284 {
  position:absolute;
  left:-11px;
  top:4px;
  width:66px;
  height:52px;
}
#u12285 {
  position:absolute;
  left:2px;
  top:18px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#BCBCBC;
}
#u12286 {
  position:absolute;
  left:5px;
  top:14px;
  width:33px;
  height:33px;
  font-size:28px;
  color:#BCBCBC;
}
#u12287 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u12288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u12288 {
  position:absolute;
  left:536px;
  top:4px;
  width:52px;
  height:52px;
}
#u12289 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12290 {
  position:absolute;
  left:0px;
  top:0px;
  visibility:hidden;
}
#u12290_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u12290_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12291 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  opacity:0.800000011920929;
}
#u12292 {
  position:absolute;
  left:2px;
  top:504px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:442px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12293 {
  position:absolute;
  left:100px;
  top:244px;
  width:520px;
  height:442px;
}
#u12294 {
  position:absolute;
  left:2px;
  top:213px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12295 {
  position:absolute;
  left:100px;
  top:244px;
  width:520px;
  height:40px;
}
#u12296 {
  position:absolute;
  left:2px;
  top:12px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#5E5E5E;
}
#u12297 {
  position:absolute;
  left:332px;
  top:248px;
  width:57px;
  height:33px;
  font-size:28px;
  color:#5E5E5E;
}
#u12298 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u12299 {
  position:absolute;
  left:574px;
  top:241px;
  width:46px;
  height:46px;
  opacity:0.800000011920929;
}
#u12300 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u12301 {
  position:absolute;
  left:130px;
  top:307px;
  width:423px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u12302 {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  white-space:nowrap;
}
#u12303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u12303 {
  position:absolute;
  left:130px;
  top:345px;
  width:321px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u12304 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  white-space:nowrap;
}
#u12305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:297px;
}
#u12305 {
  position:absolute;
  left:100px;
  top:389px;
  width:520px;
  height:297px;
}
#u12306 {
  position:absolute;
  left:2px;
  top:140px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:211px;
}
#u12307 {
  position:absolute;
  left:152px;
  top:410px;
  width:177px;
  height:211px;
}
#u12308 {
  position:absolute;
  left:2px;
  top:98px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:211px;
}
#u12309 {
  position:absolute;
  left:392px;
  top:410px;
  width:177px;
  height:211px;
}
#u12310 {
  position:absolute;
  left:2px;
  top:98px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u12311 {
  position:absolute;
  left:196px;
  top:480px;
  width:90px;
  height:90px;
}
#u12312 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12313 {
  position:absolute;
  left:180px;
  top:423px;
  width:121px;
  height:28px;
  color:#999999;
}
#u12314 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u12315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u12315 {
  position:absolute;
  left:178px;
  top:641px;
  width:124px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u12316 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u12317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u12317 {
  position:absolute;
  left:436px;
  top:480px;
  width:90px;
  height:90px;
}
#u12318 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12319 {
  position:absolute;
  left:420px;
  top:423px;
  width:121px;
  height:28px;
  color:#999999;
}
#u12320 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u12321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u12321 {
  position:absolute;
  left:418px;
  top:641px;
  width:124px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u12322 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u12323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12323 {
  position:absolute;
  left:267px;
  top:542px;
  width:14px;
  height:28px;
  color:#999999;
}
#u12324 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u12325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12325 {
  position:absolute;
  left:507px;
  top:542px;
  width:14px;
  height:28px;
  color:#999999;
}
#u12326 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u12327_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u12327 {
  position:absolute;
  left:541px;
  top:410px;
  width:30px;
  height:30px;
}
#u12328 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12329 {
  position:absolute;
  left:574px;
  top:248px;
  width:46px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12330 {
  position:absolute;
  left:392px;
  top:410px;
  width:177px;
  height:211px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12331 {
  position:absolute;
  left:0px;
  top:0px;
  visibility:hidden;
}
#u12331_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u12331_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12332 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  opacity:0.800000011920929;
}
#u12333 {
  position:absolute;
  left:2px;
  top:504px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:324px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12334 {
  position:absolute;
  left:121px;
  top:266px;
  width:478px;
  height:324px;
}
#u12335 {
  position:absolute;
  left:2px;
  top:154px;
  width:474px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:76px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12336 {
  position:absolute;
  left:121px;
  top:590px;
  width:478px;
  height:76px;
}
#u12337 {
  position:absolute;
  left:2px;
  top:30px;
  width:474px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:40px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12338 {
  position:absolute;
  left:121px;
  top:266px;
  width:478px;
  height:40px;
}
#u12339 {
  position:absolute;
  left:2px;
  top:12px;
  width:474px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12340 {
  position:absolute;
  left:315px;
  top:384px;
  width:90px;
  height:90px;
}
#u12341 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#949494;
}
#u12342 {
  position:absolute;
  left:161px;
  top:556px;
  width:169px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#949494;
}
#u12343 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u12344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#949494;
}
#u12344 {
  position:absolute;
  left:432px;
  top:556px;
  width:141px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#949494;
}
#u12345 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u12346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u12346 {
  position:absolute;
  left:325px;
  top:394px;
  width:70px;
  height:70px;
}
#u12347 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u12348 {
  position:absolute;
  left:551px;
  top:263px;
  width:46px;
  height:46px;
  opacity:0.800000011920929;
}
#u12349 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:43px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12350 {
  position:absolute;
  left:264px;
  top:325px;
  width:207px;
  height:43px;
}
#u12351 {
  position:absolute;
  left:2px;
  top:14px;
  width:203px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#949494;
}
#u12352 {
  position:absolute;
  left:310px;
  top:334px;
  width:101px;
  height:24px;
  font-size:20px;
  color:#949494;
}
#u12353 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u12354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
}
#u12354 {
  position:absolute;
  left:336px;
  top:272px;
  width:49px;
  height:28px;
  font-size:24px;
  color:#FFFFFF;
}
#u12355 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
  background:inherit;
  background-color:rgba(204, 153, 0, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12356 {
  position:absolute;
  left:171px;
  top:599px;
  width:150px;
  height:62px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12357 {
  position:absolute;
  left:2px;
  top:23px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u12358 {
  position:absolute;
  left:178px;
  top:603px;
  width:54px;
  height:54px;
}
#u12359 {
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u12360 {
  position:absolute;
  left:254px;
  top:614px;
  width:33px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u12361 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u12362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12362 {
  position:absolute;
  left:430px;
  top:597px;
  width:150px;
  height:62px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12363 {
  position:absolute;
  left:2px;
  top:23px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u12364 {
  position:absolute;
  left:477px;
  top:612px;
  width:57px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u12365 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#949494;
}
#u12366 {
  position:absolute;
  left:210px;
  top:488px;
  width:301px;
  height:48px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#949494;
}
#u12367 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  white-space:nowrap;
}
#u12368 {
  position:absolute;
  left:540px;
  top:266px;
  width:57px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
