body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:734px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6995 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  opacity:0.800000011920929;
}
#u6996 {
  position:absolute;
  left:2px;
  top:504px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6997 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
}
#u6998 {
  position:absolute;
  left:2px;
  top:22px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:158px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6999 {
  position:absolute;
  left:0px;
  top:866px;
  width:720px;
  height:158px;
}
#u7000 {
  position:absolute;
  left:2px;
  top:71px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u7001 {
  position:absolute;
  left:140px;
  top:906px;
  width:116px;
  height:116px;
}
#u7002 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:152px;
}
#u7003 {
  position:absolute;
  left:522px;
  top:870px;
  width:190px;
  height:152px;
}
#u7004 {
  position:absolute;
  left:2px;
  top:68px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u7005 {
  position:absolute;
  left:392px;
  top:907px;
  width:116px;
  height:116px;
}
#u7006 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u7007 {
  position:absolute;
  left:266px;
  top:906px;
  width:116px;
  height:116px;
}
#u7008 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7009 {
  position:absolute;
  left:170px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u7010 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7011 {
  position:absolute;
  left:592px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u7012 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7013 {
  position:absolute;
  left:426px;
  top:995px;
  width:49px;
  height:28px;
  color:#999999;
}
#u7014 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7015 {
  position:absolute;
  left:300px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u7016 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u7017 {
  position:absolute;
  left:14px;
  top:906px;
  width:116px;
  height:116px;
}
#u7018 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7019 {
  position:absolute;
  left:46px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u7020 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#999999;
}
#u7021 {
  position:absolute;
  left:14px;
  top:874px;
  width:133px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#999999;
}
#u7022 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u7023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:137px;
}
#u7023 {
  position:absolute;
  left:0px;
  top:60px;
  width:720px;
  height:137px;
}
#u7024 {
  position:absolute;
  left:2px;
  top:60px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7025 {
  position:absolute;
  left:20px;
  top:73px;
  width:116px;
  height:116px;
}
#u7026 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u7027 {
  position:absolute;
  left:151px;
  top:73px;
  width:116px;
  height:116px;
}
#u7028 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u7029 {
  position:absolute;
  left:282px;
  top:73px;
  width:116px;
  height:116px;
}
#u7030 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u7031 {
  position:absolute;
  left:413px;
  top:73px;
  width:116px;
  height:116px;
}
#u7032 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u7033 {
  position:absolute;
  left:544px;
  top:73px;
  width:116px;
  height:116px;
}
#u7034 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:116px;
}
#u7035 {
  position:absolute;
  left:675px;
  top:73px;
  width:37px;
  height:116px;
}
#u7036 {
  position:absolute;
  left:2px;
  top:50px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:414px;
}
#u7037 {
  position:absolute;
  left:161px;
  top:299px;
  width:414px;
  height:414px;
}
#u7038 {
  position:absolute;
  left:2px;
  top:199px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7039 {
  position:absolute;
  left:310px;
  top:234px;
  width:116px;
  height:116px;
}
#u7040 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7041 {
  position:absolute;
  left:120px;
  top:594px;
  width:116px;
  height:116px;
}
#u7042 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7043 {
  position:absolute;
  left:504px;
  top:594px;
  width:116px;
  height:116px;
}
#u7044 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:130px;
}
#u7045 {
  position:absolute;
  left:303px;
  top:440px;
  width:130px;
  height:130px;
}
#u7046 {
  position:absolute;
  left:2px;
  top:57px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u7047 {
  position:absolute;
  left:310px;
  top:448px;
  width:116px;
  height:116px;
}
#u7048 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u7049 {
  position:absolute;
  left:320px;
  top:594px;
  width:97px;
  height:28px;
  color:#949494;
}
#u7050 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u7051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:64px;
}
#u7051 {
  position:absolute;
  left:610px;
  top:216px;
  width:80px;
  height:64px;
}
#u7052 {
  position:absolute;
  left:2px;
  top:24px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u7053 {
  position:absolute;
  left:626px;
  top:290px;
  width:49px;
  height:28px;
  color:#949494;
}
#u7054 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:65px;
}
#u7055 {
  position:absolute;
  left:670px;
  top:498px;
  width:64px;
  height:65px;
  opacity:0.5;
}
#u7056 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:65px;
}
#u7057 {
  position:absolute;
  left:0px;
  top:498px;
  width:64px;
  height:65px;
  opacity:0.5;
}
#u7058 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7059 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
}
#u7060 {
  position:absolute;
  left:20px;
  top:787px;
  width:150px;
  height:62px;
}
#u7061 {
  position:absolute;
  left:2px;
  top:23px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u7062 {
  position:absolute;
  left:14px;
  top:786px;
  width:64px;
  height:64px;
}
#u7063 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7064 {
  position:absolute;
  left:84px;
  top:805px;
  width:49px;
  height:28px;
  color:#FFFFFF;
}
#u7065 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:62px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u7066 {
  position:absolute;
  left:268px;
  top:786px;
  width:200px;
  height:62px;
  font-size:20px;
  color:#FFFFFF;
}
#u7067 {
  position:absolute;
  left:2px;
  top:23px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7068 {
  position:absolute;
  left:343px;
  top:805px;
  width:49px;
  height:28px;
  color:#FFFFFF;
}
#u7069 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u7070 {
  position:absolute;
  left:546px;
  top:786px;
  width:150px;
  height:62px;
  font-size:20px;
  color:#FFFFFF;
}
#u7071 {
  position:absolute;
  left:2px;
  top:23px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7072 {
  position:absolute;
  left:572px;
  top:805px;
  width:97px;
  height:28px;
  color:#FFFFFF;
}
#u7073 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u7074 {
  position:absolute;
  left:20px;
  top:786px;
  width:150px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7075 {
  position:absolute;
  left:120px;
  top:594px;
  width:116px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7076 {
  position:absolute;
  left:504px;
  top:594px;
  width:116px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7077 {
  position:absolute;
  left:310px;
  top:234px;
  width:116px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7078 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7079 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:26px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7080 {
  position:absolute;
  left:430px;
  top:18px;
  width:114px;
  height:26px;
}
#u7081 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7082 {
  position:absolute;
  left:475px;
  top:20px;
  width:59px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7083 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u7084 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:26px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7085 {
  position:absolute;
  left:259px;
  top:19px;
  width:114px;
  height:26px;
}
#u7086 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7087 {
  position:absolute;
  left:299px;
  top:21px;
  width:66px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7088 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u7089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:26px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7089 {
  position:absolute;
  left:601px;
  top:18px;
  width:114px;
  height:26px;
}
#u7090 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7091 {
  position:absolute;
  left:665px;
  top:20px;
  width:39px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7092 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u7093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u7093 {
  position:absolute;
  left:402px;
  top:5px;
  width:52px;
  height:52px;
}
#u7094 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u7095 {
  position:absolute;
  left:579px;
  top:5px;
  width:52px;
  height:52px;
}
#u7096 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u7097 {
  position:absolute;
  left:237px;
  top:4px;
  width:52px;
  height:52px;
}
#u7098 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7099 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:26px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7100 {
  position:absolute;
  left:59px;
  top:18px;
  width:114px;
  height:26px;
}
#u7101 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7102 {
  position:absolute;
  left:99px;
  top:20px;
  width:71px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7103 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u7104 {
  position:absolute;
  left:33px;
  top:11px;
  width:57px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u7105 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
