body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11228 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  opacity:0.800000011920929;
}
#u11229 {
  position:absolute;
  left:2px;
  top:504px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:984px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11230 {
  position:absolute;
  left:8px;
  top:22px;
  width:707px;
  height:984px;
}
#u11231 {
  position:absolute;
  left:2px;
  top:484px;
  width:703px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11232 {
  position:absolute;
  left:8px;
  top:22px;
  width:707px;
  height:40px;
}
#u11233 {
  position:absolute;
  left:2px;
  top:12px;
  width:703px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#5E5E5E;
}
#u11234 {
  position:absolute;
  left:306px;
  top:26px;
  width:113px;
  height:33px;
  font-size:28px;
  color:#5E5E5E;
}
#u11235 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u11236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u11236 {
  position:absolute;
  left:670px;
  top:18px;
  width:46px;
  height:46px;
  opacity:0.800000011920929;
}
#u11237 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:326px;
}
#u11238 {
  position:absolute;
  left:32px;
  top:72px;
  width:660px;
  height:326px;
}
#u11239 {
  position:absolute;
  left:2px;
  top:155px;
  width:656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:186px;
}
#u11240 {
  position:absolute;
  left:274px;
  top:168px;
  width:206px;
  height:186px;
}
#u11241 {
  position:absolute;
  left:2px;
  top:85px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u11242 {
  position:absolute;
  left:94px;
  top:518px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u11243 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u11244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#999999;
}
#u11244 {
  position:absolute;
  left:92px;
  top:486px;
  width:81px;
  height:33px;
  font-size:28px;
  color:#999999;
}
#u11245 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u11246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:37px;
}
#u11246 {
  position:absolute;
  left:48px;
  top:496px;
  width:36px;
  height:37px;
}
#u11247 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u11248 {
  position:absolute;
  left:248px;
  top:518px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u11249 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u11250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#999999;
}
#u11250 {
  position:absolute;
  left:246px;
  top:486px;
  width:81px;
  height:33px;
  font-size:28px;
  color:#999999;
}
#u11251 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u11252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:37px;
}
#u11252 {
  position:absolute;
  left:202px;
  top:496px;
  width:36px;
  height:37px;
}
#u11253 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u11254 {
  position:absolute;
  left:94px;
  top:698px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u11255 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u11256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#999999;
}
#u11256 {
  position:absolute;
  left:92px;
  top:666px;
  width:65px;
  height:33px;
  font-size:28px;
  color:#999999;
}
#u11257 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u11258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:37px;
}
#u11258 {
  position:absolute;
  left:48px;
  top:676px;
  width:36px;
  height:37px;
}
#u11259 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u11260 {
  position:absolute;
  left:248px;
  top:698px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u11261 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u11262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#999999;
}
#u11262 {
  position:absolute;
  left:246px;
  top:666px;
  width:49px;
  height:33px;
  font-size:28px;
  color:#999999;
}
#u11263 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u11264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:37px;
}
#u11264 {
  position:absolute;
  left:202px;
  top:676px;
  width:36px;
  height:37px;
}
#u11265 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:114px;
}
#u11266 {
  position:absolute;
  left:8px;
  top:892px;
  width:707px;
  height:114px;
}
#u11267 {
  position:absolute;
  left:2px;
  top:49px;
  width:703px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u11268 {
  position:absolute;
  left:448px;
  top:922px;
  width:150px;
  height:62px;
  font-size:20px;
  color:#FFFFFF;
}
#u11269 {
  position:absolute;
  left:2px;
  top:19px;
  width:146px;
  word-wrap:break-word;
}
#u11270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u11270 {
  position:absolute;
  left:126px;
  top:922px;
  width:150px;
  height:62px;
  font-size:20px;
  color:#FFFFFF;
}
#u11271 {
  position:absolute;
  left:2px;
  top:19px;
  width:146px;
  word-wrap:break-word;
}
#u11272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u11272 {
  position:absolute;
  left:534px;
  top:666px;
  width:150px;
  height:62px;
  font-size:20px;
  color:#FFFFFF;
}
#u11273 {
  position:absolute;
  left:2px;
  top:23px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u11274 {
  position:absolute;
  left:534px;
  top:486px;
  width:150px;
  height:62px;
  font-size:20px;
  color:#FFFFFF;
}
#u11275 {
  position:absolute;
  left:2px;
  top:23px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:33px;
}
#u11276 {
  position:absolute;
  left:4px;
  top:416px;
  width:704px;
  height:33px;
}
#u11277 {
  position:absolute;
  left:2px;
  top:8px;
  width:700px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11278 {
  position:absolute;
  left:308px;
  top:418px;
  width:97px;
  height:28px;
  color:#FFFFFF;
}
#u11279 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u11280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:37px;
}
#u11280 {
  position:absolute;
  left:548px;
  top:498px;
  width:36px;
  height:37px;
}
#u11281 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:37px;
}
#u11282 {
  position:absolute;
  left:548px;
  top:678px;
  width:36px;
  height:37px;
}
#u11283 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u11284 {
  position:absolute;
  left:594px;
  top:680px;
  width:57px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u11285 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u11286 {
  position:absolute;
  left:606px;
  top:500px;
  width:57px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u11287 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11288 {
  position:absolute;
  left:32px;
  top:72px;
  width:660px;
  height:40px;
}
#u11289 {
  position:absolute;
  left:2px;
  top:12px;
  width:656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u11290 {
  position:absolute;
  left:44px;
  top:76px;
  width:141px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u11291 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u11292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:37px;
}
#u11292 {
  position:absolute;
  left:48px;
  top:128px;
  width:36px;
  height:37px;
}
#u11293 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
  color:#999999;
}
#u11294 {
  position:absolute;
  left:216px;
  top:116px;
  width:28px;
  height:57px;
  font-size:48px;
  color:#999999;
}
#u11295 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u11296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u11296 {
  position:absolute;
  left:90px;
  top:132px;
  width:113px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u11297 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u11298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:46px;
}
#u11298 {
  position:absolute;
  left:556px;
  top:128px;
  width:122px;
  height:46px;
}
#u11299 {
  position:absolute;
  left:2px;
  top:15px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#999999;
}
#u11300 {
  position:absolute;
  left:588px;
  top:134px;
  width:57px;
  height:33px;
  font-size:28px;
  color:#999999;
}
#u11301 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:37px;
}
#u11302 {
  position:absolute;
  left:48px;
  top:188px;
  width:36px;
  height:37px;
}
#u11303 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u11304 {
  position:absolute;
  left:90px;
  top:192px;
  width:113px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u11305 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u11306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
  color:#999999;
}
#u11306 {
  position:absolute;
  left:216px;
  top:174px;
  width:28px;
  height:57px;
  font-size:48px;
  color:#999999;
}
#u11307 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u11308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:33px;
}
#u11308 {
  position:absolute;
  left:8px;
  top:592px;
  width:704px;
  height:33px;
}
#u11309 {
  position:absolute;
  left:2px;
  top:8px;
  width:700px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11310 {
  position:absolute;
  left:312px;
  top:594px;
  width:97px;
  height:28px;
  color:#FFFFFF;
}
#u11311 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u11312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:33px;
}
#u11312 {
  position:absolute;
  left:10px;
  top:758px;
  width:704px;
  height:33px;
}
#u11313 {
  position:absolute;
  left:2px;
  top:8px;
  width:700px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11314 {
  position:absolute;
  left:338px;
  top:760px;
  width:49px;
  height:28px;
  color:#FFFFFF;
}
#u11315 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u11316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u11316 {
  position:absolute;
  left:48px;
  top:810px;
  width:221px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u11317 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u11318 {
  position:absolute;
  left:534px;
  top:486px;
  width:151px;
  height:62px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11319 {
  position:absolute;
  left:534px;
  top:666px;
  width:151px;
  height:62px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11320 {
  position:absolute;
  left:670px;
  top:10px;
  width:45px;
  height:62px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
