body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13012 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  opacity:0.800000011920929;
}
#u13013 {
  position:absolute;
  left:2px;
  top:504px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13014 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
}
#u13015 {
  position:absolute;
  left:2px;
  top:22px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:158px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13016 {
  position:absolute;
  left:0px;
  top:866px;
  width:720px;
  height:158px;
}
#u13017 {
  position:absolute;
  left:2px;
  top:71px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u13018 {
  position:absolute;
  left:141px;
  top:906px;
  width:116px;
  height:116px;
}
#u13019 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:152px;
}
#u13020 {
  position:absolute;
  left:522px;
  top:870px;
  width:190px;
  height:152px;
}
#u13021 {
  position:absolute;
  left:2px;
  top:68px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u13022 {
  position:absolute;
  left:392px;
  top:907px;
  width:116px;
  height:116px;
}
#u13023 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u13024 {
  position:absolute;
  left:267px;
  top:906px;
  width:116px;
  height:116px;
}
#u13025 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13026 {
  position:absolute;
  left:171px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u13027 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13028 {
  position:absolute;
  left:592px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u13029 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13030 {
  position:absolute;
  left:426px;
  top:995px;
  width:49px;
  height:28px;
  color:#999999;
}
#u13031 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13032 {
  position:absolute;
  left:301px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u13033 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u13034 {
  position:absolute;
  left:15px;
  top:906px;
  width:116px;
  height:116px;
}
#u13035 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13036 {
  position:absolute;
  left:47px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u13037 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:97px;
}
#u13038 {
  position:absolute;
  left:1px;
  top:769px;
  width:718px;
  height:97px;
}
#u13039 {
  position:absolute;
  left:2px;
  top:40px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13040 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
}
#u13041 {
  position:absolute;
  left:30px;
  top:787px;
  width:150px;
  height:62px;
}
#u13042 {
  position:absolute;
  left:2px;
  top:23px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u13043 {
  position:absolute;
  left:24px;
  top:786px;
  width:64px;
  height:64px;
}
#u13044 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13045 {
  position:absolute;
  left:94px;
  top:805px;
  width:49px;
  height:28px;
  color:#FFFFFF;
}
#u13046 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#999999;
}
#u13047 {
  position:absolute;
  left:19px;
  top:874px;
  width:419px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#999999;
}
#u13048 {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  white-space:nowrap;
}
#u13049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:62px;
  background:inherit;
  background-color:rgba(204, 153, 0, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u13049 {
  position:absolute;
  left:480px;
  top:786px;
  width:200px;
  height:62px;
  font-size:20px;
  color:#FFFFFF;
}
#u13050 {
  position:absolute;
  left:2px;
  top:23px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13051 {
  position:absolute;
  left:556px;
  top:805px;
  width:49px;
  height:28px;
  color:#FFFFFF;
}
#u13052 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u13053 {
  position:absolute;
  left:444px;
  top:769px;
  width:90px;
  height:90px;
}
#u13054 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:699px;
  height:645px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13055 {
  position:absolute;
  left:9px;
  top:125px;
  width:699px;
  height:645px;
}
#u13056 {
  position:absolute;
  left:2px;
  top:314px;
  width:695px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u13057 {
  position:absolute;
  left:285px;
  top:786px;
  width:150px;
  height:62px;
  font-size:20px;
  color:#FFFFFF;
}
#u13058 {
  position:absolute;
  left:2px;
  top:23px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13059 {
  position:absolute;
  left:300px;
  top:805px;
  width:121px;
  height:28px;
  color:#FFFFFF;
}
#u13060 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u13061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:41px;
}
#u13061 {
  position:absolute;
  left:190px;
  top:76px;
  width:502px;
  height:41px;
  opacity:0.600000023841858;
}
#u13062 {
  position:absolute;
  left:2px;
  top:12px;
  width:498px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13063 {
  position:absolute;
  left:210px;
  top:84px;
  width:137px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13064 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u13065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13065 {
  position:absolute;
  left:397px;
  top:84px;
  width:219px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13066 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  white-space:nowrap;
}
#u13067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u13067 {
  position:absolute;
  left:626px;
  top:71px;
  width:52px;
  height:52px;
}
#u13068 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13069 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:664px;
  height:123px;
}
#u13070 {
  position:absolute;
  left:27px;
  top:141px;
  width:664px;
  height:123px;
}
#u13071 {
  position:absolute;
  left:2px;
  top:54px;
  width:660px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u13072 {
  position:absolute;
  left:185px;
  top:153px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u13073 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13074 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u13075 {
  position:absolute;
  left:55px;
  top:154px;
  width:100px;
  height:100px;
}
#u13076 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:97px;
}
#u13077 {
  position:absolute;
  left:53px;
  top:156px;
  width:105px;
  height:97px;
}
#u13078 {
  position:absolute;
  left:2px;
  top:40px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:71px;
}
#u13079 {
  position:absolute;
  left:167px;
  top:183px;
  width:347px;
  height:71px;
}
#u13080 {
  position:absolute;
  left:2px;
  top:28px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u13081 {
  position:absolute;
  left:441px;
  top:153px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u13082 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u13083 {
  position:absolute;
  left:528px;
  top:188px;
  width:150px;
  height:62px;
  font-size:20px;
  color:#FFFFFF;
}
#u13084 {
  position:absolute;
  left:2px;
  top:23px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13085 {
  position:absolute;
  left:579px;
  top:207px;
  width:49px;
  height:28px;
  color:#FFFFFF;
}
#u13086 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u13087 {
  position:absolute;
  left:534px;
  top:153px;
  width:138px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u13088 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u13089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u13089 {
  position:absolute;
  left:190px;
  top:205px;
  width:86px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u13090 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u13091 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:664px;
  height:123px;
}
#u13092 {
  position:absolute;
  left:27px;
  top:274px;
  width:664px;
  height:123px;
}
#u13093 {
  position:absolute;
  left:2px;
  top:54px;
  width:660px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u13094 {
  position:absolute;
  left:185px;
  top:286px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u13095 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13096 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u13097 {
  position:absolute;
  left:55px;
  top:287px;
  width:100px;
  height:100px;
}
#u13098 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:97px;
}
#u13099 {
  position:absolute;
  left:53px;
  top:289px;
  width:105px;
  height:97px;
}
#u13100 {
  position:absolute;
  left:2px;
  top:40px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:71px;
}
#u13101 {
  position:absolute;
  left:167px;
  top:316px;
  width:347px;
  height:71px;
}
#u13102 {
  position:absolute;
  left:2px;
  top:28px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u13103 {
  position:absolute;
  left:441px;
  top:286px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u13104 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u13105 {
  position:absolute;
  left:528px;
  top:321px;
  width:150px;
  height:62px;
  font-size:20px;
  color:#FFFFFF;
}
#u13106 {
  position:absolute;
  left:2px;
  top:23px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13107 {
  position:absolute;
  left:579px;
  top:340px;
  width:49px;
  height:28px;
  color:#FFFFFF;
}
#u13108 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u13109 {
  position:absolute;
  left:534px;
  top:286px;
  width:138px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u13110 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u13111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u13111 {
  position:absolute;
  left:190px;
  top:338px;
  width:86px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u13112 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u13113 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:664px;
  height:123px;
}
#u13114 {
  position:absolute;
  left:27px;
  top:407px;
  width:664px;
  height:123px;
}
#u13115 {
  position:absolute;
  left:2px;
  top:54px;
  width:660px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u13116 {
  position:absolute;
  left:185px;
  top:419px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u13117 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13118 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u13119 {
  position:absolute;
  left:55px;
  top:420px;
  width:100px;
  height:100px;
}
#u13120 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:97px;
}
#u13121 {
  position:absolute;
  left:53px;
  top:422px;
  width:105px;
  height:97px;
}
#u13122 {
  position:absolute;
  left:2px;
  top:40px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:71px;
}
#u13123 {
  position:absolute;
  left:167px;
  top:449px;
  width:347px;
  height:71px;
}
#u13124 {
  position:absolute;
  left:2px;
  top:28px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u13125 {
  position:absolute;
  left:441px;
  top:419px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u13126 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u13127 {
  position:absolute;
  left:528px;
  top:454px;
  width:150px;
  height:62px;
  font-size:20px;
  color:#FFFFFF;
}
#u13128 {
  position:absolute;
  left:2px;
  top:23px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13129 {
  position:absolute;
  left:579px;
  top:473px;
  width:49px;
  height:28px;
  color:#FFFFFF;
}
#u13130 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u13131 {
  position:absolute;
  left:534px;
  top:419px;
  width:138px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u13132 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u13133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u13133 {
  position:absolute;
  left:190px;
  top:471px;
  width:86px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u13134 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u13135 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:664px;
  height:123px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13136 {
  position:absolute;
  left:27px;
  top:540px;
  width:664px;
  height:123px;
}
#u13137 {
  position:absolute;
  left:2px;
  top:54px;
  width:660px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u13138 {
  position:absolute;
  left:185px;
  top:552px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u13139 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13140 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u13141 {
  position:absolute;
  left:55px;
  top:553px;
  width:100px;
  height:100px;
}
#u13142 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:97px;
}
#u13143 {
  position:absolute;
  left:53px;
  top:555px;
  width:105px;
  height:97px;
}
#u13144 {
  position:absolute;
  left:2px;
  top:40px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:71px;
}
#u13145 {
  position:absolute;
  left:167px;
  top:582px;
  width:347px;
  height:71px;
}
#u13146 {
  position:absolute;
  left:2px;
  top:28px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u13147 {
  position:absolute;
  left:441px;
  top:552px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u13148 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u13149 {
  position:absolute;
  left:534px;
  top:552px;
  width:138px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u13150 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u13151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u13151 {
  position:absolute;
  left:190px;
  top:604px;
  width:86px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u13152 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u13153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
  background:inherit;
  background-color:rgba(204, 153, 0, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u13153 {
  position:absolute;
  left:529px;
  top:587px;
  width:150px;
  height:62px;
  font-size:20px;
  color:#FFFFFF;
}
#u13154 {
  position:absolute;
  left:2px;
  top:23px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13155 {
  position:absolute;
  left:555px;
  top:606px;
  width:97px;
  height:28px;
  color:#FFFFFF;
}
#u13156 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u13157 {
  position:absolute;
  left:30px;
  top:786px;
  width:150px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13158 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13159 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:26px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13160 {
  position:absolute;
  left:263px;
  top:18px;
  width:114px;
  height:26px;
}
#u13161 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u13162 {
  position:absolute;
  left:303px;
  top:20px;
  width:71px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u13163 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u13164 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:26px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13165 {
  position:absolute;
  left:430px;
  top:18px;
  width:114px;
  height:26px;
}
#u13166 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u13167 {
  position:absolute;
  left:475px;
  top:20px;
  width:59px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u13168 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u13169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:26px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13169 {
  position:absolute;
  left:601px;
  top:18px;
  width:114px;
  height:26px;
}
#u13170 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u13171 {
  position:absolute;
  left:665px;
  top:20px;
  width:39px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u13172 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u13173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u13173 {
  position:absolute;
  left:402px;
  top:5px;
  width:52px;
  height:52px;
}
#u13174 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u13175 {
  position:absolute;
  left:579px;
  top:5px;
  width:52px;
  height:52px;
}
#u13176 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u13177 {
  position:absolute;
  left:237px;
  top:11px;
  width:57px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u13178 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13179 {
  position:absolute;
  left:12px;
  top:18px;
  width:51px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13180 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u13181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:26px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13181 {
  position:absolute;
  left:73px;
  top:19px;
  width:149px;
  height:26px;
}
#u13182 {
  position:absolute;
  left:2px;
  top:5px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13183 {
  position:absolute;
  left:74px;
  top:20px;
  width:78px;
  height:24px;
}
#u13184 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
