body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:736px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
}
#u937 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  opacity:0.800000011920929;
}
#u938 {
  position:absolute;
  left:2px;
  top:504px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
}
#u939 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
}
#u940 {
  position:absolute;
  left:2px;
  top:22px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:158px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
}
#u941 {
  position:absolute;
  left:0px;
  top:866px;
  width:720px;
  height:158px;
}
#u942 {
  position:absolute;
  left:2px;
  top:71px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u943 {
  position:absolute;
  left:141px;
  top:906px;
  width:116px;
  height:116px;
}
#u944 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:152px;
}
#u945 {
  position:absolute;
  left:522px;
  top:870px;
  width:190px;
  height:152px;
}
#u946 {
  position:absolute;
  left:2px;
  top:68px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u947 {
  position:absolute;
  left:392px;
  top:907px;
  width:116px;
  height:116px;
}
#u948 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u949 {
  position:absolute;
  left:267px;
  top:906px;
  width:116px;
  height:116px;
}
#u950 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u951 {
  position:absolute;
  left:171px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u952 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u953 {
  position:absolute;
  left:592px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u954 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u955 {
  position:absolute;
  left:426px;
  top:995px;
  width:49px;
  height:28px;
  color:#999999;
}
#u956 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u957 {
  position:absolute;
  left:301px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u958 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u959 {
  position:absolute;
  left:15px;
  top:906px;
  width:116px;
  height:116px;
}
#u960 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u961 {
  position:absolute;
  left:47px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u962 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#999999;
}
#u963 {
  position:absolute;
  left:15px;
  top:874px;
  width:397px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#999999;
}
#u964 {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  white-space:nowrap;
}
#u965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:160px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
}
#u965 {
  position:absolute;
  left:11px;
  top:700px;
  width:700px;
  height:160px;
}
#u966 {
  position:absolute;
  left:2px;
  top:72px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:36px;
  color:#999999;
}
#u967 {
  position:absolute;
  left:335px;
  top:800px;
  width:133px;
  height:42px;
  font-size:36px;
  color:#999999;
}
#u968 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:240px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
}
#u969 {
  position:absolute;
  left:11px;
  top:450px;
  width:700px;
  height:240px;
}
#u970 {
  position:absolute;
  left:2px;
  top:112px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:36px;
  color:#999999;
}
#u971 {
  position:absolute;
  left:29px;
  top:470px;
  width:133px;
  height:42px;
  font-size:36px;
  color:#999999;
}
#u972 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:203px;
}
#u973 {
  position:absolute;
  left:7px;
  top:658px;
  width:367px;
  height:203px;
}
#u974 {
  position:absolute;
  left:2px;
  top:94px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:240px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(127, 186, 0, 1);
}
#u975 {
  position:absolute;
  left:11px;
  top:198px;
  width:700px;
  height:240px;
}
#u976 {
  position:absolute;
  left:2px;
  top:112px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:36px;
  color:#999999;
}
#u977 {
  position:absolute;
  left:335px;
  top:298px;
  width:133px;
  height:42px;
  font-size:36px;
  color:#999999;
}
#u978 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:299px;
}
#u979 {
  position:absolute;
  left:319px;
  top:402px;
  width:417px;
  height:299px;
}
#u980 {
  position:absolute;
  left:2px;
  top:142px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:127px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
}
#u981 {
  position:absolute;
  left:11px;
  top:62px;
  width:700px;
  height:127px;
}
#u982 {
  position:absolute;
  left:2px;
  top:56px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:304px;
}
#u983 {
  position:absolute;
  left:9px;
  top:154px;
  width:374px;
  height:304px;
}
#u984 {
  position:absolute;
  left:2px;
  top:144px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:129px;
}
#u985 {
  position:absolute;
  left:319px;
  top:60px;
  width:417px;
  height:129px;
}
#u986 {
  position:absolute;
  left:2px;
  top:57px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:36px;
  color:#999999;
}
#u987 {
  position:absolute;
  left:186px;
  top:470px;
  width:109px;
  height:42px;
  font-size:36px;
  color:#999999;
}
#u988 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#7FBA00;
}
#u989 {
  position:absolute;
  left:29px;
  top:512px;
  width:241px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#7FBA00;
}
#u990 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:36px;
  color:#999999;
}
#u991 {
  position:absolute;
  left:489px;
  top:298px;
  width:109px;
  height:42px;
  font-size:36px;
  color:#999999;
}
#u992 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:36px;
  color:#999999;
}
#u993 {
  position:absolute;
  left:487px;
  top:800px;
  width:109px;
  height:42px;
  font-size:36px;
  color:#999999;
}
#u994 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u995 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
}
#u996 {
  position:absolute;
  left:29px;
  top:787px;
  width:150px;
  height:62px;
}
#u997 {
  position:absolute;
  left:2px;
  top:23px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u998 {
  position:absolute;
  left:23px;
  top:786px;
  width:64px;
  height:64px;
}
#u999 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#FFFFFF;
}
#u1000 {
  position:absolute;
  left:93px;
  top:805px;
  width:49px;
  height:28px;
  color:#FFFFFF;
}
#u1001 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:36px;
  color:#999999;
}
#u1002 {
  position:absolute;
  left:335px;
  top:360px;
  width:145px;
  height:42px;
  font-size:36px;
  color:#999999;
}
#u1003 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:161px;
}
#u1004 {
  position:absolute;
  left:88px;
  top:522px;
  width:161px;
  height:161px;
}
#u1005 {
  position:absolute;
  left:2px;
  top:73px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1006 {
  position:absolute;
  left:29px;
  top:786px;
  width:150px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
