body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:727px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4600_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4600 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  opacity:0.800000011920929;
}
#u4601 {
  position:absolute;
  left:2px;
  top:504px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4602_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4602 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
}
#u4603 {
  position:absolute;
  left:2px;
  top:22px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4604_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:158px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4604 {
  position:absolute;
  left:0px;
  top:866px;
  width:720px;
  height:158px;
}
#u4605 {
  position:absolute;
  left:2px;
  top:71px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4606_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u4606 {
  position:absolute;
  left:142px;
  top:906px;
  width:116px;
  height:116px;
}
#u4607 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4608_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:152px;
}
#u4608 {
  position:absolute;
  left:522px;
  top:870px;
  width:190px;
  height:152px;
}
#u4609 {
  position:absolute;
  left:2px;
  top:68px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4610_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u4610 {
  position:absolute;
  left:392px;
  top:907px;
  width:116px;
  height:116px;
}
#u4611 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u4612 {
  position:absolute;
  left:268px;
  top:906px;
  width:116px;
  height:116px;
}
#u4613 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4614_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4614 {
  position:absolute;
  left:172px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u4615 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4616_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4616 {
  position:absolute;
  left:592px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u4617 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4618_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4618 {
  position:absolute;
  left:426px;
  top:995px;
  width:49px;
  height:28px;
  color:#999999;
}
#u4619 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4620 {
  position:absolute;
  left:302px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u4621 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u4622 {
  position:absolute;
  left:16px;
  top:906px;
  width:116px;
  height:116px;
}
#u4623 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4624 {
  position:absolute;
  left:48px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u4625 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#999999;
}
#u4626 {
  position:absolute;
  left:16px;
  top:874px;
  width:221px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#999999;
}
#u4627 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u4628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:62px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u4628 {
  position:absolute;
  left:264px;
  top:790px;
  width:200px;
  height:62px;
  font-size:20px;
  color:#FFFFFF;
}
#u4629 {
  position:absolute;
  left:2px;
  top:23px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u4630 {
  position:absolute;
  left:320px;
  top:805px;
  width:17px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u4631 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u4632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u4632 {
  position:absolute;
  left:256px;
  top:785px;
  width:70px;
  height:70px;
}
#u4633 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u4634 {
  position:absolute;
  left:372px;
  top:805px;
  width:57px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u4635 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4636 {
  position:absolute;
  left:64px;
  top:150px;
  width:120px;
  height:120px;
}
#u4637 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#BCBCBC;
}
#u4638 {
  position:absolute;
  left:66px;
  top:237px;
  width:113px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#BCBCBC;
}
#u4639 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u4640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4640 {
  position:absolute;
  left:226px;
  top:150px;
  width:120px;
  height:120px;
}
#u4641 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4642 {
  position:absolute;
  left:258px;
  top:237px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4643 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4644 {
  position:absolute;
  left:386px;
  top:150px;
  width:120px;
  height:120px;
}
#u4645 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4646 {
  position:absolute;
  left:404px;
  top:237px;
  width:85px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4647 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4648 {
  position:absolute;
  left:536px;
  top:150px;
  width:120px;
  height:120px;
}
#u4649 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4650 {
  position:absolute;
  left:540px;
  top:237px;
  width:113px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4651 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u4652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:65px;
}
#u4652 {
  position:absolute;
  left:0px;
  top:180px;
  width:64px;
  height:65px;
  opacity:0.5;
}
#u4653 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:65px;
}
#u4654 {
  position:absolute;
  left:663px;
  top:177px;
  width:64px;
  height:65px;
  opacity:0.5;
}
#u4655 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4656 {
  position:absolute;
  left:104px;
  top:190px;
  width:40px;
  height:40px;
}
#u4657 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4658 {
  position:absolute;
  left:233px;
  top:186px;
  width:106px;
  height:48px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4659 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u4660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4660 {
  position:absolute;
  left:393px;
  top:186px;
  width:106px;
  height:48px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4661 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u4662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4662 {
  position:absolute;
  left:544px;
  top:186px;
  width:106px;
  height:48px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4663 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u4664 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4665 {
  position:absolute;
  left:9px;
  top:18px;
  width:51px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4666 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u4667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:26px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4667 {
  position:absolute;
  left:70px;
  top:19px;
  width:149px;
  height:26px;
}
#u4668 {
  position:absolute;
  left:2px;
  top:5px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4669 {
  position:absolute;
  left:71px;
  top:20px;
  width:78px;
  height:24px;
}
#u4670 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4671 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:26px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4672 {
  position:absolute;
  left:259px;
  top:19px;
  width:114px;
  height:26px;
}
#u4673 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4674 {
  position:absolute;
  left:299px;
  top:21px;
  width:66px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4675 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u4676 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:26px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4677 {
  position:absolute;
  left:426px;
  top:19px;
  width:114px;
  height:26px;
}
#u4678 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4679 {
  position:absolute;
  left:466px;
  top:21px;
  width:59px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4680 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u4681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:26px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4681 {
  position:absolute;
  left:597px;
  top:19px;
  width:114px;
  height:26px;
}
#u4682 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4683 {
  position:absolute;
  left:637px;
  top:21px;
  width:59px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4684 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u4685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:47px;
}
#u4685 {
  position:absolute;
  left:240px;
  top:9px;
  width:34px;
  height:47px;
}
#u4686 {
  position:absolute;
  left:2px;
  top:16px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u4687 {
  position:absolute;
  left:394px;
  top:6px;
  width:52px;
  height:52px;
}
#u4688 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u4689 {
  position:absolute;
  left:568px;
  top:6px;
  width:52px;
  height:52px;
}
#u4690 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4691 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:60px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4692 {
  position:absolute;
  left:28px;
  top:75px;
  width:212px;
  height:60px;
}
#u4693 {
  position:absolute;
  left:2px;
  top:22px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:60px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4694 {
  position:absolute;
  left:254px;
  top:75px;
  width:212px;
  height:60px;
}
#u4695 {
  position:absolute;
  left:2px;
  top:22px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:60px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4696 {
  position:absolute;
  left:480px;
  top:75px;
  width:212px;
  height:60px;
}
#u4697 {
  position:absolute;
  left:2px;
  top:22px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4698 {
  position:absolute;
  left:86px;
  top:91px;
  width:97px;
  height:28px;
  color:#FFFFFF;
}
#u4699 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4700 {
  position:absolute;
  left:312px;
  top:91px;
  width:97px;
  height:28px;
  color:#FFFFFF;
}
#u4701 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4702 {
  position:absolute;
  left:538px;
  top:91px;
  width:97px;
  height:28px;
  color:#FFFFFF;
}
#u4703 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4704 {
  position:absolute;
  left:253px;
  top:72px;
  width:212px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4705 {
  position:absolute;
  left:484px;
  top:77px;
  width:212px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4706 {
  position:absolute;
  left:32px;
  top:75px;
  width:212px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
