body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21352 {
  position:absolute;
  left:0px;
  top:-168px;
}
#u21352_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u21352_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:960px;
}
#u21353 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:960px;
}
#u21354 {
  position:absolute;
  left:2px;
  top:472px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:283px;
}
#u21355 {
  position:absolute;
  left:231px;
  top:464px;
  width:258px;
  height:283px;
}
#u21356 {
  position:absolute;
  left:2px;
  top:134px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21357_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:242px;
  background:inherit;
  background-color:rgba(73, 87, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21357 {
  position:absolute;
  left:0px;
  top:960px;
  width:720px;
  height:242px;
}
#u21358 {
  position:absolute;
  left:2px;
  top:113px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:62px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u21359 {
  position:absolute;
  left:83px;
  top:1034px;
  width:200px;
  height:62px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u21360 {
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  word-wrap:break-word;
}
#u21361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:62px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u21361 {
  position:absolute;
  left:438px;
  top:1034px;
  width:200px;
  height:62px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u21362 {
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  word-wrap:break-word;
}
#u21363_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u21363 {
  position:absolute;
  left:481px;
  top:1125px;
  width:40px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u21364 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u21365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u21365 {
  position:absolute;
  left:544px;
  top:1106px;
  width:52px;
  height:52px;
}
#u21366 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:46px;
}
#u21367 {
  position:absolute;
  left:175px;
  top:270px;
  width:359px;
  height:46px;
}
#u21368 {
  position:absolute;
  left:2px;
  top:15px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#CC9900;
}
#u21369 {
  position:absolute;
  left:262px;
  top:276px;
  width:197px;
  height:33px;
  font-size:28px;
  color:#CC9900;
}
#u21370 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u21371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:93px;
}
#u21371 {
  position:absolute;
  left:116px;
  top:249px;
  width:86px;
  height:93px;
}
#u21372 {
  position:absolute;
  left:2px;
  top:38px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:46px;
}
#u21373 {
  position:absolute;
  left:490px;
  top:270px;
  width:122px;
  height:46px;
}
#u21374 {
  position:absolute;
  left:2px;
  top:15px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#999999;
}
#u21375 {
  position:absolute;
  left:508px;
  top:276px;
  width:85px;
  height:33px;
  font-size:28px;
  color:#999999;
}
#u21376 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u21377 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:26px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21378 {
  position:absolute;
  left:86px;
  top:966px;
  width:467px;
  height:26px;
}
#u21379 {
  position:absolute;
  left:2px;
  top:5px;
  width:463px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:24px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21380 {
  position:absolute;
  left:89px;
  top:967px;
  width:244px;
  height:24px;
}
#u21381 {
  position:absolute;
  left:2px;
  top:4px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u21382 {
  position:absolute;
  left:515px;
  top:906px;
  width:110px;
  height:110px;
}
#u21383 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
}
#u21384 {
  position:absolute;
  left:272px;
  top:967px;
  width:96px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
}
#u21385 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u21386 {
  position:absolute;
  left:83px;
  top:1034px;
  width:200px;
  height:62px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21387 {
  position:absolute;
  left:438px;
  top:1034px;
  width:200px;
  height:62px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
