body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17158 {
  position:absolute;
  left:0px;
  top:-168px;
}
#u17158_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u17158_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:960px;
}
#u17159 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:960px;
}
#u17160 {
  position:absolute;
  left:2px;
  top:472px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:283px;
}
#u17161 {
  position:absolute;
  left:231px;
  top:464px;
  width:258px;
  height:283px;
}
#u17162 {
  position:absolute;
  left:2px;
  top:134px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:242px;
  background:inherit;
  background-color:rgba(73, 87, 102, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17163 {
  position:absolute;
  left:0px;
  top:960px;
  width:720px;
  height:242px;
}
#u17164 {
  position:absolute;
  left:2px;
  top:113px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:62px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u17165 {
  position:absolute;
  left:83px;
  top:1034px;
  width:200px;
  height:62px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u17166 {
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  word-wrap:break-word;
}
#u17167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:62px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u17167 {
  position:absolute;
  left:438px;
  top:1034px;
  width:200px;
  height:62px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u17168 {
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  word-wrap:break-word;
}
#u17169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u17169 {
  position:absolute;
  left:481px;
  top:1125px;
  width:40px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u17170 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u17171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u17171 {
  position:absolute;
  left:544px;
  top:1106px;
  width:52px;
  height:52px;
}
#u17172 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:46px;
}
#u17173 {
  position:absolute;
  left:175px;
  top:270px;
  width:359px;
  height:46px;
}
#u17174 {
  position:absolute;
  left:2px;
  top:15px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#CC9900;
}
#u17175 {
  position:absolute;
  left:262px;
  top:276px;
  width:197px;
  height:33px;
  font-size:28px;
  color:#CC9900;
}
#u17176 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u17177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:93px;
}
#u17177 {
  position:absolute;
  left:116px;
  top:249px;
  width:86px;
  height:93px;
}
#u17178 {
  position:absolute;
  left:2px;
  top:38px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:46px;
}
#u17179 {
  position:absolute;
  left:490px;
  top:270px;
  width:122px;
  height:46px;
}
#u17180 {
  position:absolute;
  left:2px;
  top:15px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#999999;
}
#u17181 {
  position:absolute;
  left:508px;
  top:276px;
  width:85px;
  height:33px;
  font-size:28px;
  color:#999999;
}
#u17182 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u17183 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:26px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17184 {
  position:absolute;
  left:86px;
  top:966px;
  width:467px;
  height:26px;
}
#u17185 {
  position:absolute;
  left:2px;
  top:5px;
  width:463px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:24px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17186 {
  position:absolute;
  left:89px;
  top:967px;
  width:244px;
  height:24px;
}
#u17187 {
  position:absolute;
  left:2px;
  top:4px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u17188 {
  position:absolute;
  left:515px;
  top:906px;
  width:110px;
  height:110px;
}
#u17189 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
}
#u17190 {
  position:absolute;
  left:272px;
  top:967px;
  width:96px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
}
#u17191 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u17192 {
  position:absolute;
  left:83px;
  top:1034px;
  width:200px;
  height:62px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17193 {
  position:absolute;
  left:438px;
  top:1034px;
  width:200px;
  height:62px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
