body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21536 {
  position:absolute;
  left:0px;
  top:-168px;
}
#u21536_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u21536_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21537_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:960px;
}
#u21537 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:960px;
}
#u21538 {
  position:absolute;
  left:2px;
  top:472px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21539_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:283px;
}
#u21539 {
  position:absolute;
  left:231px;
  top:464px;
  width:258px;
  height:283px;
}
#u21540 {
  position:absolute;
  left:2px;
  top:134px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21541_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:242px;
  background:inherit;
  background-color:rgba(73, 87, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21541 {
  position:absolute;
  left:0px;
  top:960px;
  width:720px;
  height:242px;
}
#u21542 {
  position:absolute;
  left:2px;
  top:113px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21543_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:62px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u21543 {
  position:absolute;
  left:83px;
  top:1034px;
  width:200px;
  height:62px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u21544 {
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  word-wrap:break-word;
}
#u21545_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:62px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u21545 {
  position:absolute;
  left:438px;
  top:1034px;
  width:200px;
  height:62px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u21546 {
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  word-wrap:break-word;
}
#u21547_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u21547 {
  position:absolute;
  left:481px;
  top:1125px;
  width:40px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u21548 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u21549_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u21549 {
  position:absolute;
  left:544px;
  top:1106px;
  width:52px;
  height:52px;
}
#u21550 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21551_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:46px;
}
#u21551 {
  position:absolute;
  left:175px;
  top:270px;
  width:359px;
  height:46px;
}
#u21552 {
  position:absolute;
  left:2px;
  top:15px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21553_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#CC9900;
}
#u21553 {
  position:absolute;
  left:262px;
  top:276px;
  width:197px;
  height:33px;
  font-size:28px;
  color:#CC9900;
}
#u21554 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u21555_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:93px;
}
#u21555 {
  position:absolute;
  left:116px;
  top:249px;
  width:86px;
  height:93px;
}
#u21556 {
  position:absolute;
  left:2px;
  top:38px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21557_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:46px;
}
#u21557 {
  position:absolute;
  left:490px;
  top:270px;
  width:122px;
  height:46px;
}
#u21558 {
  position:absolute;
  left:2px;
  top:15px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21559_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#999999;
}
#u21559 {
  position:absolute;
  left:508px;
  top:276px;
  width:85px;
  height:33px;
  font-size:28px;
  color:#999999;
}
#u21560 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u21561 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21562_div {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:26px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21562 {
  position:absolute;
  left:86px;
  top:966px;
  width:467px;
  height:26px;
}
#u21563 {
  position:absolute;
  left:2px;
  top:5px;
  width:463px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21564_div {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:24px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21564 {
  position:absolute;
  left:89px;
  top:967px;
  width:244px;
  height:24px;
}
#u21565 {
  position:absolute;
  left:2px;
  top:4px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21566_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u21566 {
  position:absolute;
  left:515px;
  top:906px;
  width:110px;
  height:110px;
}
#u21567 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21568_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
}
#u21568 {
  position:absolute;
  left:272px;
  top:967px;
  width:96px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#6B6B6B;
}
#u21569 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u21570 {
  position:absolute;
  left:83px;
  top:1034px;
  width:200px;
  height:62px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21571 {
  position:absolute;
  left:438px;
  top:1034px;
  width:200px;
  height:62px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
