body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:730px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5159 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  opacity:0.800000011920929;
}
#u5160 {
  position:absolute;
  left:2px;
  top:504px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5161 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
}
#u5162 {
  position:absolute;
  left:2px;
  top:22px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:158px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5163 {
  position:absolute;
  left:0px;
  top:867px;
  width:720px;
  height:158px;
}
#u5164 {
  position:absolute;
  left:2px;
  top:71px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u5165 {
  position:absolute;
  left:141px;
  top:901px;
  width:116px;
  height:116px;
}
#u5166 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:139px;
}
#u5167 {
  position:absolute;
  left:522px;
  top:878px;
  width:190px;
  height:139px;
}
#u5168 {
  position:absolute;
  left:2px;
  top:62px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u5169 {
  position:absolute;
  left:392px;
  top:902px;
  width:116px;
  height:116px;
}
#u5170 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u5171 {
  position:absolute;
  left:267px;
  top:901px;
  width:116px;
  height:116px;
}
#u5172 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5173 {
  position:absolute;
  left:171px;
  top:989px;
  width:49px;
  height:28px;
  color:#999999;
}
#u5174 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5175 {
  position:absolute;
  left:592px;
  top:989px;
  width:49px;
  height:28px;
  color:#999999;
}
#u5176 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5177 {
  position:absolute;
  left:426px;
  top:990px;
  width:49px;
  height:28px;
  color:#999999;
}
#u5178 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5179 {
  position:absolute;
  left:301px;
  top:989px;
  width:49px;
  height:28px;
  color:#999999;
}
#u5180 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u5181 {
  position:absolute;
  left:15px;
  top:901px;
  width:116px;
  height:116px;
}
#u5182 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5183 {
  position:absolute;
  left:47px;
  top:989px;
  width:49px;
  height:28px;
  color:#999999;
}
#u5184 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:739px;
}
#u5185 {
  position:absolute;
  left:8px;
  top:123px;
  width:704px;
  height:739px;
}
#u5186 {
  position:absolute;
  left:2px;
  top:362px;
  width:700px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:56px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5187 {
  position:absolute;
  left:188px;
  top:66px;
  width:150px;
  height:56px;
}
#u5188 {
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:56px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5189 {
  position:absolute;
  left:38px;
  top:66px;
  width:150px;
  height:56px;
}
#u5190 {
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:56px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5191 {
  position:absolute;
  left:338px;
  top:66px;
  width:150px;
  height:56px;
}
#u5192 {
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u5193 {
  position:absolute;
  left:89px;
  top:81px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u5194 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u5195 {
  position:absolute;
  left:233px;
  top:81px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u5196 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5197 {
  position:absolute;
  left:488px;
  top:65px;
  width:160px;
  height:60px;
}
#u5198 {
  position:absolute;
  left:2px;
  top:22px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u5199 {
  position:absolute;
  left:393px;
  top:81px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u5200 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u5201 {
  position:absolute;
  left:540px;
  top:81px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u5202 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5203 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
}
#u5204 {
  position:absolute;
  left:30px;
  top:789px;
  width:150px;
  height:62px;
}
#u5205 {
  position:absolute;
  left:2px;
  top:23px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u5206 {
  position:absolute;
  left:24px;
  top:788px;
  width:64px;
  height:64px;
}
#u5207 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u5208 {
  position:absolute;
  left:94px;
  top:807px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u5209 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u5210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#999999;
}
#u5210 {
  position:absolute;
  left:219px;
  top:807px;
  width:481px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#999999;
}
#u5211 {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  white-space:nowrap;
}
#u5212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#999999;
}
#u5212 {
  position:absolute;
  left:24px;
  top:872px;
  width:199px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#999999;
}
#u5213 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u5214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:46px;
}
#u5214 {
  position:absolute;
  left:221px;
  top:136px;
  width:281px;
  height:46px;
}
#u5215 {
  position:absolute;
  left:2px;
  top:15px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#999999;
}
#u5216 {
  position:absolute;
  left:235px;
  top:142px;
  width:253px;
  height:33px;
  font-size:28px;
  color:#999999;
}
#u5217 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u5218 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5219 {
  position:absolute;
  left:34px;
  top:410px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5220 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u5221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5221 {
  position:absolute;
  left:34px;
  top:492px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5222 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u5223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5223 {
  position:absolute;
  left:34px;
  top:452px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5224 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u5225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5225 {
  position:absolute;
  left:34px;
  top:533px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5226 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u5227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:33px;
}
#u5227 {
  position:absolute;
  left:0px;
  top:366px;
  width:188px;
  height:33px;
}
#u5228 {
  position:absolute;
  left:2px;
  top:8px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5229 {
  position:absolute;
  left:43px;
  top:368px;
  width:100px;
  height:28px;
  color:#FFFFFF;
}
#u5230 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u5231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#999999;
}
#u5231 {
  position:absolute;
  left:86px;
  top:406px;
  width:74px;
  height:33px;
  font-size:28px;
  color:#999999;
}
#u5232 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u5233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#999999;
}
#u5233 {
  position:absolute;
  left:86px;
  top:448px;
  width:74px;
  height:33px;
  font-size:28px;
  color:#999999;
}
#u5234 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u5235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#7FBA00;
}
#u5235 {
  position:absolute;
  left:616px;
  top:492px;
  width:74px;
  height:33px;
  font-size:28px;
  color:#7FBA00;
}
#u5236 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u5237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#7FBA00;
}
#u5237 {
  position:absolute;
  left:616px;
  top:406px;
  width:74px;
  height:33px;
  font-size:28px;
  color:#7FBA00;
}
#u5238 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u5239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#7FBA00;
}
#u5239 {
  position:absolute;
  left:616px;
  top:534px;
  width:74px;
  height:33px;
  font-size:28px;
  color:#7FBA00;
}
#u5240 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u5241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#7FBA00;
}
#u5241 {
  position:absolute;
  left:616px;
  top:448px;
  width:74px;
  height:33px;
  font-size:28px;
  color:#7FBA00;
}
#u5242 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u5243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:33px;
}
#u5243 {
  position:absolute;
  left:514px;
  top:366px;
  width:216px;
  height:33px;
}
#u5244 {
  position:absolute;
  left:2px;
  top:8px;
  width:212px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5245 {
  position:absolute;
  left:580px;
  top:368px;
  width:100px;
  height:28px;
  color:#FFFFFF;
}
#u5246 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u5247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:180px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5247 {
  position:absolute;
  left:190px;
  top:479px;
  width:340px;
  height:180px;
}
#u5248 {
  position:absolute;
  left:2px;
  top:82px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
}
#u5249 {
  position:absolute;
  left:338px;
  top:659px;
  width:73px;
  height:73px;
}
#u5250 {
  position:absolute;
  left:2px;
  top:28px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5251 {
  position:absolute;
  left:292px;
  top:746px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5252 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u5253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#999999;
}
#u5253 {
  position:absolute;
  left:349px;
  top:742px;
  width:105px;
  height:33px;
  font-size:28px;
  color:#999999;
}
#u5254 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u5255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#999999;
}
#u5255 {
  position:absolute;
  left:85px;
  top:486px;
  width:74px;
  height:33px;
  font-size:28px;
  color:#999999;
}
#u5256 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u5257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#999999;
}
#u5257 {
  position:absolute;
  left:85px;
  top:528px;
  width:74px;
  height:33px;
  font-size:28px;
  color:#999999;
}
#u5258 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u5259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5259 {
  position:absolute;
  left:34px;
  top:573px;
  width:144px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5260 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u5261 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5262 {
  position:absolute;
  left:565px;
  top:492px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5263 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u5264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5264 {
  position:absolute;
  left:565px;
  top:411px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5265 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u5266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5266 {
  position:absolute;
  left:565px;
  top:534px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5267 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u5268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5268 {
  position:absolute;
  left:565px;
  top:452px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5269 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u5270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5270 {
  position:absolute;
  left:560px;
  top:573px;
  width:144px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5271 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u5272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:284px;
}
#u5272 {
  position:absolute;
  left:162px;
  top:234px;
  width:400px;
  height:284px;
}
#u5273 {
  position:absolute;
  left:2px;
  top:134px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u5274 {
  position:absolute;
  left:244px;
  top:550px;
  width:241px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u5275 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u5276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:49px;
}
#u5276 {
  position:absolute;
  left:192px;
  top:609px;
  width:337px;
  height:49px;
}
#u5277 {
  position:absolute;
  left:2px;
  top:16px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5278 {
  position:absolute;
  left:190px;
  top:66px;
  width:150px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5279 {
  position:absolute;
  left:340px;
  top:66px;
  width:150px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5280 {
  position:absolute;
  left:492px;
  top:66px;
  width:150px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5281 {
  position:absolute;
  left:30px;
  top:66px;
  width:160px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5282 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5283 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:26px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5284 {
  position:absolute;
  left:263px;
  top:18px;
  width:114px;
  height:26px;
}
#u5285 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5286 {
  position:absolute;
  left:303px;
  top:20px;
  width:71px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5287 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5288 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:26px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5289 {
  position:absolute;
  left:430px;
  top:18px;
  width:114px;
  height:26px;
}
#u5290 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5291 {
  position:absolute;
  left:475px;
  top:20px;
  width:59px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5292 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u5293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:26px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5293 {
  position:absolute;
  left:601px;
  top:18px;
  width:114px;
  height:26px;
}
#u5294 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5295 {
  position:absolute;
  left:665px;
  top:20px;
  width:39px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5296 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u5297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u5297 {
  position:absolute;
  left:402px;
  top:5px;
  width:52px;
  height:52px;
}
#u5298 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u5299 {
  position:absolute;
  left:579px;
  top:5px;
  width:52px;
  height:52px;
}
#u5300 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u5301 {
  position:absolute;
  left:237px;
  top:11px;
  width:57px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u5302 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5303 {
  position:absolute;
  left:12px;
  top:18px;
  width:51px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5304 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u5305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:26px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5305 {
  position:absolute;
  left:73px;
  top:19px;
  width:149px;
  height:26px;
}
#u5306 {
  position:absolute;
  left:2px;
  top:5px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5307 {
  position:absolute;
  left:74px;
  top:20px;
  width:78px;
  height:24px;
}
#u5308 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5309 {
  position:absolute;
  left:30px;
  top:789px;
  width:150px;
  height:62px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
