body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:666px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8039 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  opacity:0.800000011920929;
}
#u8040 {
  position:absolute;
  left:2px;
  top:504px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8041 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
}
#u8042 {
  position:absolute;
  left:2px;
  top:22px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:160px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8043 {
  position:absolute;
  left:11px;
  top:700px;
  width:700px;
  height:160px;
}
#u8044 {
  position:absolute;
  left:2px;
  top:72px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#999999;
}
#u8045 {
  position:absolute;
  left:335px;
  top:800px;
  width:133px;
  height:42px;
  font-size:36px;
  color:#999999;
}
#u8046 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u8047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:240px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8047 {
  position:absolute;
  left:11px;
  top:450px;
  width:700px;
  height:240px;
}
#u8048 {
  position:absolute;
  left:2px;
  top:112px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#999999;
}
#u8049 {
  position:absolute;
  left:29px;
  top:470px;
  width:133px;
  height:42px;
  font-size:36px;
  color:#999999;
}
#u8050 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u8051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:203px;
}
#u8051 {
  position:absolute;
  left:-26px;
  top:658px;
  width:390px;
  height:203px;
}
#u8052 {
  position:absolute;
  left:2px;
  top:94px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:240px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8053 {
  position:absolute;
  left:11px;
  top:198px;
  width:700px;
  height:240px;
}
#u8054 {
  position:absolute;
  left:2px;
  top:112px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#999999;
}
#u8055 {
  position:absolute;
  left:335px;
  top:298px;
  width:133px;
  height:42px;
  font-size:36px;
  color:#999999;
}
#u8056 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u8057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:299px;
}
#u8057 {
  position:absolute;
  left:319px;
  top:402px;
  width:417px;
  height:299px;
}
#u8058 {
  position:absolute;
  left:2px;
  top:142px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:127px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8059 {
  position:absolute;
  left:11px;
  top:62px;
  width:700px;
  height:127px;
}
#u8060 {
  position:absolute;
  left:2px;
  top:56px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:308px;
}
#u8061 {
  position:absolute;
  left:-70px;
  top:150px;
  width:433px;
  height:308px;
}
#u8062 {
  position:absolute;
  left:2px;
  top:146px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:129px;
}
#u8063 {
  position:absolute;
  left:319px;
  top:60px;
  width:417px;
  height:129px;
}
#u8064 {
  position:absolute;
  left:2px;
  top:56px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#999999;
}
#u8065 {
  position:absolute;
  left:186px;
  top:470px;
  width:191px;
  height:42px;
  font-size:36px;
  color:#999999;
}
#u8066 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u8067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#999999;
}
#u8067 {
  position:absolute;
  left:29px;
  top:550px;
  width:111px;
  height:42px;
  font-size:36px;
  color:#999999;
}
#u8068 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u8069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:63px;
}
#u8069 {
  position:absolute;
  left:155px;
  top:536px;
  width:34px;
  height:63px;
}
#u8070 {
  position:absolute;
  left:2px;
  top:24px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#999999;
}
#u8071 {
  position:absolute;
  left:489px;
  top:298px;
  width:191px;
  height:42px;
  font-size:36px;
  color:#999999;
}
#u8072 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u8073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#999999;
}
#u8073 {
  position:absolute;
  left:332px;
  top:376px;
  width:111px;
  height:42px;
  font-size:36px;
  color:#999999;
}
#u8074 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u8075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:63px;
}
#u8075 {
  position:absolute;
  left:458px;
  top:362px;
  width:34px;
  height:63px;
}
#u8076 {
  position:absolute;
  left:2px;
  top:24px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#999999;
}
#u8077 {
  position:absolute;
  left:487px;
  top:800px;
  width:109px;
  height:42px;
  font-size:36px;
  color:#999999;
}
#u8078 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u8079 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:60px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8080 {
  position:absolute;
  left:29px;
  top:65px;
  width:212px;
  height:60px;
}
#u8081 {
  position:absolute;
  left:2px;
  top:22px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:60px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8082 {
  position:absolute;
  left:255px;
  top:65px;
  width:212px;
  height:60px;
}
#u8083 {
  position:absolute;
  left:2px;
  top:22px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:60px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8084 {
  position:absolute;
  left:481px;
  top:65px;
  width:212px;
  height:60px;
}
#u8085 {
  position:absolute;
  left:2px;
  top:22px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8086 {
  position:absolute;
  left:87px;
  top:81px;
  width:97px;
  height:28px;
  color:#FFFFFF;
}
#u8087 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u8088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8088 {
  position:absolute;
  left:313px;
  top:81px;
  width:97px;
  height:28px;
  color:#FFFFFF;
}
#u8089 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u8090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8090 {
  position:absolute;
  left:539px;
  top:81px;
  width:97px;
  height:28px;
  color:#FFFFFF;
}
#u8091 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u8092 {
  position:absolute;
  left:255px;
  top:65px;
  width:212px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8093 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:33px;
}
#u8094 {
  position:absolute;
  left:621px;
  top:823px;
  width:87px;
  height:33px;
  opacity:0.699999988079071;
}
#u8095 {
  position:absolute;
  left:2px;
  top:8px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u8096 {
  position:absolute;
  left:637px;
  top:823px;
  width:57px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u8097 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u8098 {
  position:absolute;
  left:621px;
  top:745px;
  width:90px;
  height:90px;
}
#u8099 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:33px;
}
#u8100 {
  position:absolute;
  left:621px;
  top:681px;
  width:87px;
  height:33px;
  opacity:0.699999988079071;
}
#u8101 {
  position:absolute;
  left:2px;
  top:8px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u8102 {
  position:absolute;
  left:637px;
  top:682px;
  width:57px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u8103 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u8104 {
  position:absolute;
  left:621px;
  top:604px;
  width:90px;
  height:90px;
}
#u8105 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8106 {
  position:absolute;
  left:11px;
  top:450px;
  width:700px;
  height:232px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8107 {
  position:absolute;
  left:11px;
  top:198px;
  width:700px;
  height:232px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8108 {
  position:absolute;
  left:486px;
  top:70px;
  width:212px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8109 {
  position:absolute;
  left:34px;
  top:68px;
  width:212px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8110_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u8110 {
  position:absolute;
  left:215px;
  top:60px;
  width:30px;
  height:30px;
}
#u8111 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8112_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u8112 {
  position:absolute;
  left:446px;
  top:60px;
  width:30px;
  height:30px;
}
#u8113 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8114_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u8114 {
  position:absolute;
  left:663px;
  top:60px;
  width:30px;
  height:30px;
}
#u8115 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8116_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u8116 {
  position:absolute;
  left:668px;
  top:199px;
  width:30px;
  height:30px;
}
#u8117 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8118_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u8118 {
  position:absolute;
  left:664px;
  top:460px;
  width:30px;
  height:30px;
}
#u8119 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:126px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8121 {
  position:absolute;
  left:1px;
  top:898px;
  width:720px;
  height:126px;
}
#u8122 {
  position:absolute;
  left:2px;
  top:55px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u8123 {
  position:absolute;
  left:136px;
  top:906px;
  width:116px;
  height:116px;
}
#u8124 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:116px;
}
#u8125 {
  position:absolute;
  left:506px;
  top:906px;
  width:212px;
  height:116px;
}
#u8126 {
  position:absolute;
  left:2px;
  top:50px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u8127 {
  position:absolute;
  left:386px;
  top:907px;
  width:116px;
  height:116px;
}
#u8128 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u8129 {
  position:absolute;
  left:262px;
  top:906px;
  width:116px;
  height:116px;
}
#u8130 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8131 {
  position:absolute;
  left:173px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u8132 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8133 {
  position:absolute;
  left:593px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u8134 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8135 {
  position:absolute;
  left:427px;
  top:995px;
  width:49px;
  height:28px;
  color:#999999;
}
#u8136 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8137 {
  position:absolute;
  left:303px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u8138 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u8139 {
  position:absolute;
  left:10px;
  top:906px;
  width:116px;
  height:116px;
}
#u8140 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8141 {
  position:absolute;
  left:49px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u8142 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8143 {
  position:absolute;
  left:136px;
  top:906px;
  width:116px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8144 {
  position:absolute;
  left:389px;
  top:906px;
  width:116px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8145 {
  position:absolute;
  left:512px;
  top:906px;
  width:201px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8146 {
  position:absolute;
  left:262px;
  top:906px;
  width:117px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8147 {
  position:absolute;
  left:10px;
  top:906px;
  width:116px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8148 {
  position:absolute;
  left:1px;
  top:60px;
  width:720px;
  height:806px;
  overflow:hidden;
  visibility:hidden;
}
#u8148_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:806px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8148_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:806px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8149 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:806px;
}
#u8150 {
  position:absolute;
  left:2px;
  top:395px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8151 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
}
#u8152 {
  position:absolute;
  left:16px;
  top:733px;
  width:150px;
  height:62px;
}
#u8153 {
  position:absolute;
  left:2px;
  top:23px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u8154 {
  position:absolute;
  left:10px;
  top:732px;
  width:64px;
  height:64px;
}
#u8155 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8156 {
  position:absolute;
  left:80px;
  top:751px;
  width:49px;
  height:28px;
  color:#FFFFFF;
}
#u8157 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:200px;
}
#u8158 {
  position:absolute;
  left:109px;
  top:511px;
  width:281px;
  height:200px;
}
#u8159 {
  position:absolute;
  left:2px;
  top:92px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8160 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:81px;
}
#u8161 {
  position:absolute;
  left:309px;
  top:720px;
  width:87px;
  height:81px;
}
#u8162 {
  position:absolute;
  left:2px;
  top:32px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:83px;
}
#u8163 {
  position:absolute;
  left:440px;
  top:720px;
  width:88px;
  height:83px;
}
#u8164 {
  position:absolute;
  left:2px;
  top:34px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:83px;
}
#u8165 {
  position:absolute;
  left:576px;
  top:720px;
  width:88px;
  height:83px;
}
#u8166 {
  position:absolute;
  left:2px;
  top:34px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:53px;
}
#u8167 {
  position:absolute;
  left:364px;
  top:748px;
  width:29px;
  height:53px;
}
#u8168 {
  position:absolute;
  left:2px;
  top:18px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8169 {
  position:absolute;
  left:348px;
  top:764px;
  width:14px;
  height:28px;
  color:#FFFFFF;
}
#u8170 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u8171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:53px;
}
#u8171 {
  position:absolute;
  left:487px;
  top:748px;
  width:29px;
  height:53px;
}
#u8172 {
  position:absolute;
  left:2px;
  top:18px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8173 {
  position:absolute;
  left:461px;
  top:764px;
  width:27px;
  height:28px;
  color:#FFFFFF;
}
#u8174 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u8175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:53px;
}
#u8175 {
  position:absolute;
  left:626px;
  top:748px;
  width:29px;
  height:53px;
}
#u8176 {
  position:absolute;
  left:2px;
  top:18px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8177 {
  position:absolute;
  left:599px;
  top:764px;
  width:27px;
  height:28px;
  color:#FFFFFF;
}
#u8178 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u8179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:200px;
}
#u8179 {
  position:absolute;
  left:353px;
  top:350px;
  width:281px;
  height:200px;
}
#u8180 {
  position:absolute;
  left:2px;
  top:92px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:200px;
}
#u8181 {
  position:absolute;
  left:109px;
  top:152px;
  width:281px;
  height:200px;
}
#u8182 {
  position:absolute;
  left:2px;
  top:92px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:200px;
}
#u8183 {
  position:absolute;
  left:386px;
  top:12px;
  width:281px;
  height:200px;
}
#u8184 {
  position:absolute;
  left:2px;
  top:92px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#999999;
}
#u8185 {
  position:absolute;
  left:14px;
  top:22px;
  width:133px;
  height:42px;
  font-size:36px;
  color:#999999;
}
#u8186 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u8187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#999999;
}
#u8187 {
  position:absolute;
  left:168px;
  top:22px;
  width:191px;
  height:42px;
  font-size:36px;
  color:#999999;
}
#u8188 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u8189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:53px;
}
#u8189 {
  position:absolute;
  left:206px;
  top:497px;
  width:29px;
  height:53px;
}
#u8190 {
  position:absolute;
  left:2px;
  top:18px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:53px;
}
#u8191 {
  position:absolute;
  left:245px;
  top:497px;
  width:29px;
  height:53px;
}
#u8192 {
  position:absolute;
  left:2px;
  top:18px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:53px;
}
#u8193 {
  position:absolute;
  left:284px;
  top:497px;
  width:29px;
  height:53px;
}
#u8194 {
  position:absolute;
  left:2px;
  top:18px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:53px;
}
#u8195 {
  position:absolute;
  left:206px;
  top:122px;
  width:29px;
  height:53px;
}
#u8196 {
  position:absolute;
  left:2px;
  top:18px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:53px;
}
#u8197 {
  position:absolute;
  left:245px;
  top:122px;
  width:29px;
  height:53px;
}
#u8198 {
  position:absolute;
  left:2px;
  top:18px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:53px;
}
#u8199 {
  position:absolute;
  left:284px;
  top:122px;
  width:29px;
  height:53px;
}
#u8200 {
  position:absolute;
  left:2px;
  top:18px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8201 {
  position:absolute;
  left:140px;
  top:497px;
  width:222px;
  height:199px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8202 {
  position:absolute;
  left:16px;
  top:733px;
  width:150px;
  height:62px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8203 {
  position:absolute;
  left:383px;
  top:351px;
  width:222px;
  height:199px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8204 {
  position:absolute;
  left:139px;
  top:141px;
  width:222px;
  height:199px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8205 {
  position:absolute;
  left:416px;
  top:30px;
  width:222px;
  height:199px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8206_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u8206 {
  position:absolute;
  left:332px;
  top:511px;
  width:30px;
  height:30px;
}
#u8207 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8208_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u8208 {
  position:absolute;
  left:575px;
  top:351px;
  width:30px;
  height:30px;
}
#u8209 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8210 {
  position:absolute;
  left:0px;
  top:0px;
  visibility:hidden;
}
#u8210_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8210_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8211 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  opacity:0.800000011920929;
}
#u8212 {
  position:absolute;
  left:2px;
  top:504px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  height:601px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8213 {
  position:absolute;
  left:58px;
  top:149px;
  width:616px;
  height:601px;
}
#u8214 {
  position:absolute;
  left:2px;
  top:292px;
  width:612px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8215 {
  position:absolute;
  left:58px;
  top:149px;
  width:616px;
  height:40px;
}
#u8216 {
  position:absolute;
  left:2px;
  top:12px;
  width:612px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#5E5E5E;
}
#u8217 {
  position:absolute;
  left:270px;
  top:152px;
  width:190px;
  height:33px;
  font-size:28px;
  color:#5E5E5E;
}
#u8218 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  white-space:nowrap;
}
#u8219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u8219 {
  position:absolute;
  left:628px;
  top:149px;
  width:46px;
  height:46px;
  opacity:0.800000011920929;
}
#u8220 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  height:229px;
}
#u8221 {
  position:absolute;
  left:58px;
  top:521px;
  width:616px;
  height:229px;
}
#u8222 {
  position:absolute;
  left:2px;
  top:106px;
  width:612px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:78px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u8223 {
  position:absolute;
  left:334px;
  top:788px;
  width:317px;
  height:78px;
  font-size:20px;
  color:#FFFFFF;
}
#u8224 {
  position:absolute;
  left:2px;
  top:31px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:78px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u8225 {
  position:absolute;
  left:80px;
  top:788px;
  width:197px;
  height:78px;
  font-size:20px;
  color:#FFFFFF;
}
#u8226 {
  position:absolute;
  left:2px;
  top:31px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u8227 {
  position:absolute;
  left:486px;
  top:810px;
  width:113px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u8228 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u8229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u8229 {
  position:absolute;
  left:404px;
  top:810px;
  width:17px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u8230 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u8231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u8231 {
  position:absolute;
  left:334px;
  top:792px;
  width:70px;
  height:70px;
}
#u8232 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u8233 {
  position:absolute;
  left:120px;
  top:810px;
  width:117px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u8234 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u8235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:106px;
}
#u8235 {
  position:absolute;
  left:52px;
  top:85px;
  width:184px;
  height:106px;
}
#u8236 {
  position:absolute;
  left:2px;
  top:45px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u8237 {
  position:absolute;
  left:80px;
  top:201px;
  width:209px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u8238 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u8239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u8239 {
  position:absolute;
  left:80px;
  top:442px;
  width:121px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u8240 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u8241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:30px;
}
#u8241 {
  position:absolute;
  left:80px;
  top:480px;
  width:560px;
  height:30px;
}
#u8242 {
  position:absolute;
  left:2px;
  top:7px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u8243 {
  position:absolute;
  left:212px;
  top:442px;
  width:105px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u8244 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u8245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u8245 {
  position:absolute;
  left:354px;
  top:442px;
  width:121px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u8246 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u8247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u8247 {
  position:absolute;
  left:486px;
  top:442px;
  width:105px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u8248 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u8249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:26px;
}
#u8249 {
  position:absolute;
  left:84px;
  top:482px;
  width:497px;
  height:26px;
}
#u8250 {
  position:absolute;
  left:2px;
  top:5px;
  width:493px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u8251 {
  position:absolute;
  left:80px;
  top:536px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u8252 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u8253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:2px;
}
#u8253 {
  position:absolute;
  left:204px;
  top:551px;
  width:436px;
  height:1px;
}
#u8254 {
  position:absolute;
  left:2px;
  top:-8px;
  width:432px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8255 {
  position:absolute;
  left:80px;
  top:580px;
  width:90px;
  height:90px;
}
#u8256 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8257 {
  position:absolute;
  left:188px;
  top:580px;
  width:90px;
  height:90px;
}
#u8258 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8259 {
  position:absolute;
  left:298px;
  top:580px;
  width:90px;
  height:90px;
}
#u8260 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u8261 {
  position:absolute;
  left:336px;
  top:481px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u8262 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u8263 {
  position:absolute;
  left:80px;
  top:697px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u8264 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u8265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u8265 {
  position:absolute;
  left:266px;
  top:697px;
  width:53px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u8266 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u8267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:72px;
}
#u8267 {
  position:absolute;
  left:196px;
  top:670px;
  width:60px;
  height:72px;
}
#u8268 {
  position:absolute;
  left:2px;
  top:28px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:70px;
}
#u8269 {
  position:absolute;
  left:334px;
  top:676px;
  width:80px;
  height:70px;
}
#u8270 {
  position:absolute;
  left:2px;
  top:27px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u8271 {
  position:absolute;
  left:414px;
  top:697px;
  width:53px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u8272 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u8273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u8273 {
  position:absolute;
  left:80px;
  top:396px;
  width:121px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u8274 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u8275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u8275 {
  position:absolute;
  left:212px;
  top:396px;
  width:74px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u8276 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u8277 {
  position:absolute;
  left:620px;
  top:149px;
  width:65px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8278 {
  position:absolute;
  left:323px;
  top:782px;
  width:328px;
  height:84px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8279 {
  position:absolute;
  left:75px;
  top:578px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8280_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u8280 {
  position:absolute;
  left:140px;
  top:580px;
  width:30px;
  height:30px;
}
#u8281 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8282 {
  position:absolute;
  left:0px;
  top:0px;
  visibility:hidden;
}
#u8282_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8282_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8283 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  opacity:0.800000011920929;
}
#u8284 {
  position:absolute;
  left:2px;
  top:504px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:310px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8285 {
  position:absolute;
  left:121px;
  top:260px;
  width:478px;
  height:310px;
}
#u8286 {
  position:absolute;
  left:2px;
  top:147px;
  width:474px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:90px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8287 {
  position:absolute;
  left:121px;
  top:480px;
  width:478px;
  height:90px;
}
#u8288 {
  position:absolute;
  left:2px;
  top:37px;
  width:474px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8289 {
  position:absolute;
  left:121px;
  top:260px;
  width:478px;
  height:40px;
}
#u8290 {
  position:absolute;
  left:2px;
  top:12px;
  width:474px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u8291 {
  position:absolute;
  left:553px;
  top:256px;
  width:46px;
  height:46px;
  opacity:0.800000011920929;
}
#u8292 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8293 {
  position:absolute;
  left:151px;
  top:334px;
  width:90px;
  height:90px;
}
#u8294 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
}
#u8295 {
  position:absolute;
  left:312px;
  top:266px;
  width:97px;
  height:28px;
  font-size:24px;
  color:#FFFFFF;
}
#u8296 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u8297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:43px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8297 {
  position:absolute;
  left:266px;
  top:325px;
  width:207px;
  height:43px;
}
#u8298 {
  position:absolute;
  left:2px;
  top:14px;
  width:203px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#949494;
}
#u8299 {
  position:absolute;
  left:274px;
  top:334px;
  width:101px;
  height:24px;
  font-size:20px;
  color:#949494;
}
#u8300 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u8301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#949494;
}
#u8301 {
  position:absolute;
  left:266px;
  top:384px;
  width:301px;
  height:48px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#949494;
}
#u8302 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  white-space:nowrap;
}
#u8303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#949494;
}
#u8303 {
  position:absolute;
  left:151px;
  top:506px;
  width:141px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#949494;
}
#u8304 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u8305 {
  position:absolute;
  left:549px;
  top:256px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:38px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8307 {
  position:absolute;
  left:236px;
  top:11px;
  width:136px;
  height:38px;
}
#u8308 {
  position:absolute;
  left:2px;
  top:11px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8309 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:38px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8310 {
  position:absolute;
  left:402px;
  top:11px;
  width:144px;
  height:38px;
}
#u8311 {
  position:absolute;
  left:2px;
  top:11px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u8312 {
  position:absolute;
  left:275px;
  top:19px;
  width:59px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u8313 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u8314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:39px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8314 {
  position:absolute;
  left:579px;
  top:11px;
  width:132px;
  height:39px;
}
#u8315 {
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u8316 {
  position:absolute;
  left:460px;
  top:19px;
  width:39px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u8317 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u8318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u8318 {
  position:absolute;
  left:620px;
  top:19px;
  width:66px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u8319 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u8320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u8320 {
  position:absolute;
  left:213px;
  top:4px;
  width:52px;
  height:52px;
}
#u8321 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:47px;
}
#u8322 {
  position:absolute;
  left:569px;
  top:7px;
  width:34px;
  height:47px;
}
#u8323 {
  position:absolute;
  left:2px;
  top:16px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u8324 {
  position:absolute;
  left:387px;
  top:4px;
  width:52px;
  height:52px;
}
#u8325 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:38px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8326 {
  position:absolute;
  left:64px;
  top:11px;
  width:139px;
  height:38px;
}
#u8327 {
  position:absolute;
  left:2px;
  top:11px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8328 {
  position:absolute;
  left:65px;
  top:12px;
  width:105px;
  height:36px;
}
#u8329 {
  position:absolute;
  left:2px;
  top:10px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:52px;
}
#u8330 {
  position:absolute;
  left:9px;
  top:4px;
  width:66px;
  height:52px;
}
#u8331 {
  position:absolute;
  left:2px;
  top:18px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#BCBCBC;
}
#u8332 {
  position:absolute;
  left:25px;
  top:14px;
  width:33px;
  height:33px;
  font-size:28px;
  color:#BCBCBC;
}
#u8333 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
