body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
}
#u4116 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  opacity:0.800000011920929;
}
#u4117 {
  position:absolute;
  left:2px;
  top:504px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
}
#u4118 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
}
#u4119 {
  position:absolute;
  left:2px;
  top:22px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:158px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
}
#u4120 {
  position:absolute;
  left:0px;
  top:866px;
  width:720px;
  height:158px;
}
#u4121 {
  position:absolute;
  left:2px;
  top:71px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u4122 {
  position:absolute;
  left:140px;
  top:906px;
  width:116px;
  height:116px;
}
#u4123 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:152px;
}
#u4124 {
  position:absolute;
  left:522px;
  top:870px;
  width:190px;
  height:152px;
}
#u4125 {
  position:absolute;
  left:2px;
  top:68px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u4126 {
  position:absolute;
  left:392px;
  top:907px;
  width:116px;
  height:116px;
}
#u4127 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u4128 {
  position:absolute;
  left:266px;
  top:906px;
  width:116px;
  height:116px;
}
#u4129 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u4130 {
  position:absolute;
  left:170px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u4131 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u4132 {
  position:absolute;
  left:592px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u4133 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u4134 {
  position:absolute;
  left:426px;
  top:995px;
  width:49px;
  height:28px;
  color:#999999;
}
#u4135 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u4136 {
  position:absolute;
  left:300px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u4137 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u4138 {
  position:absolute;
  left:14px;
  top:906px;
  width:116px;
  height:116px;
}
#u4139 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u4140 {
  position:absolute;
  left:46px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u4141 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#999999;
}
#u4142 {
  position:absolute;
  left:14px;
  top:874px;
  width:133px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#999999;
}
#u4143 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u4144 {
  position:absolute;
  left:3px;
  top:112px;
  width:715px;
  height:744px;
  overflow:hidden;
  touch-action:none;
}
#u4144_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:744px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4144_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4145 {
  position:absolute;
  left:0px;
  top:0px;
}
#u4145_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4145_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:240px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
}
#u4146 {
  position:absolute;
  left:7px;
  top:48px;
  width:700px;
  height:240px;
}
#u4147 {
  position:absolute;
  left:2px;
  top:112px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:240px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
}
#u4148 {
  position:absolute;
  left:7px;
  top:298px;
  width:700px;
  height:240px;
}
#u4149 {
  position:absolute;
  left:2px;
  top:112px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:240px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
}
#u4150 {
  position:absolute;
  left:7px;
  top:548px;
  width:700px;
  height:240px;
}
#u4151 {
  position:absolute;
  left:2px;
  top:112px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:308px;
}
#u4152 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:308px;
}
#u4153 {
  position:absolute;
  left:2px;
  top:146px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:36px;
  color:#999999;
}
#u4154 {
  position:absolute;
  left:331px;
  top:146px;
  width:109px;
  height:42px;
  font-size:36px;
  color:#999999;
}
#u4155 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u4156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u4156 {
  position:absolute;
  left:331px;
  top:198px;
  width:261px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u4157 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u4158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:28px;
  color:#999999;
}
#u4158 {
  position:absolute;
  left:593px;
  top:192px;
  width:85px;
  height:33px;
  font-size:28px;
  color:#999999;
}
#u4159 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:299px;
}
#u4160 {
  position:absolute;
  left:353px;
  top:250px;
  width:362px;
  height:299px;
}
#u4161 {
  position:absolute;
  left:2px;
  top:142px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:36px;
  color:#999999;
}
#u4162 {
  position:absolute;
  left:25px;
  top:318px;
  width:73px;
  height:42px;
  font-size:36px;
  color:#999999;
}
#u4163 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u4164 {
  position:absolute;
  left:25px;
  top:370px;
  width:261px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u4165 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u4166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:28px;
  color:#999999;
}
#u4166 {
  position:absolute;
  left:287px;
  top:362px;
  width:85px;
  height:33px;
  font-size:28px;
  color:#999999;
}
#u4167 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:36px;
  color:#999999;
}
#u4168 {
  position:absolute;
  left:331px;
  top:656px;
  width:145px;
  height:42px;
  font-size:36px;
  color:#999999;
}
#u4169 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u4170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u4170 {
  position:absolute;
  left:331px;
  top:708px;
  width:261px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u4171 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u4172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:28px;
  color:#999999;
}
#u4172 {
  position:absolute;
  left:593px;
  top:700px;
  width:85px;
  height:33px;
  font-size:28px;
  color:#999999;
}
#u4173 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:308px;
}
#u4174 {
  position:absolute;
  left:0px;
  top:502px;
  width:360px;
  height:308px;
}
#u4175 {
  position:absolute;
  left:2px;
  top:146px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:240px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
}
#u4176 {
  position:absolute;
  left:7px;
  top:802px;
  width:700px;
  height:240px;
}
#u4177 {
  position:absolute;
  left:2px;
  top:112px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:299px;
}
#u4178 {
  position:absolute;
  left:353px;
  top:754px;
  width:362px;
  height:299px;
}
#u4179 {
  position:absolute;
  left:2px;
  top:142px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:36px;
  color:#999999;
}
#u4180 {
  position:absolute;
  left:25px;
  top:822px;
  width:73px;
  height:42px;
  font-size:36px;
  color:#999999;
}
#u4181 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u4182 {
  position:absolute;
  left:25px;
  top:874px;
  width:261px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u4183 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u4184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:28px;
  color:#999999;
}
#u4184 {
  position:absolute;
  left:287px;
  top:866px;
  width:85px;
  height:33px;
  font-size:28px;
  color:#999999;
}
#u4185 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:240px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
}
#u4186 {
  position:absolute;
  left:7px;
  top:1055px;
  width:700px;
  height:240px;
}
#u4187 {
  position:absolute;
  left:2px;
  top:112px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:36px;
  color:#999999;
}
#u4188 {
  position:absolute;
  left:331px;
  top:1163px;
  width:145px;
  height:42px;
  font-size:36px;
  color:#999999;
}
#u4189 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u4190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u4190 {
  position:absolute;
  left:331px;
  top:1215px;
  width:261px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u4191 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u4192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:28px;
  color:#999999;
}
#u4192 {
  position:absolute;
  left:593px;
  top:1207px;
  width:85px;
  height:33px;
  font-size:28px;
  color:#999999;
}
#u4193 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:308px;
}
#u4194 {
  position:absolute;
  left:0px;
  top:1009px;
  width:360px;
  height:308px;
}
#u4195 {
  position:absolute;
  left:2px;
  top:146px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:240px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
}
#u4196 {
  position:absolute;
  left:7px;
  top:1309px;
  width:700px;
  height:240px;
}
#u4197 {
  position:absolute;
  left:2px;
  top:112px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:299px;
}
#u4198 {
  position:absolute;
  left:353px;
  top:1261px;
  width:362px;
  height:299px;
}
#u4199 {
  position:absolute;
  left:2px;
  top:142px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:36px;
  color:#999999;
}
#u4200 {
  position:absolute;
  left:25px;
  top:1329px;
  width:145px;
  height:42px;
  font-size:36px;
  color:#999999;
}
#u4201 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u4202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u4202 {
  position:absolute;
  left:25px;
  top:1381px;
  width:261px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u4203 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u4204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:28px;
  color:#999999;
}
#u4204 {
  position:absolute;
  left:287px;
  top:1373px;
  width:85px;
  height:33px;
  font-size:28px;
  color:#999999;
}
#u4205 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4206 {
  position:absolute;
  left:15px;
  top:48px;
  width:700px;
  height:240px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4207 {
  position:absolute;
  left:15px;
  top:298px;
  width:700px;
  height:240px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4208 {
  position:absolute;
  left:15px;
  top:548px;
  width:700px;
  height:240px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:136px;
}
#u4209 {
  position:absolute;
  left:0px;
  top:44px;
  width:106px;
  height:136px;
}
#u4210 {
  position:absolute;
  left:2px;
  top:60px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:90px;
}
#u4211 {
  position:absolute;
  left:116px;
  top:60px;
  width:80px;
  height:90px;
}
#u4212 {
  position:absolute;
  left:2px;
  top:37px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:97px;
}
#u4213 {
  position:absolute;
  left:206px;
  top:56px;
  width:105px;
  height:97px;
}
#u4214 {
  position:absolute;
  left:2px;
  top:41px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4215 {
  position:absolute;
  left:142px;
  top:906px;
  width:116px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4216 {
  position:absolute;
  left:268px;
  top:906px;
  width:116px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4217 {
  position:absolute;
  left:524px;
  top:870px;
  width:187px;
  height:152px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4218 {
  position:absolute;
  left:16px;
  top:906px;
  width:116px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
