body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1598px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
}
#u3649 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  opacity:0.800000011920929;
}
#u3650 {
  position:absolute;
  left:2px;
  top:504px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
}
#u3651 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
}
#u3652 {
  position:absolute;
  left:2px;
  top:22px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:158px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
}
#u3653 {
  position:absolute;
  left:0px;
  top:866px;
  width:720px;
  height:158px;
}
#u3654 {
  position:absolute;
  left:2px;
  top:71px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u3655 {
  position:absolute;
  left:140px;
  top:906px;
  width:116px;
  height:116px;
}
#u3656 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:152px;
}
#u3657 {
  position:absolute;
  left:522px;
  top:870px;
  width:190px;
  height:152px;
}
#u3658 {
  position:absolute;
  left:2px;
  top:68px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u3659 {
  position:absolute;
  left:392px;
  top:907px;
  width:116px;
  height:116px;
}
#u3660 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u3661 {
  position:absolute;
  left:266px;
  top:906px;
  width:116px;
  height:116px;
}
#u3662 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u3663 {
  position:absolute;
  left:170px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u3664 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u3665 {
  position:absolute;
  left:592px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u3666 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u3667 {
  position:absolute;
  left:426px;
  top:995px;
  width:49px;
  height:28px;
  color:#999999;
}
#u3668 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u3669 {
  position:absolute;
  left:300px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u3670 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u3671 {
  position:absolute;
  left:14px;
  top:906px;
  width:116px;
  height:116px;
}
#u3672 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u3673 {
  position:absolute;
  left:46px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u3674 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#999999;
}
#u3675 {
  position:absolute;
  left:14px;
  top:874px;
  width:133px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#999999;
}
#u3676 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u3677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:97px;
}
#u3677 {
  position:absolute;
  left:0px;
  top:769px;
  width:718px;
  height:97px;
}
#u3678 {
  position:absolute;
  left:2px;
  top:41px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  font-size:20px;
  color:#FFFFFF;
}
#u3679 {
  position:absolute;
  left:554px;
  top:786px;
  width:150px;
  height:62px;
  font-size:20px;
  color:#FFFFFF;
}
#u3680 {
  position:absolute;
  left:2px;
  top:23px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#FFFFFF;
}
#u3681 {
  position:absolute;
  left:582px;
  top:805px;
  width:97px;
  height:28px;
  color:#FFFFFF;
}
#u3682 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u3683 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
}
#u3684 {
  position:absolute;
  left:28px;
  top:787px;
  width:150px;
  height:62px;
}
#u3685 {
  position:absolute;
  left:2px;
  top:23px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u3686 {
  position:absolute;
  left:22px;
  top:786px;
  width:64px;
  height:64px;
}
#u3687 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#FFFFFF;
}
#u3688 {
  position:absolute;
  left:92px;
  top:805px;
  width:49px;
  height:28px;
  color:#FFFFFF;
}
#u3689 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  font-size:20px;
  color:#FFFFFF;
}
#u3690 {
  position:absolute;
  left:384px;
  top:786px;
  width:150px;
  height:62px;
  font-size:20px;
  color:#FFFFFF;
}
#u3691 {
  position:absolute;
  left:2px;
  top:23px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#FFFFFF;
}
#u3692 {
  position:absolute;
  left:424px;
  top:805px;
  width:73px;
  height:28px;
  color:#FFFFFF;
}
#u3693 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  font-size:20px;
  color:#FFFFFF;
}
#u3694 {
  position:absolute;
  left:210px;
  top:786px;
  width:150px;
  height:62px;
  font-size:20px;
  color:#FFFFFF;
}
#u3695 {
  position:absolute;
  left:2px;
  top:23px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#FFFFFF;
}
#u3696 {
  position:absolute;
  left:260px;
  top:805px;
  width:49px;
  height:28px;
  color:#FFFFFF;
}
#u3697 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:124px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3698 {
  position:absolute;
  left:0px;
  top:60px;
  width:720px;
  height:124px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3699 {
  position:absolute;
  left:2px;
  top:54px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u3700 {
  position:absolute;
  left:12px;
  top:64px;
  width:116px;
  height:116px;
}
#u3701 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u3702 {
  position:absolute;
  left:152px;
  top:80px;
  width:254px;
  height:36px;
  color:#999999;
}
#u3703 {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  white-space:nowrap;
}
#u3704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u3704 {
  position:absolute;
  left:152px;
  top:142px;
  width:121px;
  height:28px;
  color:#999999;
}
#u3705 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u3706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:44px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
}
#u3706 {
  position:absolute;
  left:470px;
  top:72px;
  width:248px;
  height:44px;
}
#u3707 {
  position:absolute;
  left:2px;
  top:14px;
  width:244px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u3708 {
  position:absolute;
  left:486px;
  top:80px;
  width:49px;
  height:28px;
  color:#999999;
}
#u3709 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u3710 {
  position:absolute;
  left:562px;
  top:72px;
  width:155px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u3711 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u3712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:2px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3712 {
  position:absolute;
  left:0px;
  top:311px;
  width:720px;
  height:2px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3713 {
  position:absolute;
  left:2px;
  top:-7px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u3714 {
  position:absolute;
  left:140px;
  top:203px;
  width:90px;
  height:90px;
}
#u3715 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u3716 {
  position:absolute;
  left:20px;
  top:227px;
  width:160px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u3717 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u3718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u3718 {
  position:absolute;
  left:261px;
  top:205px;
  width:169px;
  height:28px;
  color:#999999;
}
#u3719 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u3720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u3720 {
  position:absolute;
  left:261px;
  top:260px;
  width:199px;
  height:36px;
  color:#999999;
}
#u3721 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u3722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:69px;
}
#u3722 {
  position:absolute;
  left:262px;
  top:126px;
  width:80px;
  height:69px;
}
#u3723 {
  position:absolute;
  left:2px;
  top:27px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#999999;
}
#u3724 {
  position:absolute;
  left:342px;
  top:142px;
  width:65px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#999999;
}
#u3725 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u3726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:69px;
}
#u3726 {
  position:absolute;
  left:418px;
  top:126px;
  width:80px;
  height:69px;
}
#u3727 {
  position:absolute;
  left:2px;
  top:27px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#999999;
}
#u3728 {
  position:absolute;
  left:498px;
  top:142px;
  width:65px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#999999;
}
#u3729 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u3730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:69px;
}
#u3730 {
  position:absolute;
  left:554px;
  top:126px;
  width:80px;
  height:69px;
}
#u3731 {
  position:absolute;
  left:2px;
  top:27px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#999999;
}
#u3732 {
  position:absolute;
  left:634px;
  top:142px;
  width:65px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#999999;
}
#u3733 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u3734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:2px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3734 {
  position:absolute;
  left:0px;
  top:444px;
  width:720px;
  height:2px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3735 {
  position:absolute;
  left:2px;
  top:-7px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u3736 {
  position:absolute;
  left:140px;
  top:336px;
  width:90px;
  height:90px;
}
#u3737 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u3738 {
  position:absolute;
  left:20px;
  top:360px;
  width:160px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u3739 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u3740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u3740 {
  position:absolute;
  left:261px;
  top:338px;
  width:169px;
  height:28px;
  color:#999999;
}
#u3741 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u3742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u3742 {
  position:absolute;
  left:261px;
  top:393px;
  width:199px;
  height:36px;
  color:#999999;
}
#u3743 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u3744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:2px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3744 {
  position:absolute;
  left:0px;
  top:582px;
  width:720px;
  height:2px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3745 {
  position:absolute;
  left:2px;
  top:-7px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u3746 {
  position:absolute;
  left:140px;
  top:474px;
  width:90px;
  height:90px;
}
#u3747 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u3748 {
  position:absolute;
  left:20px;
  top:498px;
  width:160px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u3749 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u3750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u3750 {
  position:absolute;
  left:629px;
  top:479px;
  width:80px;
  height:80px;
}
#u3751 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#FFFFFF;
}
#u3752 {
  position:absolute;
  left:644px;
  top:505px;
  width:49px;
  height:28px;
  color:#FFFFFF;
}
#u3753 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u3754 {
  position:absolute;
  left:261px;
  top:474px;
  width:169px;
  height:28px;
  color:#999999;
}
#u3755 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u3756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u3756 {
  position:absolute;
  left:261px;
  top:528px;
  width:199px;
  height:36px;
  color:#999999;
}
#u3757 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u3758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:2px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3758 {
  position:absolute;
  left:0px;
  top:716px;
  width:720px;
  height:2px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3759 {
  position:absolute;
  left:2px;
  top:-7px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u3760 {
  position:absolute;
  left:140px;
  top:608px;
  width:90px;
  height:90px;
}
#u3761 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u3762 {
  position:absolute;
  left:20px;
  top:632px;
  width:160px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u3763 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u3764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u3764 {
  position:absolute;
  left:261px;
  top:610px;
  width:169px;
  height:28px;
  color:#999999;
}
#u3765 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u3766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u3766 {
  position:absolute;
  left:261px;
  top:664px;
  width:199px;
  height:36px;
  color:#999999;
}
#u3767 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u3768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u3768 {
  position:absolute;
  left:140px;
  top:728px;
  width:90px;
  height:48px;
}
#u3769 {
  position:absolute;
  left:2px;
  top:16px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u3770 {
  position:absolute;
  left:260px;
  top:744px;
  width:169px;
  height:28px;
  color:#999999;
}
#u3771 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u3772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u3772 {
  position:absolute;
  left:522px;
  top:479px;
  width:80px;
  height:80px;
}
#u3773 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#FFFFFF;
}
#u3774 {
  position:absolute;
  left:531px;
  top:505px;
  width:62px;
  height:28px;
  color:#FFFFFF;
}
#u3775 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u3776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u3776 {
  position:absolute;
  left:629px;
  top:341px;
  width:80px;
  height:80px;
}
#u3777 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#FFFFFF;
}
#u3778 {
  position:absolute;
  left:644px;
  top:367px;
  width:49px;
  height:28px;
  color:#FFFFFF;
}
#u3779 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u3780 {
  position:absolute;
  left:629px;
  top:208px;
  width:80px;
  height:80px;
}
#u3781 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#FFFFFF;
}
#u3782 {
  position:absolute;
  left:644px;
  top:234px;
  width:49px;
  height:28px;
  color:#FFFFFF;
}
#u3783 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u3784 {
  position:absolute;
  left:629px;
  top:613px;
  width:80px;
  height:80px;
}
#u3785 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#FFFFFF;
}
#u3786 {
  position:absolute;
  left:644px;
  top:639px;
  width:49px;
  height:28px;
  color:#FFFFFF;
}
#u3787 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3788_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
}
#u3788 {
  position:absolute;
  left:850px;
  top:0px;
  width:720px;
  height:1024px;
  opacity:0.800000011920929;
}
#u3789 {
  position:absolute;
  left:2px;
  top:504px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3790_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
}
#u3790 {
  position:absolute;
  left:850px;
  top:0px;
  width:720px;
  height:60px;
}
#u3791 {
  position:absolute;
  left:2px;
  top:22px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3792_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:158px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
}
#u3792 {
  position:absolute;
  left:850px;
  top:866px;
  width:720px;
  height:158px;
}
#u3793 {
  position:absolute;
  left:2px;
  top:71px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u3794 {
  position:absolute;
  left:992px;
  top:906px;
  width:116px;
  height:116px;
}
#u3795 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3796_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:152px;
}
#u3796 {
  position:absolute;
  left:1372px;
  top:870px;
  width:190px;
  height:152px;
}
#u3797 {
  position:absolute;
  left:2px;
  top:68px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u3798 {
  position:absolute;
  left:1242px;
  top:907px;
  width:116px;
  height:116px;
}
#u3799 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u3800 {
  position:absolute;
  left:1118px;
  top:906px;
  width:116px;
  height:116px;
}
#u3801 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u3802 {
  position:absolute;
  left:1022px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u3803 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u3804 {
  position:absolute;
  left:1442px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u3805 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u3806 {
  position:absolute;
  left:1276px;
  top:995px;
  width:49px;
  height:28px;
  color:#999999;
}
#u3807 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u3808 {
  position:absolute;
  left:1152px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u3809 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u3810 {
  position:absolute;
  left:866px;
  top:906px;
  width:116px;
  height:116px;
}
#u3811 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u3812 {
  position:absolute;
  left:898px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u3813 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:633px;
}
#u3814 {
  position:absolute;
  left:860px;
  top:127px;
  width:700px;
  height:633px;
}
#u3815 {
  position:absolute;
  left:2px;
  top:309px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:56px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
}
#u3816 {
  position:absolute;
  left:883px;
  top:71px;
  width:150px;
  height:56px;
}
#u3817 {
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
}
#u3818 {
  position:absolute;
  left:1036px;
  top:70px;
  width:160px;
  height:60px;
}
#u3819 {
  position:absolute;
  left:2px;
  top:22px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u3820 {
  position:absolute;
  left:934px;
  top:86px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u3821 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#999999;
}
#u3822 {
  position:absolute;
  left:866px;
  top:874px;
  width:133px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#999999;
}
#u3823 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u3824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:664px;
  height:139px;
}
#u3824 {
  position:absolute;
  left:878px;
  top:140px;
  width:664px;
  height:139px;
}
#u3825 {
  position:absolute;
  left:2px;
  top:62px;
  width:660px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  font-size:20px;
  color:#FFFFFF;
}
#u3826 {
  position:absolute;
  left:1380px;
  top:199px;
  width:150px;
  height:62px;
  font-size:20px;
  color:#FFFFFF;
}
#u3827 {
  position:absolute;
  left:2px;
  top:19px;
  width:146px;
  word-wrap:break-word;
}
#u3828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u3828 {
  position:absolute;
  left:1037px;
  top:156px;
  width:73px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u3829 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3830 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u3831 {
  position:absolute;
  left:906px;
  top:160px;
  width:100px;
  height:100px;
}
#u3832 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:97px;
}
#u3833 {
  position:absolute;
  left:904px;
  top:162px;
  width:105px;
  height:97px;
}
#u3834 {
  position:absolute;
  left:2px;
  top:41px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:72px;
}
#u3835 {
  position:absolute;
  left:1037px;
  top:194px;
  width:329px;
  height:72px;
}
#u3836 {
  position:absolute;
  left:2px;
  top:28px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u3837 {
  position:absolute;
  left:1094px;
  top:215px;
  width:56px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u3838 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u3839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u3839 {
  position:absolute;
  left:1373px;
  top:158px;
  width:165px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u3840 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u3841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:97px;
}
#u3841 {
  position:absolute;
  left:850px;
  top:769px;
  width:718px;
  height:97px;
}
#u3842 {
  position:absolute;
  left:2px;
  top:41px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3843 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
}
#u3844 {
  position:absolute;
  left:868px;
  top:787px;
  width:150px;
  height:62px;
}
#u3845 {
  position:absolute;
  left:2px;
  top:23px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u3846 {
  position:absolute;
  left:862px;
  top:786px;
  width:64px;
  height:64px;
}
#u3847 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#FFFFFF;
}
#u3848 {
  position:absolute;
  left:932px;
  top:805px;
  width:49px;
  height:28px;
  color:#FFFFFF;
}
#u3849 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u3850 {
  position:absolute;
  left:1087px;
  top:86px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u3851 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:70px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
}
#u3852 {
  position:absolute;
  left:1090px;
  top:786px;
  width:310px;
  height:70px;
}
#u3853 {
  position:absolute;
  left:2px;
  top:27px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u3854 {
  position:absolute;
  left:1286px;
  top:809px;
  width:56px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u3855 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u3856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u3856 {
  position:absolute;
  left:1107px;
  top:809px;
  width:121px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u3857 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u3858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:188px;
}
#u3858 {
  position:absolute;
  left:1333px;
  top:688px;
  width:265px;
  height:188px;
}
#u3859 {
  position:absolute;
  left:2px;
  top:86px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u3860 {
  position:absolute;
  left:1228px;
  top:795px;
  width:52px;
  height:52px;
}
#u3861 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u3862 {
  position:absolute;
  left:1042px;
  top:201px;
  width:52px;
  height:52px;
}
#u3863 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3864 {
  position:absolute;
  left:28px;
  top:786px;
  width:150px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
