body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2068 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  opacity:0.800000011920929;
}
#u2069 {
  position:absolute;
  left:2px;
  top:504px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2070 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
}
#u2071 {
  position:absolute;
  left:2px;
  top:22px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2072 {
  position:absolute;
  left:18px;
  top:132px;
}
#u2072_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2072_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2073 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  height:136px;
}
#u2074 {
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  height:136px;
}
#u2075 {
  position:absolute;
  left:2px;
  top:60px;
  width:678px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u2076 {
  position:absolute;
  left:128px;
  top:26px;
  width:186px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u2077 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  white-space:nowrap;
}
#u2078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u2078 {
  position:absolute;
  left:14px;
  top:23px;
  width:90px;
  height:90px;
}
#u2079 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u2080 {
  position:absolute;
  left:32px;
  top:41px;
  width:54px;
  height:54px;
}
#u2081 {
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
  background:inherit;
  background-color:rgba(204, 153, 0, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u2082 {
  position:absolute;
  left:514px;
  top:37px;
  width:150px;
  height:62px;
  font-size:20px;
  color:#FFFFFF;
}
#u2083 {
  position:absolute;
  left:2px;
  top:19px;
  width:146px;
  word-wrap:break-word;
}
#u2084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#BCBCBC;
}
#u2084 {
  position:absolute;
  left:128px;
  top:82px;
  width:67px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#BCBCBC;
}
#u2085 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u2086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#A1A1A1;
}
#u2086 {
  position:absolute;
  left:258px;
  top:83px;
  width:42px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#A1A1A1;
}
#u2087 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u2088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u2088 {
  position:absolute;
  left:195px;
  top:69px;
  width:52px;
  height:52px;
}
#u2089 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u2090 {
  position:absolute;
  left:344px;
  top:68px;
  width:54px;
  height:54px;
}
#u2091 {
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#A1A1A1;
}
#u2092 {
  position:absolute;
  left:408px;
  top:83px;
  width:62px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#A1A1A1;
}
#u2093 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u2094 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  height:136px;
}
#u2095 {
  position:absolute;
  left:0px;
  top:154px;
  width:682px;
  height:136px;
}
#u2096 {
  position:absolute;
  left:2px;
  top:60px;
  width:678px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u2097 {
  position:absolute;
  left:128px;
  top:180px;
  width:186px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u2098 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  white-space:nowrap;
}
#u2099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u2099 {
  position:absolute;
  left:14px;
  top:177px;
  width:90px;
  height:90px;
}
#u2100 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u2101 {
  position:absolute;
  left:32px;
  top:195px;
  width:54px;
  height:54px;
}
#u2102 {
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
  background:inherit;
  background-color:rgba(204, 153, 0, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u2103 {
  position:absolute;
  left:514px;
  top:191px;
  width:150px;
  height:62px;
  font-size:20px;
  color:#FFFFFF;
}
#u2104 {
  position:absolute;
  left:2px;
  top:19px;
  width:146px;
  word-wrap:break-word;
}
#u2105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#BCBCBC;
}
#u2105 {
  position:absolute;
  left:128px;
  top:236px;
  width:67px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#BCBCBC;
}
#u2106 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u2107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#A1A1A1;
}
#u2107 {
  position:absolute;
  left:258px;
  top:237px;
  width:42px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#A1A1A1;
}
#u2108 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u2109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u2109 {
  position:absolute;
  left:195px;
  top:223px;
  width:52px;
  height:52px;
}
#u2110 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u2111 {
  position:absolute;
  left:344px;
  top:222px;
  width:54px;
  height:54px;
}
#u2112 {
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#A1A1A1;
}
#u2113 {
  position:absolute;
  left:408px;
  top:237px;
  width:62px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#A1A1A1;
}
#u2114 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u2115 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  height:136px;
}
#u2116 {
  position:absolute;
  left:0px;
  top:310px;
  width:682px;
  height:136px;
}
#u2117 {
  position:absolute;
  left:2px;
  top:60px;
  width:678px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u2118 {
  position:absolute;
  left:128px;
  top:336px;
  width:186px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u2119 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  white-space:nowrap;
}
#u2120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u2120 {
  position:absolute;
  left:14px;
  top:333px;
  width:90px;
  height:90px;
}
#u2121 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u2122 {
  position:absolute;
  left:32px;
  top:351px;
  width:54px;
  height:54px;
}
#u2123 {
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
  background:inherit;
  background-color:rgba(204, 153, 0, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u2124 {
  position:absolute;
  left:514px;
  top:347px;
  width:150px;
  height:62px;
  font-size:20px;
  color:#FFFFFF;
}
#u2125 {
  position:absolute;
  left:2px;
  top:19px;
  width:146px;
  word-wrap:break-word;
}
#u2126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#BCBCBC;
}
#u2126 {
  position:absolute;
  left:128px;
  top:392px;
  width:67px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#BCBCBC;
}
#u2127 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u2128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#A1A1A1;
}
#u2128 {
  position:absolute;
  left:258px;
  top:393px;
  width:42px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#A1A1A1;
}
#u2129 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u2130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u2130 {
  position:absolute;
  left:195px;
  top:379px;
  width:52px;
  height:52px;
}
#u2131 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u2132 {
  position:absolute;
  left:344px;
  top:378px;
  width:54px;
  height:54px;
}
#u2133 {
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#A1A1A1;
}
#u2134 {
  position:absolute;
  left:408px;
  top:393px;
  width:62px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#A1A1A1;
}
#u2135 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u2136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:158px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2136 {
  position:absolute;
  left:0px;
  top:866px;
  width:720px;
  height:158px;
}
#u2137 {
  position:absolute;
  left:2px;
  top:71px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u2138 {
  position:absolute;
  left:140px;
  top:906px;
  width:116px;
  height:116px;
}
#u2139 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:152px;
}
#u2140 {
  position:absolute;
  left:520px;
  top:870px;
  width:190px;
  height:152px;
}
#u2141 {
  position:absolute;
  left:2px;
  top:68px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u2142 {
  position:absolute;
  left:390px;
  top:907px;
  width:116px;
  height:116px;
}
#u2143 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u2144 {
  position:absolute;
  left:266px;
  top:906px;
  width:116px;
  height:116px;
}
#u2145 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2146 {
  position:absolute;
  left:170px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u2147 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2148 {
  position:absolute;
  left:590px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u2149 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2150 {
  position:absolute;
  left:424px;
  top:995px;
  width:49px;
  height:28px;
  color:#999999;
}
#u2151 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2152 {
  position:absolute;
  left:300px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u2153 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u2154 {
  position:absolute;
  left:14px;
  top:906px;
  width:116px;
  height:116px;
}
#u2155 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2156 {
  position:absolute;
  left:46px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u2157 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:62px;
}
#u2158 {
  position:absolute;
  left:32px;
  top:70px;
  width:200px;
  height:62px;
}
#u2159 {
  position:absolute;
  left:2px;
  top:23px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:62px;
}
#u2160 {
  position:absolute;
  left:242px;
  top:70px;
  width:200px;
  height:62px;
}
#u2161 {
  position:absolute;
  left:2px;
  top:23px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#363636;
}
#u2162 {
  position:absolute;
  left:92px;
  top:89px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#363636;
}
#u2163 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#363636;
}
#u2164 {
  position:absolute;
  left:302px;
  top:89px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#363636;
}
#u2165 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:97px;
}
#u2166 {
  position:absolute;
  left:2px;
  top:769px;
  width:718px;
  height:97px;
}
#u2167 {
  position:absolute;
  left:2px;
  top:40px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2168 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
}
#u2169 {
  position:absolute;
  left:20px;
  top:787px;
  width:150px;
  height:62px;
}
#u2170 {
  position:absolute;
  left:2px;
  top:23px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u2171 {
  position:absolute;
  left:14px;
  top:786px;
  width:64px;
  height:64px;
}
#u2172 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2173 {
  position:absolute;
  left:84px;
  top:805px;
  width:49px;
  height:28px;
  color:#FFFFFF;
}
#u2174 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:62px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u2175 {
  position:absolute;
  left:261px;
  top:788px;
  width:200px;
  height:62px;
  font-size:20px;
  color:#FFFFFF;
}
#u2176 {
  position:absolute;
  left:2px;
  top:23px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2177 {
  position:absolute;
  left:313px;
  top:805px;
  width:97px;
  height:28px;
  color:#FFFFFF;
}
#u2178 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2179 {
  position:absolute;
  left:18px;
  top:132px;
  visibility:hidden;
}
#u2179_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2179_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2180 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  height:136px;
}
#u2181 {
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  height:136px;
}
#u2182 {
  position:absolute;
  left:2px;
  top:60px;
  width:678px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#BCBCBC;
}
#u2183 {
  position:absolute;
  left:128px;
  top:17px;
  width:113px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#BCBCBC;
}
#u2184 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u2185 {
  position:absolute;
  left:14px;
  top:23px;
  width:90px;
  height:90px;
}
#u2186 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
  background:inherit;
  background-color:rgba(204, 153, 0, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u2187 {
  position:absolute;
  left:514px;
  top:37px;
  width:150px;
  height:62px;
  font-size:20px;
  color:#FFFFFF;
}
#u2188 {
  position:absolute;
  left:2px;
  top:19px;
  width:146px;
  word-wrap:break-word;
}
#u2189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u2189 {
  position:absolute;
  left:128px;
  top:55px;
  width:345px;
  height:48px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u2190 {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  white-space:nowrap;
}
#u2191 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  height:136px;
}
#u2192 {
  position:absolute;
  left:0px;
  top:154px;
  width:682px;
  height:136px;
}
#u2193 {
  position:absolute;
  left:2px;
  top:60px;
  width:678px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#BCBCBC;
}
#u2194 {
  position:absolute;
  left:128px;
  top:171px;
  width:141px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#BCBCBC;
}
#u2195 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u2196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u2196 {
  position:absolute;
  left:14px;
  top:177px;
  width:90px;
  height:90px;
}
#u2197 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
  background:inherit;
  background-color:rgba(204, 153, 0, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u2198 {
  position:absolute;
  left:514px;
  top:191px;
  width:150px;
  height:62px;
  font-size:20px;
  color:#FFFFFF;
}
#u2199 {
  position:absolute;
  left:2px;
  top:19px;
  width:146px;
  word-wrap:break-word;
}
#u2200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u2200 {
  position:absolute;
  left:128px;
  top:209px;
  width:364px;
  height:48px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u2201 {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  white-space:nowrap;
}
#u2202 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  height:136px;
}
#u2203 {
  position:absolute;
  left:0px;
  top:310px;
  width:682px;
  height:136px;
}
#u2204 {
  position:absolute;
  left:2px;
  top:60px;
  width:678px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#BCBCBC;
}
#u2205 {
  position:absolute;
  left:128px;
  top:327px;
  width:113px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#BCBCBC;
}
#u2206 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u2207 {
  position:absolute;
  left:14px;
  top:333px;
  width:90px;
  height:90px;
}
#u2208 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
  background:inherit;
  background-color:rgba(204, 153, 0, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u2209 {
  position:absolute;
  left:514px;
  top:347px;
  width:150px;
  height:62px;
  font-size:20px;
  color:#FFFFFF;
}
#u2210 {
  position:absolute;
  left:2px;
  top:19px;
  width:146px;
  word-wrap:break-word;
}
#u2211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u2211 {
  position:absolute;
  left:128px;
  top:365px;
  width:361px;
  height:48px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u2212 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u2213 {
  position:absolute;
  left:32px;
  top:70px;
  width:200px;
  height:62px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2214 {
  position:absolute;
  left:242px;
  top:70px;
  width:200px;
  height:62px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2215 {
  position:absolute;
  left:20px;
  top:786px;
  width:150px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
