body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:736px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14575_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14575 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  opacity:0.800000011920929;
}
#u14576 {
  position:absolute;
  left:2px;
  top:504px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14577_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14577 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
}
#u14578 {
  position:absolute;
  left:2px;
  top:22px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14579_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:633px;
}
#u14579 {
  position:absolute;
  left:10px;
  top:127px;
  width:700px;
  height:633px;
}
#u14580 {
  position:absolute;
  left:2px;
  top:308px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14581_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:56px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14581 {
  position:absolute;
  left:33px;
  top:71px;
  width:150px;
  height:56px;
}
#u14582 {
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14583_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14583 {
  position:absolute;
  left:186px;
  top:70px;
  width:160px;
  height:60px;
}
#u14584 {
  position:absolute;
  left:2px;
  top:22px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14585_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u14585 {
  position:absolute;
  left:84px;
  top:86px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u14586 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u14587_img {
  position:absolute;
  left:0px;
  top:0px;
  width:664px;
  height:139px;
}
#u14587 {
  position:absolute;
  left:28px;
  top:140px;
  width:664px;
  height:139px;
}
#u14588 {
  position:absolute;
  left:2px;
  top:62px;
  width:660px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14589_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u14589 {
  position:absolute;
  left:530px;
  top:199px;
  width:150px;
  height:62px;
  font-size:20px;
  color:#FFFFFF;
}
#u14590 {
  position:absolute;
  left:2px;
  top:19px;
  width:146px;
  word-wrap:break-word;
}
#u14591_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u14591 {
  position:absolute;
  left:187px;
  top:156px;
  width:73px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u14592 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u14593 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14594_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u14594 {
  position:absolute;
  left:56px;
  top:160px;
  width:100px;
  height:100px;
}
#u14595 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14596_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:97px;
}
#u14596 {
  position:absolute;
  left:54px;
  top:162px;
  width:105px;
  height:97px;
}
#u14597 {
  position:absolute;
  left:2px;
  top:40px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14598_img {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:72px;
}
#u14598 {
  position:absolute;
  left:187px;
  top:194px;
  width:329px;
  height:72px;
}
#u14599 {
  position:absolute;
  left:2px;
  top:28px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14600_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u14600 {
  position:absolute;
  left:244px;
  top:215px;
  width:56px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u14601 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u14602_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u14602 {
  position:absolute;
  left:523px;
  top:158px;
  width:165px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u14603 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u14604_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u14604 {
  position:absolute;
  left:237px;
  top:86px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u14605 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u14606_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u14606 {
  position:absolute;
  left:192px;
  top:201px;
  width:52px;
  height:52px;
}
#u14607 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14608_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:38px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14608 {
  position:absolute;
  left:236px;
  top:11px;
  width:136px;
  height:38px;
}
#u14609 {
  position:absolute;
  left:2px;
  top:11px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14610_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:38px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14610 {
  position:absolute;
  left:402px;
  top:11px;
  width:144px;
  height:38px;
}
#u14611 {
  position:absolute;
  left:2px;
  top:11px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14612_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u14612 {
  position:absolute;
  left:275px;
  top:19px;
  width:59px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u14613 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u14614_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:39px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14614 {
  position:absolute;
  left:579px;
  top:11px;
  width:132px;
  height:39px;
}
#u14615 {
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14616_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u14616 {
  position:absolute;
  left:460px;
  top:19px;
  width:39px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u14617 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u14618_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u14618 {
  position:absolute;
  left:620px;
  top:19px;
  width:51px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u14619 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u14620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u14620 {
  position:absolute;
  left:213px;
  top:4px;
  width:52px;
  height:52px;
}
#u14621 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u14622 {
  position:absolute;
  left:387px;
  top:4px;
  width:52px;
  height:52px;
}
#u14623 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:38px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14624 {
  position:absolute;
  left:64px;
  top:11px;
  width:139px;
  height:38px;
}
#u14625 {
  position:absolute;
  left:2px;
  top:11px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14626 {
  position:absolute;
  left:65px;
  top:12px;
  width:105px;
  height:36px;
}
#u14627 {
  position:absolute;
  left:2px;
  top:10px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:52px;
}
#u14628 {
  position:absolute;
  left:9px;
  top:4px;
  width:66px;
  height:52px;
}
#u14629 {
  position:absolute;
  left:2px;
  top:18px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#BCBCBC;
}
#u14630 {
  position:absolute;
  left:25px;
  top:14px;
  width:33px;
  height:33px;
  font-size:28px;
  color:#BCBCBC;
}
#u14631 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u14632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u14632 {
  position:absolute;
  left:558px;
  top:4px;
  width:52px;
  height:52px;
}
#u14633 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:126px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14635 {
  position:absolute;
  left:0px;
  top:904px;
  width:720px;
  height:126px;
}
#u14636 {
  position:absolute;
  left:2px;
  top:55px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u14637 {
  position:absolute;
  left:135px;
  top:912px;
  width:116px;
  height:116px;
}
#u14638 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:116px;
}
#u14639 {
  position:absolute;
  left:505px;
  top:912px;
  width:212px;
  height:116px;
}
#u14640 {
  position:absolute;
  left:2px;
  top:50px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u14641 {
  position:absolute;
  left:385px;
  top:913px;
  width:116px;
  height:116px;
}
#u14642 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u14643 {
  position:absolute;
  left:261px;
  top:912px;
  width:116px;
  height:116px;
}
#u14644 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u14645 {
  position:absolute;
  left:172px;
  top:1000px;
  width:49px;
  height:28px;
  color:#999999;
}
#u14646 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u14647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u14647 {
  position:absolute;
  left:592px;
  top:1000px;
  width:49px;
  height:28px;
  color:#999999;
}
#u14648 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u14649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u14649 {
  position:absolute;
  left:426px;
  top:1001px;
  width:49px;
  height:28px;
  color:#999999;
}
#u14650 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u14651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u14651 {
  position:absolute;
  left:302px;
  top:1000px;
  width:49px;
  height:28px;
  color:#999999;
}
#u14652 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u14653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u14653 {
  position:absolute;
  left:9px;
  top:912px;
  width:116px;
  height:116px;
}
#u14654 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u14655 {
  position:absolute;
  left:48px;
  top:1000px;
  width:49px;
  height:28px;
  color:#999999;
}
#u14656 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u14657 {
  position:absolute;
  left:135px;
  top:912px;
  width:116px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14658 {
  position:absolute;
  left:388px;
  top:912px;
  width:116px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14659 {
  position:absolute;
  left:511px;
  top:912px;
  width:201px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14660 {
  position:absolute;
  left:261px;
  top:912px;
  width:117px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14661 {
  position:absolute;
  left:9px;
  top:912px;
  width:116px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:98px;
}
#u14663 {
  position:absolute;
  left:1px;
  top:806px;
  width:718px;
  height:98px;
}
#u14664 {
  position:absolute;
  left:2px;
  top:41px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:62px;
}
#u14665 {
  position:absolute;
  left:21px;
  top:824px;
  width:100px;
  height:62px;
}
#u14666 {
  position:absolute;
  left:2px;
  top:23px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u14667 {
  position:absolute;
  left:35px;
  top:823px;
  width:64px;
  height:64px;
}
#u14668 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:70px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14669 {
  position:absolute;
  left:228px;
  top:822px;
  width:310px;
  height:70px;
}
#u14670 {
  position:absolute;
  left:2px;
  top:27px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u14671 {
  position:absolute;
  left:424px;
  top:845px;
  width:56px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u14672 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u14673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u14673 {
  position:absolute;
  left:245px;
  top:845px;
  width:121px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u14674 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u14675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:188px;
}
#u14675 {
  position:absolute;
  left:471px;
  top:724px;
  width:265px;
  height:188px;
}
#u14676 {
  position:absolute;
  left:2px;
  top:86px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u14677 {
  position:absolute;
  left:366px;
  top:831px;
  width:52px;
  height:52px;
}
#u14678 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14679 {
  position:absolute;
  left:20px;
  top:824px;
  width:100px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
