body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:748px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
}
#u6434 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  opacity:0.800000011920929;
}
#u6435 {
  position:absolute;
  left:2px;
  top:504px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
}
#u6436 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
}
#u6437 {
  position:absolute;
  left:2px;
  top:22px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:158px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
}
#u6438 {
  position:absolute;
  left:0px;
  top:866px;
  width:720px;
  height:158px;
}
#u6439 {
  position:absolute;
  left:2px;
  top:71px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6440_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u6440 {
  position:absolute;
  left:142px;
  top:906px;
  width:116px;
  height:116px;
}
#u6441 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6442_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:152px;
}
#u6442 {
  position:absolute;
  left:522px;
  top:870px;
  width:190px;
  height:152px;
}
#u6443 {
  position:absolute;
  left:2px;
  top:68px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6444_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u6444 {
  position:absolute;
  left:392px;
  top:907px;
  width:116px;
  height:116px;
}
#u6445 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u6446 {
  position:absolute;
  left:268px;
  top:906px;
  width:116px;
  height:116px;
}
#u6447 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u6448 {
  position:absolute;
  left:172px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u6449 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u6450 {
  position:absolute;
  left:592px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u6451 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u6452 {
  position:absolute;
  left:426px;
  top:995px;
  width:49px;
  height:28px;
  color:#999999;
}
#u6453 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u6454 {
  position:absolute;
  left:302px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u6455 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u6456 {
  position:absolute;
  left:16px;
  top:906px;
  width:116px;
  height:116px;
}
#u6457 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u6458 {
  position:absolute;
  left:48px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u6459 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6460_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:633px;
}
#u6460 {
  position:absolute;
  left:10px;
  top:127px;
  width:700px;
  height:633px;
}
#u6461 {
  position:absolute;
  left:2px;
  top:309px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:56px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
}
#u6462 {
  position:absolute;
  left:33px;
  top:71px;
  width:150px;
  height:56px;
}
#u6463 {
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
}
#u6464 {
  position:absolute;
  left:186px;
  top:70px;
  width:160px;
  height:60px;
}
#u6465 {
  position:absolute;
  left:2px;
  top:22px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u6466 {
  position:absolute;
  left:84px;
  top:86px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u6467 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#999999;
}
#u6468 {
  position:absolute;
  left:16px;
  top:874px;
  width:133px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#999999;
}
#u6469 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u6470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:664px;
  height:139px;
}
#u6470 {
  position:absolute;
  left:28px;
  top:140px;
  width:664px;
  height:139px;
}
#u6471 {
  position:absolute;
  left:2px;
  top:62px;
  width:660px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  font-size:20px;
  color:#FFFFFF;
}
#u6472 {
  position:absolute;
  left:530px;
  top:199px;
  width:150px;
  height:62px;
  font-size:20px;
  color:#FFFFFF;
}
#u6473 {
  position:absolute;
  left:2px;
  top:19px;
  width:146px;
  word-wrap:break-word;
}
#u6474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u6474 {
  position:absolute;
  left:187px;
  top:156px;
  width:73px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u6475 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6476 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u6477 {
  position:absolute;
  left:56px;
  top:160px;
  width:100px;
  height:100px;
}
#u6478 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:97px;
}
#u6479 {
  position:absolute;
  left:54px;
  top:162px;
  width:105px;
  height:97px;
}
#u6480 {
  position:absolute;
  left:2px;
  top:41px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:72px;
}
#u6481 {
  position:absolute;
  left:187px;
  top:194px;
  width:329px;
  height:72px;
}
#u6482 {
  position:absolute;
  left:2px;
  top:28px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u6483 {
  position:absolute;
  left:244px;
  top:215px;
  width:56px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u6484 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u6485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u6485 {
  position:absolute;
  left:523px;
  top:158px;
  width:165px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u6486 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u6487_img {
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:97px;
}
#u6487 {
  position:absolute;
  left:0px;
  top:769px;
  width:718px;
  height:97px;
}
#u6488 {
  position:absolute;
  left:2px;
  top:41px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6489 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
}
#u6490 {
  position:absolute;
  left:18px;
  top:787px;
  width:150px;
  height:62px;
}
#u6491 {
  position:absolute;
  left:2px;
  top:23px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u6492 {
  position:absolute;
  left:12px;
  top:786px;
  width:64px;
  height:64px;
}
#u6493 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#FFFFFF;
}
#u6494 {
  position:absolute;
  left:82px;
  top:805px;
  width:49px;
  height:28px;
  color:#FFFFFF;
}
#u6495 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6496_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u6496 {
  position:absolute;
  left:237px;
  top:86px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u6497 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6498_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:70px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
}
#u6498 {
  position:absolute;
  left:240px;
  top:786px;
  width:310px;
  height:70px;
}
#u6499 {
  position:absolute;
  left:2px;
  top:27px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6500_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u6500 {
  position:absolute;
  left:436px;
  top:809px;
  width:56px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u6501 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u6502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u6502 {
  position:absolute;
  left:257px;
  top:809px;
  width:121px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u6503 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u6504_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:188px;
}
#u6504 {
  position:absolute;
  left:483px;
  top:688px;
  width:265px;
  height:188px;
}
#u6505 {
  position:absolute;
  left:2px;
  top:86px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6506_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u6506 {
  position:absolute;
  left:378px;
  top:795px;
  width:52px;
  height:52px;
}
#u6507 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6508_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u6508 {
  position:absolute;
  left:192px;
  top:201px;
  width:52px;
  height:52px;
}
#u6509 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6510 {
  position:absolute;
  left:18px;
  top:786px;
  width:150px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6511 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6512_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:24px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border-radius:3px;
}
#u6512 {
  position:absolute;
  left:69px;
  top:19px;
  width:99px;
  height:24px;
}
#u6513 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6514 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6515_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:26px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border-radius:3px;
}
#u6515 {
  position:absolute;
  left:224px;
  top:18px;
  width:114px;
  height:26px;
}
#u6516 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6517 {
  position:absolute;
  left:264px;
  top:20px;
  width:66px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6518 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u6519 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:26px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border-radius:3px;
}
#u6520 {
  position:absolute;
  left:391px;
  top:18px;
  width:114px;
  height:26px;
}
#u6521 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6522_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6522 {
  position:absolute;
  left:436px;
  top:20px;
  width:59px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6523 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u6524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:26px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border-radius:3px;
}
#u6524 {
  position:absolute;
  left:562px;
  top:18px;
  width:114px;
  height:26px;
}
#u6525 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6526_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6526 {
  position:absolute;
  left:626px;
  top:20px;
  width:39px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6527 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u6528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6528 {
  position:absolute;
  left:86px;
  top:20px;
  width:66px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6529 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u6530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u6530 {
  position:absolute;
  left:363px;
  top:5px;
  width:52px;
  height:52px;
}
#u6531 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u6532 {
  position:absolute;
  left:202px;
  top:5px;
  width:52px;
  height:52px;
}
#u6533 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6534_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:47px;
}
#u6534 {
  position:absolute;
  left:45px;
  top:8px;
  width:34px;
  height:47px;
}
#u6535 {
  position:absolute;
  left:2px;
  top:16px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6536_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u6536 {
  position:absolute;
  left:540px;
  top:5px;
  width:52px;
  height:52px;
}
#u6537 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
