body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:731px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4930 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  opacity:0.800000011920929;
}
#u4931 {
  position:absolute;
  left:2px;
  top:504px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4932 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
}
#u4933 {
  position:absolute;
  left:2px;
  top:22px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:158px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4934 {
  position:absolute;
  left:0px;
  top:867px;
  width:720px;
  height:158px;
}
#u4935 {
  position:absolute;
  left:2px;
  top:71px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u4936 {
  position:absolute;
  left:141px;
  top:901px;
  width:116px;
  height:116px;
}
#u4937 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:139px;
}
#u4938 {
  position:absolute;
  left:522px;
  top:878px;
  width:190px;
  height:139px;
}
#u4939 {
  position:absolute;
  left:2px;
  top:62px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u4940 {
  position:absolute;
  left:392px;
  top:902px;
  width:116px;
  height:116px;
}
#u4941 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u4942 {
  position:absolute;
  left:267px;
  top:901px;
  width:116px;
  height:116px;
}
#u4943 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4944 {
  position:absolute;
  left:171px;
  top:989px;
  width:49px;
  height:28px;
  color:#999999;
}
#u4945 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4946 {
  position:absolute;
  left:592px;
  top:989px;
  width:49px;
  height:28px;
  color:#999999;
}
#u4947 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4948 {
  position:absolute;
  left:426px;
  top:990px;
  width:49px;
  height:28px;
  color:#999999;
}
#u4949 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4950 {
  position:absolute;
  left:301px;
  top:989px;
  width:49px;
  height:28px;
  color:#999999;
}
#u4951 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u4952 {
  position:absolute;
  left:15px;
  top:901px;
  width:116px;
  height:116px;
}
#u4953 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4954 {
  position:absolute;
  left:47px;
  top:989px;
  width:49px;
  height:28px;
  color:#999999;
}
#u4955 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#999999;
}
#u4956 {
  position:absolute;
  left:15px;
  top:872px;
  width:111px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#999999;
}
#u4957 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u4958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:97px;
}
#u4958 {
  position:absolute;
  left:1px;
  top:771px;
  width:718px;
  height:97px;
}
#u4959 {
  position:absolute;
  left:2px;
  top:40px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4960 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:62px;
}
#u4961 {
  position:absolute;
  left:30px;
  top:789px;
  width:150px;
  height:62px;
}
#u4962 {
  position:absolute;
  left:2px;
  top:23px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u4963 {
  position:absolute;
  left:24px;
  top:788px;
  width:64px;
  height:64px;
}
#u4964 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u4965 {
  position:absolute;
  left:94px;
  top:807px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u4966 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u4967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:638px;
}
#u4967 {
  position:absolute;
  left:9px;
  top:125px;
  width:704px;
  height:638px;
}
#u4968 {
  position:absolute;
  left:2px;
  top:311px;
  width:700px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:56px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4969 {
  position:absolute;
  left:189px;
  top:68px;
  width:150px;
  height:56px;
}
#u4970 {
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:56px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4971 {
  position:absolute;
  left:39px;
  top:68px;
  width:150px;
  height:56px;
}
#u4972 {
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:56px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4973 {
  position:absolute;
  left:641px;
  top:68px;
  width:42px;
  height:56px;
}
#u4974 {
  position:absolute;
  left:2px;
  top:20px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:56px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4975 {
  position:absolute;
  left:489px;
  top:68px;
  width:150px;
  height:56px;
}
#u4976 {
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:65px;
}
#u4977 {
  position:absolute;
  left:667px;
  top:61px;
  width:64px;
  height:65px;
  opacity:0.5;
}
#u4978 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u4979 {
  position:absolute;
  left:89px;
  top:84px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u4980 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u4981 {
  position:absolute;
  left:233px;
  top:84px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u4982 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u4983 {
  position:absolute;
  left:541px;
  top:84px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u4984 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  height:179px;
}
#u4985 {
  position:absolute;
  left:19px;
  top:571px;
  width:688px;
  height:179px;
}
#u4986 {
  position:absolute;
  left:2px;
  top:82px;
  width:684px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:258px;
}
#u4987 {
  position:absolute;
  left:177px;
  top:189px;
  width:363px;
  height:258px;
}
#u4988 {
  position:absolute;
  left:2px;
  top:121px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4989 {
  position:absolute;
  left:339px;
  top:67px;
  width:160px;
  height:60px;
}
#u4990 {
  position:absolute;
  left:2px;
  top:22px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u4991 {
  position:absolute;
  left:393px;
  top:84px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u4992 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:46px;
}
#u4993 {
  position:absolute;
  left:229px;
  top:135px;
  width:281px;
  height:46px;
}
#u4994 {
  position:absolute;
  left:2px;
  top:15px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#999999;
}
#u4995 {
  position:absolute;
  left:243px;
  top:141px;
  width:253px;
  height:33px;
  font-size:28px;
  color:#999999;
}
#u4996 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u4997 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:78px;
}
#u4998 {
  position:absolute;
  left:39px;
  top:406px;
  width:315px;
  height:78px;
  opacity:0.699999988079071;
}
#u4999 {
  position:absolute;
  left:2px;
  top:31px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5000 {
  position:absolute;
  left:77px;
  top:418px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5001 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u5002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:50px;
}
#u5002 {
  position:absolute;
  left:19px;
  top:422px;
  width:49px;
  height:50px;
}
#u5003 {
  position:absolute;
  left:2px;
  top:17px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:22px;
}
#u5004 {
  position:absolute;
  left:77px;
  top:456px;
  width:216px;
  height:22px;
}
#u5005 {
  position:absolute;
  left:2px;
  top:3px;
  width:212px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
}
#u5006 {
  position:absolute;
  left:79px;
  top:457px;
  width:169px;
  height:20px;
}
#u5007 {
  position:absolute;
  left:2px;
  top:2px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5008 {
  position:absolute;
  left:131px;
  top:418px;
  width:66px;
  height:28px;
  color:#999999;
}
#u5009 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u5010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5010 {
  position:absolute;
  left:207px;
  top:418px;
  width:90px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5011 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u5012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#7FBA00;
}
#u5012 {
  position:absolute;
  left:301px;
  top:429px;
  width:49px;
  height:33px;
  font-size:28px;
  color:#7FBA00;
}
#u5013 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:2px;
}
#u5014 {
  position:absolute;
  left:77px;
  top:448px;
  width:220px;
  height:1px;
}
#u5015 {
  position:absolute;
  left:2px;
  top:-8px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5016 {
  position:absolute;
  left:31px;
  top:583px;
  width:431px;
  height:41px;
}
#u5017 {
  position:absolute;
  left:2px;
  top:12px;
  width:427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:41px;
}
#u5018 {
  position:absolute;
  left:31px;
  top:640px;
  width:431px;
  height:41px;
}
#u5019 {
  position:absolute;
  left:2px;
  top:12px;
  width:427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:41px;
}
#u5020 {
  position:absolute;
  left:31px;
  top:697px;
  width:431px;
  height:41px;
}
#u5021 {
  position:absolute;
  left:2px;
  top:12px;
  width:427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:65px;
}
#u5022 {
  position:absolute;
  left:9px;
  top:571px;
  width:64px;
  height:65px;
  opacity:0.5;
}
#u5023 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5024 {
  position:absolute;
  left:83px;
  top:592px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5025 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u5026 {
  position:absolute;
  left:173px;
  top:559px;
  width:70px;
  height:70px;
}
#u5027 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u5028 {
  position:absolute;
  left:173px;
  top:621px;
  width:70px;
  height:70px;
}
#u5029 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u5030 {
  position:absolute;
  left:173px;
  top:682px;
  width:70px;
  height:70px;
}
#u5031 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5032 {
  position:absolute;
  left:500px;
  top:588px;
  width:87px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5033 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u5034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:64px;
}
#u5034 {
  position:absolute;
  left:307px;
  top:633px;
  width:80px;
  height:64px;
}
#u5035 {
  position:absolute;
  left:2px;
  top:24px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u5036 {
  position:absolute;
  left:381px;
  top:650px;
  width:66px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u5037 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u5038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#999999;
}
#u5038 {
  position:absolute;
  left:241px;
  top:644px;
  width:17px;
  height:33px;
  font-size:28px;
  color:#999999;
}
#u5039 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u5040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#999999;
}
#u5040 {
  position:absolute;
  left:279px;
  top:644px;
  width:17px;
  height:33px;
  font-size:28px;
  color:#999999;
}
#u5041 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u5042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#999999;
}
#u5042 {
  position:absolute;
  left:241px;
  top:587px;
  width:17px;
  height:33px;
  font-size:28px;
  color:#999999;
}
#u5043 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u5044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#999999;
}
#u5044 {
  position:absolute;
  left:241px;
  top:701px;
  width:17px;
  height:33px;
  font-size:28px;
  color:#999999;
}
#u5045 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u5046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u5046 {
  position:absolute;
  left:381px;
  top:707px;
  width:66px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u5047 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u5048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#999999;
}
#u5048 {
  position:absolute;
  left:279px;
  top:701px;
  width:17px;
  height:33px;
  font-size:28px;
  color:#999999;
}
#u5049 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u5050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:69px;
}
#u5050 {
  position:absolute;
  left:307px;
  top:688px;
  width:80px;
  height:69px;
}
#u5051 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5052 {
  position:absolute;
  left:83px;
  top:649px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5053 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5054 {
  position:absolute;
  left:83px;
  top:705px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5055 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5056 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:78px;
}
#u5057 {
  position:absolute;
  left:39px;
  top:488px;
  width:315px;
  height:78px;
}
#u5058 {
  position:absolute;
  left:2px;
  top:31px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5059 {
  position:absolute;
  left:77px;
  top:500px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5060 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u5061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:50px;
}
#u5061 {
  position:absolute;
  left:19px;
  top:504px;
  width:49px;
  height:50px;
}
#u5062 {
  position:absolute;
  left:2px;
  top:17px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:22px;
}
#u5063 {
  position:absolute;
  left:77px;
  top:538px;
  width:216px;
  height:22px;
}
#u5064 {
  position:absolute;
  left:2px;
  top:3px;
  width:212px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
}
#u5065 {
  position:absolute;
  left:79px;
  top:539px;
  width:169px;
  height:20px;
}
#u5066 {
  position:absolute;
  left:2px;
  top:2px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5067 {
  position:absolute;
  left:131px;
  top:500px;
  width:66px;
  height:28px;
  color:#999999;
}
#u5068 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u5069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5069 {
  position:absolute;
  left:207px;
  top:500px;
  width:90px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5070 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u5071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#7FBA00;
}
#u5071 {
  position:absolute;
  left:301px;
  top:511px;
  width:49px;
  height:33px;
  font-size:28px;
  color:#7FBA00;
}
#u5072 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:2px;
}
#u5073 {
  position:absolute;
  left:77px;
  top:530px;
  width:220px;
  height:1px;
}
#u5074 {
  position:absolute;
  left:2px;
  top:-8px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5075 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:78px;
}
#u5076 {
  position:absolute;
  left:383px;
  top:406px;
  width:315px;
  height:78px;
  opacity:0.699999988079071;
}
#u5077 {
  position:absolute;
  left:2px;
  top:31px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5078 {
  position:absolute;
  left:423px;
  top:418px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5079 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u5080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:50px;
}
#u5080 {
  position:absolute;
  left:363px;
  top:422px;
  width:49px;
  height:50px;
}
#u5081 {
  position:absolute;
  left:2px;
  top:17px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:22px;
}
#u5082 {
  position:absolute;
  left:423px;
  top:456px;
  width:216px;
  height:22px;
}
#u5083 {
  position:absolute;
  left:2px;
  top:3px;
  width:212px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
}
#u5084 {
  position:absolute;
  left:423px;
  top:457px;
  width:169px;
  height:20px;
}
#u5085 {
  position:absolute;
  left:2px;
  top:2px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5086 {
  position:absolute;
  left:477px;
  top:418px;
  width:66px;
  height:28px;
  color:#999999;
}
#u5087 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u5088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5088 {
  position:absolute;
  left:553px;
  top:418px;
  width:90px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5089 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u5090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#7FBA00;
}
#u5090 {
  position:absolute;
  left:645px;
  top:429px;
  width:49px;
  height:33px;
  font-size:28px;
  color:#7FBA00;
}
#u5091 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:2px;
}
#u5092 {
  position:absolute;
  left:423px;
  top:448px;
  width:220px;
  height:1px;
}
#u5093 {
  position:absolute;
  left:2px;
  top:-8px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5094 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:78px;
}
#u5095 {
  position:absolute;
  left:383px;
  top:488px;
  width:315px;
  height:78px;
}
#u5096 {
  position:absolute;
  left:2px;
  top:31px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5097 {
  position:absolute;
  left:423px;
  top:500px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5098 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u5099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:50px;
}
#u5099 {
  position:absolute;
  left:363px;
  top:504px;
  width:49px;
  height:50px;
}
#u5100 {
  position:absolute;
  left:2px;
  top:17px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:22px;
}
#u5101 {
  position:absolute;
  left:423px;
  top:538px;
  width:216px;
  height:22px;
}
#u5102 {
  position:absolute;
  left:2px;
  top:3px;
  width:212px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
}
#u5103 {
  position:absolute;
  left:423px;
  top:539px;
  width:169px;
  height:20px;
}
#u5104 {
  position:absolute;
  left:2px;
  top:2px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5105 {
  position:absolute;
  left:477px;
  top:500px;
  width:66px;
  height:28px;
  color:#999999;
}
#u5106 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u5107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5107 {
  position:absolute;
  left:553px;
  top:500px;
  width:90px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5108 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u5109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#7FBA00;
}
#u5109 {
  position:absolute;
  left:645px;
  top:511px;
  width:49px;
  height:33px;
  font-size:28px;
  color:#7FBA00;
}
#u5110 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:2px;
}
#u5111 {
  position:absolute;
  left:423px;
  top:530px;
  width:220px;
  height:1px;
}
#u5112 {
  position:absolute;
  left:2px;
  top:-8px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u5113 {
  position:absolute;
  left:500px;
  top:644px;
  width:90px;
  height:90px;
}
#u5114 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u5115 {
  position:absolute;
  left:510px;
  top:654px;
  width:70px;
  height:70px;
}
#u5116 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#999999;
}
#u5117 {
  position:absolute;
  left:600px;
  top:673px;
  width:84px;
  height:33px;
  font-size:28px;
  color:#999999;
}
#u5118 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u5119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:62px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u5119 {
  position:absolute;
  left:260px;
  top:789px;
  width:200px;
  height:62px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u5120 {
  position:absolute;
  left:2px;
  top:19px;
  width:196px;
  word-wrap:break-word;
}
#u5121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:62px;
  background:inherit;
  background-color:rgba(204, 153, 0, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u5121 {
  position:absolute;
  left:479px;
  top:789px;
  width:61px;
  height:62px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u5122 {
  position:absolute;
  left:2px;
  top:23px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:64px;
}
#u5123 {
  position:absolute;
  left:477px;
  top:788px;
  width:66px;
  height:64px;
}
#u5124 {
  position:absolute;
  left:2px;
  top:24px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5125 {
  position:absolute;
  left:187px;
  top:66px;
  width:150px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5126 {
  position:absolute;
  left:337px;
  top:66px;
  width:150px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5127 {
  position:absolute;
  left:489px;
  top:66px;
  width:150px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5128 {
  position:absolute;
  left:27px;
  top:66px;
  width:160px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5129 {
  position:absolute;
  left:30px;
  top:789px;
  width:150px;
  height:62px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5130 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:24px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5131 {
  position:absolute;
  left:69px;
  top:19px;
  width:99px;
  height:24px;
}
#u5132 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5133 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:26px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5134 {
  position:absolute;
  left:260px;
  top:18px;
  width:114px;
  height:26px;
}
#u5135 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5136 {
  position:absolute;
  left:300px;
  top:20px;
  width:71px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5137 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5138 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:26px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5139 {
  position:absolute;
  left:427px;
  top:18px;
  width:114px;
  height:26px;
}
#u5140 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5141 {
  position:absolute;
  left:472px;
  top:20px;
  width:59px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5142 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u5143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:26px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5143 {
  position:absolute;
  left:598px;
  top:18px;
  width:114px;
  height:26px;
}
#u5144 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5145 {
  position:absolute;
  left:662px;
  top:20px;
  width:39px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5146 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u5147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u5147 {
  position:absolute;
  left:399px;
  top:5px;
  width:52px;
  height:52px;
}
#u5148 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u5149 {
  position:absolute;
  left:576px;
  top:5px;
  width:52px;
  height:52px;
}
#u5150 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u5151 {
  position:absolute;
  left:234px;
  top:11px;
  width:57px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u5152 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5153 {
  position:absolute;
  left:9px;
  top:18px;
  width:51px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5154 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u5155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:26px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5155 {
  position:absolute;
  left:70px;
  top:19px;
  width:149px;
  height:26px;
}
#u5156 {
  position:absolute;
  left:2px;
  top:5px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5157 {
  position:absolute;
  left:71px;
  top:20px;
  width:78px;
  height:24px;
}
#u5158 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
