body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17020 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  opacity:0.800000011920929;
}
#u17021 {
  position:absolute;
  left:2px;
  top:504px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17022 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
}
#u17023 {
  position:absolute;
  left:2px;
  top:22px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:124px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17024 {
  position:absolute;
  left:0px;
  top:901px;
  width:720px;
  height:124px;
}
#u17025 {
  position:absolute;
  left:2px;
  top:54px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u17026 {
  position:absolute;
  left:142px;
  top:907px;
  width:116px;
  height:116px;
}
#u17027 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:115px;
}
#u17028 {
  position:absolute;
  left:522px;
  top:908px;
  width:190px;
  height:115px;
}
#u17029 {
  position:absolute;
  left:2px;
  top:50px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u17030 {
  position:absolute;
  left:392px;
  top:908px;
  width:116px;
  height:116px;
}
#u17031 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u17032 {
  position:absolute;
  left:268px;
  top:907px;
  width:116px;
  height:116px;
}
#u17033 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u17034 {
  position:absolute;
  left:172px;
  top:995px;
  width:49px;
  height:28px;
  color:#999999;
}
#u17035 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u17036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u17036 {
  position:absolute;
  left:592px;
  top:995px;
  width:49px;
  height:28px;
  color:#999999;
}
#u17037 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u17038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u17038 {
  position:absolute;
  left:426px;
  top:996px;
  width:49px;
  height:28px;
  color:#999999;
}
#u17039 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u17040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u17040 {
  position:absolute;
  left:302px;
  top:995px;
  width:49px;
  height:28px;
  color:#999999;
}
#u17041 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u17042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u17042 {
  position:absolute;
  left:16px;
  top:907px;
  width:116px;
  height:116px;
}
#u17043 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u17044 {
  position:absolute;
  left:48px;
  top:995px;
  width:49px;
  height:28px;
  color:#999999;
}
#u17045 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u17046 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:154px;
}
#u17047 {
  position:absolute;
  left:365px;
  top:245px;
  width:335px;
  height:154px;
}
#u17048 {
  position:absolute;
  left:2px;
  top:69px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:126px;
}
#u17049 {
  position:absolute;
  left:404px;
  top:273px;
  width:296px;
  height:126px;
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  transform:rotate(360deg);
}
#u17050 {
  position:absolute;
  left:2px;
  top:55px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#999999;
}
#u17051 {
  position:absolute;
  left:387px;
  top:257px;
  width:73px;
  height:42px;
  font-size:36px;
  color:#999999;
}
#u17052 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u17053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u17053 {
  position:absolute;
  left:387px;
  top:300px;
  width:58px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u17054 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u17055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u17055 {
  position:absolute;
  left:598px;
  top:306px;
  width:90px;
  height:85px;
}
#u17056 {
  position:absolute;
  left:2px;
  top:34px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17057 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:154px;
}
#u17058 {
  position:absolute;
  left:20px;
  top:409px;
  width:335px;
  height:154px;
}
#u17059 {
  position:absolute;
  left:2px;
  top:69px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:126px;
}
#u17060 {
  position:absolute;
  left:59px;
  top:437px;
  width:296px;
  height:126px;
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  transform:rotate(360deg);
}
#u17061 {
  position:absolute;
  left:2px;
  top:55px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#999999;
}
#u17062 {
  position:absolute;
  left:42px;
  top:421px;
  width:73px;
  height:42px;
  font-size:36px;
  color:#999999;
}
#u17063 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u17064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u17064 {
  position:absolute;
  left:42px;
  top:464px;
  width:58px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u17065 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u17066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u17066 {
  position:absolute;
  left:253px;
  top:470px;
  width:90px;
  height:85px;
}
#u17067 {
  position:absolute;
  left:2px;
  top:34px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17068 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:154px;
}
#u17069 {
  position:absolute;
  left:365px;
  top:409px;
  width:335px;
  height:154px;
}
#u17070 {
  position:absolute;
  left:2px;
  top:69px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:126px;
}
#u17071 {
  position:absolute;
  left:404px;
  top:437px;
  width:296px;
  height:126px;
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  transform:rotate(360deg);
}
#u17072 {
  position:absolute;
  left:2px;
  top:55px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#999999;
}
#u17073 {
  position:absolute;
  left:387px;
  top:421px;
  width:73px;
  height:42px;
  font-size:36px;
  color:#999999;
}
#u17074 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u17075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u17075 {
  position:absolute;
  left:387px;
  top:464px;
  width:58px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u17076 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u17077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u17077 {
  position:absolute;
  left:598px;
  top:470px;
  width:90px;
  height:85px;
}
#u17078 {
  position:absolute;
  left:2px;
  top:34px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17079 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:154px;
}
#u17080 {
  position:absolute;
  left:20px;
  top:573px;
  width:335px;
  height:154px;
}
#u17081 {
  position:absolute;
  left:2px;
  top:69px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:126px;
}
#u17082 {
  position:absolute;
  left:59px;
  top:601px;
  width:296px;
  height:126px;
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  transform:rotate(360deg);
}
#u17083 {
  position:absolute;
  left:2px;
  top:55px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#999999;
}
#u17084 {
  position:absolute;
  left:42px;
  top:585px;
  width:73px;
  height:42px;
  font-size:36px;
  color:#999999;
}
#u17085 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u17086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u17086 {
  position:absolute;
  left:42px;
  top:628px;
  width:58px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u17087 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u17088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u17088 {
  position:absolute;
  left:253px;
  top:634px;
  width:90px;
  height:85px;
}
#u17089 {
  position:absolute;
  left:2px;
  top:34px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17090 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:154px;
}
#u17091 {
  position:absolute;
  left:365px;
  top:573px;
  width:335px;
  height:154px;
}
#u17092 {
  position:absolute;
  left:2px;
  top:69px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:126px;
}
#u17093 {
  position:absolute;
  left:404px;
  top:601px;
  width:296px;
  height:126px;
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  transform:rotate(360deg);
}
#u17094 {
  position:absolute;
  left:2px;
  top:55px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#999999;
}
#u17095 {
  position:absolute;
  left:387px;
  top:585px;
  width:73px;
  height:42px;
  font-size:36px;
  color:#999999;
}
#u17096 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u17097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u17097 {
  position:absolute;
  left:387px;
  top:628px;
  width:58px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u17098 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u17099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u17099 {
  position:absolute;
  left:598px;
  top:634px;
  width:90px;
  height:85px;
}
#u17100 {
  position:absolute;
  left:2px;
  top:34px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17101 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:154px;
}
#u17102 {
  position:absolute;
  left:20px;
  top:737px;
  width:335px;
  height:154px;
}
#u17103 {
  position:absolute;
  left:2px;
  top:69px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:126px;
}
#u17104 {
  position:absolute;
  left:59px;
  top:765px;
  width:296px;
  height:126px;
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  transform:rotate(360deg);
}
#u17105 {
  position:absolute;
  left:2px;
  top:55px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#999999;
}
#u17106 {
  position:absolute;
  left:42px;
  top:749px;
  width:73px;
  height:42px;
  font-size:36px;
  color:#999999;
}
#u17107 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u17108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u17108 {
  position:absolute;
  left:42px;
  top:792px;
  width:58px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u17109 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u17110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u17110 {
  position:absolute;
  left:253px;
  top:798px;
  width:90px;
  height:85px;
}
#u17111 {
  position:absolute;
  left:2px;
  top:34px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17112 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:154px;
}
#u17113 {
  position:absolute;
  left:365px;
  top:737px;
  width:335px;
  height:154px;
}
#u17114 {
  position:absolute;
  left:2px;
  top:69px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:126px;
}
#u17115 {
  position:absolute;
  left:404px;
  top:765px;
  width:296px;
  height:126px;
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  transform:rotate(360deg);
}
#u17116 {
  position:absolute;
  left:2px;
  top:55px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#999999;
}
#u17117 {
  position:absolute;
  left:387px;
  top:749px;
  width:73px;
  height:42px;
  font-size:36px;
  color:#999999;
}
#u17118 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u17119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u17119 {
  position:absolute;
  left:387px;
  top:792px;
  width:58px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u17120 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u17121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u17121 {
  position:absolute;
  left:598px;
  top:798px;
  width:90px;
  height:85px;
}
#u17122 {
  position:absolute;
  left:2px;
  top:34px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17123 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:62px;
}
#u17124 {
  position:absolute;
  left:16px;
  top:824px;
  width:105px;
  height:62px;
}
#u17125 {
  position:absolute;
  left:2px;
  top:23px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u17126 {
  position:absolute;
  left:34px;
  top:823px;
  width:64px;
  height:64px;
}
#u17127 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:239px;
}
#u17128 {
  position:absolute;
  left:7px;
  top:66px;
  width:285px;
  height:239px;
}
#u17129 {
  position:absolute;
  left:2px;
  top:112px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17130 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:154px;
}
#u17131 {
  position:absolute;
  left:20px;
  top:245px;
  width:335px;
  height:154px;
}
#u17132 {
  position:absolute;
  left:2px;
  top:69px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:126px;
}
#u17133 {
  position:absolute;
  left:59px;
  top:273px;
  width:296px;
  height:126px;
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  transform:rotate(360deg);
}
#u17134 {
  position:absolute;
  left:2px;
  top:55px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#999999;
}
#u17135 {
  position:absolute;
  left:42px;
  top:257px;
  width:73px;
  height:42px;
  font-size:36px;
  color:#999999;
}
#u17136 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u17137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u17137 {
  position:absolute;
  left:42px;
  top:300px;
  width:58px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u17138 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u17139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u17139 {
  position:absolute;
  left:253px;
  top:306px;
  width:90px;
  height:85px;
}
#u17140 {
  position:absolute;
  left:2px;
  top:34px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:102px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17141 {
  position:absolute;
  left:247px;
  top:78px;
  width:338px;
  height:102px;
}
#u17142 {
  position:absolute;
  left:2px;
  top:43px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#A1A1A1;
}
#u17143 {
  position:absolute;
  left:269px;
  top:93px;
  width:301px;
  height:48px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#A1A1A1;
}
#u17144 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  white-space:nowrap;
}
#u17145 {
  position:absolute;
  left:17px;
  top:820px;
  width:102px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17146 {
  position:absolute;
  left:20px;
  top:245px;
  width:335px;
  height:154px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17147_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u17147 {
  position:absolute;
  left:325px;
  top:245px;
  width:30px;
  height:30px;
}
#u17148 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17149 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
}
#u17150 {
  position:absolute;
  left:2px;
  top:22px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:38px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17152 {
  position:absolute;
  left:236px;
  top:11px;
  width:136px;
  height:38px;
}
#u17153 {
  position:absolute;
  left:2px;
  top:11px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:38px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17154 {
  position:absolute;
  left:402px;
  top:11px;
  width:144px;
  height:38px;
}
#u17155 {
  position:absolute;
  left:2px;
  top:11px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u17156 {
  position:absolute;
  left:275px;
  top:19px;
  width:59px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u17157 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u17158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:39px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17158 {
  position:absolute;
  left:579px;
  top:11px;
  width:132px;
  height:39px;
}
#u17159 {
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u17160 {
  position:absolute;
  left:460px;
  top:19px;
  width:39px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u17161 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u17162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u17162 {
  position:absolute;
  left:620px;
  top:19px;
  width:66px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u17163 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u17164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u17164 {
  position:absolute;
  left:213px;
  top:4px;
  width:52px;
  height:52px;
}
#u17165 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u17166 {
  position:absolute;
  left:387px;
  top:4px;
  width:52px;
  height:52px;
}
#u17167 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:38px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17168 {
  position:absolute;
  left:64px;
  top:11px;
  width:139px;
  height:38px;
}
#u17169 {
  position:absolute;
  left:2px;
  top:11px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17170 {
  position:absolute;
  left:65px;
  top:12px;
  width:105px;
  height:36px;
}
#u17171 {
  position:absolute;
  left:2px;
  top:10px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:52px;
}
#u17172 {
  position:absolute;
  left:9px;
  top:4px;
  width:66px;
  height:52px;
}
#u17173 {
  position:absolute;
  left:2px;
  top:18px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#BCBCBC;
}
#u17174 {
  position:absolute;
  left:25px;
  top:14px;
  width:33px;
  height:33px;
  font-size:28px;
  color:#BCBCBC;
}
#u17175 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u17176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u17176 {
  position:absolute;
  left:556px;
  top:4px;
  width:52px;
  height:52px;
}
#u17177 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:126px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17179 {
  position:absolute;
  left:0px;
  top:898px;
  width:720px;
  height:126px;
}
#u17180 {
  position:absolute;
  left:2px;
  top:55px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u17181 {
  position:absolute;
  left:135px;
  top:906px;
  width:116px;
  height:116px;
}
#u17182 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:116px;
}
#u17183 {
  position:absolute;
  left:505px;
  top:906px;
  width:212px;
  height:116px;
}
#u17184 {
  position:absolute;
  left:2px;
  top:50px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u17185 {
  position:absolute;
  left:385px;
  top:907px;
  width:116px;
  height:116px;
}
#u17186 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u17187 {
  position:absolute;
  left:261px;
  top:906px;
  width:116px;
  height:116px;
}
#u17188 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u17189 {
  position:absolute;
  left:172px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u17190 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u17191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u17191 {
  position:absolute;
  left:592px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u17192 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u17193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u17193 {
  position:absolute;
  left:426px;
  top:995px;
  width:49px;
  height:28px;
  color:#999999;
}
#u17194 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u17195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u17195 {
  position:absolute;
  left:302px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u17196 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u17197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u17197 {
  position:absolute;
  left:9px;
  top:906px;
  width:116px;
  height:116px;
}
#u17198 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u17199 {
  position:absolute;
  left:48px;
  top:994px;
  width:49px;
  height:28px;
  color:#999999;
}
#u17200 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u17201 {
  position:absolute;
  left:135px;
  top:906px;
  width:116px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17202 {
  position:absolute;
  left:388px;
  top:906px;
  width:116px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17203 {
  position:absolute;
  left:511px;
  top:906px;
  width:201px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17204 {
  position:absolute;
  left:261px;
  top:906px;
  width:117px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17205 {
  position:absolute;
  left:9px;
  top:906px;
  width:116px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17206 {
  position:absolute;
  left:0px;
  top:-1px;
  visibility:hidden;
}
#u17206_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u17206_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17207 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1024px;
  opacity:0.800000011920929;
}
#u17208 {
  position:absolute;
  left:2px;
  top:504px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:625px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17209 {
  position:absolute;
  left:20px;
  top:164px;
  width:680px;
  height:625px;
}
#u17210 {
  position:absolute;
  left:2px;
  top:304px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17211 {
  position:absolute;
  left:20px;
  top:164px;
  width:680px;
  height:40px;
}
#u17212 {
  position:absolute;
  left:2px;
  top:12px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
}
#u17213 {
  position:absolute;
  left:311px;
  top:170px;
  width:97px;
  height:28px;
  font-size:24px;
  color:#FFFFFF;
}
#u17214 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u17215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u17215 {
  position:absolute;
  left:654px;
  top:161px;
  width:46px;
  height:46px;
  opacity:0.800000011920929;
}
#u17216 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:97px;
}
#u17217 {
  position:absolute;
  left:20px;
  top:692px;
  width:680px;
  height:97px;
}
#u17218 {
  position:absolute;
  left:2px;
  top:40px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:62px;
  background:inherit;
  background-color:rgba(127, 186, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u17219 {
  position:absolute;
  left:260px;
  top:710px;
  width:200px;
  height:62px;
  font-size:20px;
  color:#FFFFFF;
}
#u17220 {
  position:absolute;
  left:2px;
  top:23px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u17221 {
  position:absolute;
  left:270px;
  top:729px;
  width:49px;
  height:28px;
  color:#FFFFFF;
}
#u17222 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u17223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u17223 {
  position:absolute;
  left:381px;
  top:725px;
  width:65px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u17224 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u17225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:145px;
}
#u17225 {
  position:absolute;
  left:283px;
  top:291px;
  width:154px;
  height:145px;
}
#u17226 {
  position:absolute;
  left:2px;
  top:64px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17227 {
  position:absolute;
  left:191px;
  top:226px;
  width:338px;
  height:42px;
}
#u17228 {
  position:absolute;
  left:2px;
  top:13px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#999999;
}
#u17229 {
  position:absolute;
  left:306px;
  top:226px;
  width:109px;
  height:42px;
  font-size:36px;
  color:#999999;
}
#u17230 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u17231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:56px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17231 {
  position:absolute;
  left:50px;
  top:489px;
  width:620px;
  height:56px;
}
#u17232 {
  position:absolute;
  left:2px;
  top:20px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u17233 {
  position:absolute;
  left:60px;
  top:495px;
  width:109px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u17234 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u17235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#999999;
}
#u17235 {
  position:absolute;
  left:425px;
  top:496px;
  width:21px;
  height:42px;
  font-size:36px;
  color:#999999;
}
#u17236 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u17237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:63px;
}
#u17237 {
  position:absolute;
  left:486px;
  top:485px;
  width:65px;
  height:63px;
  opacity:0.6;
}
#u17238 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#7FBA00;
}
#u17239 {
  position:absolute;
  left:584px;
  top:496px;
  width:21px;
  height:42px;
  font-size:36px;
  color:#7FBA00;
}
#u17240 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u17241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:62px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17241 {
  position:absolute;
  left:50px;
  top:566px;
  width:620px;
  height:62px;
}
#u17242 {
  position:absolute;
  left:2px;
  top:23px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u17243 {
  position:absolute;
  left:60px;
  top:573px;
  width:181px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u17244 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u17245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#999999;
}
#u17245 {
  position:absolute;
  left:405px;
  top:576px;
  width:74px;
  height:42px;
  font-size:36px;
  color:#999999;
}
#u17246 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u17247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:63px;
}
#u17247 {
  position:absolute;
  left:486px;
  top:565px;
  width:65px;
  height:63px;
  opacity:0.6;
}
#u17248 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#7FBA00;
}
#u17249 {
  position:absolute;
  left:564px;
  top:576px;
  width:74px;
  height:42px;
  font-size:36px;
  color:#7FBA00;
}
#u17250 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u17251 {
  position:absolute;
  left:654px;
  top:161px;
  width:43px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u17252 {
  position:absolute;
  left:340px;
  top:722px;
  width:40px;
  height:40px;
}
#u17253 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
